@font-face {
  font-family: NBI Pro Mono;
  font-style: normal;
  font-weight: 400;
  src: local('NBI Pro Mono'), local('nbi-pro-mono'), url(../fonts/nbi-pro-mono.woff2) format("woff2"), 
      local('NBI Pro Mono'), local('nbi-pro-mono'), url(../fonts/nbi-pro-mono.woff) format("woff")
}

@font-face {
  font-family: NBI Pro Light;
  font-style: normal;
  font-weight: 400;
  src: local('NBI Pro Light'), local('nbi-pro-light'),url(../fonts/nbi-pro-light.woff2) format("woff2"), 
      local('NBI Pro Light'), local('nbi-pro-light'),url(../fonts/nbi-pro-light.woff) format("woff")
}

@font-face {
  font-family: NBI Pro Regular;
  font-style: normal;
  font-weight: 400;
  src: local('NBI Pro Regular'), local('nbi-pro-regular'), url(../fonts/nbi-pro-regular.woff2) format("woff2"), 
      local('NBI Pro Regular'), local('nbi-pro-regular'), url(../fonts/nbi-pro-regular.woff) format("woff")
}

@font-face {
  font-family: NBI Pro Medium;
  font-style: normal;
  font-weight: 400;
  src: local('NBI Pro Medium'), local('nbi-pro-medium'), url(../fonts/nbi-pro-medium.woff2) format("woff2"), 
  local('NBI Pro Medium'), local('nbi-pro-medium'), url(../fonts/nbi-pro-medium.woff) format("woff")
}

@font-face {
  font-family: NBI Pro Bold;
  font-style: normal;
  font-weight: 400;
  src: local('NBI Pro Bold'), local('nbi-pro-bold'), url(../fonts/nbi-pro-bold.woff2) format("woff2"), 
      local('NBI Pro Bold'), local('nbi-pro-bold'), url(../fonts/nbi-pro-bold.woff) format("woff")
}

body {
  font-family: 'Rubik', sans-serif;
  color: #232729;
  font-size: 14px;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #232729;
  font-style: normal;
  font-weight: 700;
}

p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #232729;
  line-height: 20px;
}

.main-wrapper {
  width: 100%;
  position: relative;
  height: auto;
  overflow-x: hidden;
}

a, a:hover, a:focus {
  text-decoration: none;
}
.page-wrapper{
  overflow-x: hidden;
}

/* ************************************************
  Home Header CSS
************************************************ */

.header {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  opacity: 1;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  font-family: inherit;
  z-index: 99;
  transition: top .2s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.header.header-fixed {
  background: rgba(255, 255, 255, .97);
  transition: all .4s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.header .navbar-default {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}

.header .navbar-brand {
  padding-top: 0px;
}

.header .navbar-brand .navbar-logo {
  max-width: 220px;
}
.header .navbar-nav li {
  margin-bottom: 0px;
}
.header .navbar-default .navbar-nav>li>a {
  padding: 25px 15px;
  white-space: normal;
  color: #6b7c8d;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.flipper .front {
  width: 100%;
  height: 220px;
  position: relative;
  border-radius: 5px;
  background-color: #EB4021;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .navbar-default .navbar-nav>.open>a, .header .navbar-default .navbar-nav>.open>a:focus, .header .navbar-default .navbar-nav>.open>a:hover {
  background: #fff;
  color: #716b79 !important;
}

.header .navbar-default .navbar-nav li:hover a.main-nav-link, .header .navbar-default .navbar-nav li:focus a.main-nav-link {
  background: #fff;
  color: #716b79;
}

.header .navbar-default .navbar-nav li.service-dropdown {
  position: relative;
}

@media (min-width: 768px) {
  .nav li:hover>ul.dropdown-menu {
    display: block;
  }
}

.header .navbar-default .navbar-nav li.service-dropdown.dropdown.open ul.dropdown-menu {
  border: 0px;
  border-radius: 0px;
  float: left;
  height: auto;
  list-style-type: none;
  box-shadow: none;
}

.header .navbar-default .navbar-nav .service-dropdown .dropdown-menu {
  min-width: 33%;
  border: none;
  border-radius: 0px;
  padding: 15px 0px;
}

.header .navbar-default .navbar-nav .service-dropdown .dropdown-menu .dropdown-submenu {
  position: static;
  padding: 0px 15px;
  display: block;
}

.header .navbar-default .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 0px;
  min-height: 215px;
  max-height: 435px;
}

.header .navbar-default .dropdown-submenu:hover>a:after {
  border-left-color: #555;
}

.header .navbar-default .dropdown-menu>li>a:hover, .header .navbar-default .dropdown-menu>.active>a:hover {
  text-decoration: none;
}

.header .navbar-default .service-dropdown .dropdown-menu>li>a {
  padding: 8px 15px;
  border-bottom: 1px solid #f5f5f5;
}

.header .navbar-default .service-dropdown .dropdown-submenu>.dropdown-menu {
  background: #fff;
  width: max-content;
}

.header .navbar-default .service-dropdown .dropdown-submenu>.dropdown-menu li a {
  text-decoration: none;
  color: #232729;
  padding: 5px 10px;
}

.header .navbar-default .service-dropdown>.dropdown-menu>.dropdown-submenu>.dropdown-menu {
  background: #f8f8f8;
  width: 100%;
}

.header .navbar-default .navbar-nav>li.header-btn a {
  background: #EB4021;
  padding: 10px 20px;
  color: #fff;
  margin-top: 13px;
  border-radius: 30px;
}

.header .navbar-default .navbar-nav>li.header-btn a:hover {
  background: #EB4021;
}

@media (max-width: 767px) {
  .header .navbar-brand .navbar-logo {
    max-width: 200px;
  }
}

/* ************************************************
  Main Body CSS
************************************************ */

.full-width-banner {
  width: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  background: linear-gradient(245deg, #cadafb, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .full-width-banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
  background: rgba(0,0,0,.4);
}
.full-width-banner .container{
  z-index: 2;
  position: relative;
} */

.full-width-banner .banner-headline {
  padding: 110px 0 80px;
}

.banner-title {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin: 0;
  color: #EB4021;
  text-transform: uppercase;
}

h3.banner-title-slogan {
  font-size: 20px;
  margin: 10px 0 30px 0;
  font-weight: 400;
  line-height: 1.5;
}

.esprigas-banner-stats {
  width: 74%;
  float: left;
  position: relative;
  margin: 50px auto 30px;
  clear: both;
}

.banner-stats-title {
  font-size: 50px;
  font-weight: 700;
  color: #001874;
  display: block;
  margin-bottom: 40px;
}

.banner-stats-text {
  font-size: 16px;
  font-weight: 400;
}

.esprigas-form-wrapper {
  width: 100%;
  float: left;
  position: relative;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .08);
  border-radius: 1rem;
  z-index: 2;
}

.esprigas-form-wrapper .form-control, .login-right .form-control {
  height: 42px;
  border-color: #ced4da;
  color: #232e45;
  background: #ffffff;
  border-radius: 0.25rem;
  border-radius: 30px;
  box-shadow: none;
}

.esprigas-form-wrapper .form-control:hover {
  border-color: #EB4021;
}

.esprigas-form-wrapper .form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}

.esprigas-form-wrapper .form-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 32px;
}

.btn-secondary.btn-common-orange {
  background: #EB4021!important;
  border-color: #EB4021!important;
  color: #fff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
}

.banner-headline .esprigas-form-wrapper .control-label {
  font-weight: 500;
}

/* ************************************************
  Home Services CSS
************************************************ */

.align-item-center {
  align-items: center;
}

.bg-color-white {
  width: 100%;
  float: left;
  position: relative;
  padding: 60px 0px;
  background: #fff;
  clear: both;
}

.bg-color-grey {
  width: 100%;
  float: left;
  position: relative;
  padding: 60px 0px;
  clear: both;
  background: #f3f5f7;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  min-height: 225px;
}

.services .icon-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}

.services .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}

.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #2a2c39;
  transition: ease-in-out 0.3s;
}

.services .description {
  font-size: 16px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

/* ************************************************
  Home FAQ CSS
************************************************ */

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eee;
}

.panel-default>.panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #fafafa;
  border-color: #eee;
}

h3.panel-title {
  padding: 0;
}

h3.panel-title>a {
  display: block;
  padding: 7px 15px;
  text-decoration: none;
  line-height: 28px;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
}

.more-less {
  float: right;
  color: #666;
  margin-top: 7px;
  font-size: 12px;
}

.bg-color-grey .panel-group .panel, .bg-color-white .panel-group .panel {
  margin-bottom: 15px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .3);
  border-radius: 0;
  border-color: #eee;
}

.bg-color-grey .panel-default>.panel-heading {
  /* background-color: #fff; */
  padding: 0;
}

.bg-color-grey .panel-default>.panel-heading .panel-title a, .bg-color-white .panel-default>.panel-heading .panel-title a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
}

/* Footer CSS */

.footer {
  width: 100%;
  float: left;
  padding: 15px 0;
  background-color: #EB4021;
}

.footer .copyright {
  margin-top: 5px;
  color: #fff;
}

.footer .copyright a {
  color: #fff;
}

.footer .copyright a:hover {
  color: #ccc;
}

/* ************************************************
  Back to Top CSS
************************************************ */

.back-to-top {
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #EB4021;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 6px 6px 13px 0 rgba(42, 67, 113, .2);
  -webkit-box-shadow: 6px 6px 13px 0 rgba(42, 67, 113, .2);
  -moz-box-shadow: 6px 6px 13px 0 rgba(42, 67, 113, .2);
}

.back-to-top:hover {
  background-color: #d01c3d;
  color: #fff;
}

/* ************************************************
  Call to actin  CSS
************************************************ */

.call-to-action {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  padding: 60px 0px;
  background-color: #EB4021;
  text-align: center;
}

.call-to-action-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 26px;
  text-transform: none;
  letter-spacing: 0px;
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.call-to-action-tagline {
  color: #fff;
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
  font-family: inherit;
  margin: 0px;
  margin-bottom: 30px;
  font-size: 16px;
}

.btn-secondary.btn-common-white {
  background: #EB4021!important;
  border-color: #fff!important;
  color: #ffffff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
  border-width: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-secondary.btn-common-white:hover, .btn-secondary.btn-common-border-white:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: .3s;
  transition: .3s;
  background: #ffffff !important;
  color: #EB4021 !important;
}

.btn-secondary.btn-common-border-white {
  background: transparent!important;
  border-color: #EB4021!important;
  color: #EB4021!important;
  font-weight: 700!important;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid #fff;
}

.btn-secondary.btn-common-border-white.btn-product:hover {
  background: #EB4021 !important;
  color: #fff !important;
}

.btn-secondary.btn-common-white.chat-us {
  background: #ffffff !important;
  color: #000 !important;
}

.btn-secondary.btn-common-border-white.chat-us {
  border-color: #fff !important;
  color: #ffffff !important;
}

.btn-secondary.btn-common-border-white.chat-us:hover {
  color: #000 !important;
}

.btn-secondary.btn-common-white.chat-us:hover {
  background: transparent !important;
  color: #fff !important;
}

.btn-common-white.btn-product:hover {
  background: #ffffff !important;
  color: #EB4021 !important;
  border-color: #EB4021 !important;
}

/* Trust section */

.trust-sect {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  padding: 60px 0px;
  background-color: #fff;
  text-align: center;
}

.trust-icon {
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}

.trust-title {
  font-size: 16px;
  color: #000!important;
  font-weight: 700!important;
}

.product-items {
  /* width:100%;
  height:220px;
  position: relative;
  border-radius: 5px;
  background-color:#EB4021;
  text-align: center;
  padding: 60px 30px; */
}

.product-name {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  line-height: 1.5;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.back {
  background: lightblue;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flipper:hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

}

.bulklbps {
  background-image: #EB4021 url(../images/TMG-Cylinders.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(244, 0, 0, .1);
  z-index: 1;
  padding: 60px 30px;
}

.web-info-container {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 25px;
}

.column-container {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(103, 151, 255, .09), 0 4px 6px 0 rgba(103, 151, 255, .09);
  transition: 300ms all cubic-bezier(.4, 0, .2, 1);
}

.web-info-container .column-container .social-icon {
  font-size: 24px;
  color: #3b5999;
  margin-bottom: 5px;
}

.web-info-container .column-container a:hover {
  text-decoration: none;
}

.web-info-container .column-container a {
  color: #001874;
}

.web-info-container .column-container a span {
  display: block;
}

.column-container:hover, .column-container.active {
  background: #fafafa;
  border: 1px solid #EB4021;
  color: #EB4021;
}

.column-container.active .no-of-users {
  color: #EB4021;
}

.column-container.active .active-status {
  background: #EB4021;
  border-color: #990000;
  box-shadow: 0px 4px 10px -3px rgb(244 0 0 / 47%);
  height: 24px;
  width: 24px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}

.column-container.active .active-status::after {
  content: "";
  height: 14px;
  width: 7px;
  position: absolute;
  z-index: 1;
  border: 2px solid #ffffff;
  transform: rotate(45deg);
  border-left: 0;
  border-top: 0;
  top: 4px;
  left: 8px;
}

.box-background {
  background-image: url(../images/pageelements.png), url(../images/pageelements.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 0px, 0px 90%;
  background-size: contain, contain;
  margin-top: 0px;
  padding-top: 60px;
}

.box-background .page-title {
  margin-top: 140px;
}

.textCommon {
  font-size: 16px;
  line-height: 24px;
}

/* Cart DropDown */

ul.dropdown-cart {
  min-width: 250px;
}

ul.dropdown-cart li .item {
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
  background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left {
  float: left;
}

ul.dropdown-cart li .item-left img, ul.dropdown-cart li .item-left span.item-info {
  float: left;
}

ul.dropdown-cart li .item-left img {
  max-width: 50px;
}

ul.dropdown-cart li .item-left span.item-info {
  margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
  display: block;
}

ul.dropdown-cart li .item-right {
  float: right;
}

ul.dropdown-cart li .item-right button {
  margin-top: 14px;
}

.mycart .badge {
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  border-radius: 50%;
  width: 20px;
  color: #EB4021;
  /* display: flex; */
  left: 20px;
  text-align: center;
  line-height: 1.2;
  border: 1px solid #e20202;
  padding: 3px 5px;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.text-muted {
  color: #6c757d!important;
}

.float-right {
  float: right!important;
}

/* Login CSS */

.login-box {
  position: relative;
  display: flex;
}

.login-left {
  width: 34%;
  background-color: #efefef;
  color: #fff;
  text-align: center;
  padding: 40px 25px;
  position: relative;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.topShape {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60%;
}

.bottomShape {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 55%;
}

.login-left-img {
  max-width: 100%;
  width: 260px;
}

.login-left h2 {
  font-size: 20px;
  margin-top: 0;
}

.login-left h2, .login-left p {
  /* color:#fff; */
}

.login-right {
  width: 66%;
  padding: 56px 35px;
  position: relative;
  background-color: #fff;
}

.login-right .form-control {
  height: 44px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0;
}

.close {
  position: absolute;
  background: #ffffff !important;
  right: -10px;
  top: -10px;
  color: #232729;
  z-index: 8;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  opacity: 1;
}

button.action-close {
  position: absolute;
  background: #ffffff !important;
  right: -10px;
  top: -10px;
  color: #232729;
  z-index: 8;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  opacity: 1;
}

.forget-pass {
  margin-top: 20px;
  color: #232729;
  text-align: center;
}

.forget-pass a {
  color: #EB4021;
}

input[type=checkbox] {
  margin-top: 3px;
}

.login-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.checkbox-right {
  text-align: right;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox.float-left {
  float: left;
}

.button.close {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.close:hover {
  opacity: 1 !important;
}

.close:focus, .close:hover {
  opacity: 1;
}

/* Product List and Details Section */

.products-details-section {
  width: 100%;
  float: left;
  padding: 24px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 10px 2px rgba(195, 192, 192, .2);
}

.products-details-section .product-heading {
  font-size: 20px;
  margin: 0px;
  font-weight: 700;
  margin-bottom: 15px;
}

.products-details-section .product-name {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  color: #232729;
}

.order-info {
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #e3e3e3;
}

.order-info .order-date, .order-info .delivery-date {
  padding-bottom: 15px;
}

.details-price {
  font-size: 20px;
  color: #232729;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.user-facing-issues p {
  margin-top: 10px;
}

.singleorder-contact {
  padding: 10px 0;
}

.header .navbar-default .navbar-nav>li.header-btn a {
  background: #EB4021;
  padding: 10px 20px;
  color: #fff;
  margin-top: 13px;
  border-radius: 30px;
}

/* .bg-color-grey {
  width: 100%;
  float: left;
  position: relative;
  padding: 60px 0px 42px;
  clear: both;
  background: #f3f5f7;
} */

.product-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 10px 2px rgba(195, 192, 192, .2);
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}

.product-container:hover {
  transform: translateY(-10px);
  box-shadow: 1px 12px 30px 0 rgb(68 88 144 / 0.10);
  text-decoration: none;
}

.product-image {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.product-image img {
  max-width: 100%;
}

.produt-title {
  font-size: 16px;
  font-weight: 700;
  color: #232729;
  margin-bottom: 15px;
}

.produt-title a {
  color: #000;
}

.produt-title a:hover {
  color: #232729;
  text-decoration: none;
}

.produt-price {
  font-size: 18px;
  color: #EB4021;
  font-weight: 600;
}

.product-info {
  padding: 5px 15px 30px;
}

.cart-button a {
  background: #EB4021;
  padding: 10px 20px;
  color: #fff;
  margin-top: 13px;
  border-radius: 30px;
}

.product-image-container {
  width: 100%;
  position: relative;
}

.product-image-container img {
  max-width: 100%;
}

.product-details-container .produt-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.details-produt-price {
  font-size: 20px;
  color: #EB4021;
}

.product-desc {
  font-size: 14px;
  color: #666;
  line-height: 22px;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.product-delivery-details {
  /* border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  padding: 15px 0;
}

.storage-list {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.storage-list li {
  display: inline-block;
  margin-right: 10px;
}

.storage-list li .storage-item {
  padding: 10px 20px;
  color: #757575;
  text-align: center;
  border: 1px dashed #eee;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.storage-list li .storage-item.selected, .storage-list li .storage-item:hover {
  border-color: #EB4021;
  color: #EB4021;
}

.quantity-section__content {
  display: inline-flex;
  max-width: 138px;
  height: 38px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 15px;
}

.quantity-section__button {
  flex-grow: 0;
  flex-shrink: 0;
  border: 0;
  background-color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 36px;
  height: 36px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #424242;
  cursor: pointer;
}

.quantity-section__value {
  text-align: center;
  display: inline-flex;
  border: 0;
  flex-shrink: 0;
  flex-grow: 1;
  color: #757575;
  font-size: 20px;
  line-height: 36px;
  height: 36px;
  width: 64px;
  padding: 0;
  outline: none;
}

.emergency-text-color {
  margin-right: 15px;
  color: #EB4021
}

.shiping-option {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.btn-secondary.btn-common-orange {
  background: #EB4021!important;
  border-color: #EB4021!important;
  color: #fff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
}

.product-details-container {
  width: 100%;
  position: relative;
}

/* simple */

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/*
    .flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);
      filter: FlipH;
        -ms-filter: "FlipH";
    }
    */

/* START: Accommodating for IE */

.flip-container:hover .back, .flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* END: Accommodating for IE */

.flip-container, .front, .back {
  width: 100%;
  height: 222px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  background: lightgreen;
  z-index: 2;
}

.back {
  background: #ffffff;
  transform: rotateY(-180deg);
  border: 2px solid #EB4021;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #232729;
  display: none;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  width: 117px;
  height: 117px;
  background: url(../images/product-1.png) 0 0 no-repeat;
  background-size: contain;
  margin-bottom: 15px;
}

.back-logo2 {
  background: url(../images/product-bulk.png) 0 0 no-repeat;
  background-size: contain;
}

/* vertical */

.vertical.flip-container {
  position: relative;
}

.vertical .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
  -webkit-transform-origin: 100% 213.5px;
  -moz-transform-origin: 100% 213.5px;
  -ms-transform-origin: 100% 213.5px;
  transform-origin: 100% 213.5px;
}

/*
    .vertical.flip-container:hover .flipper {
      -webkit-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -ms-transform: rotateX(-180deg);
      transform: rotateX(-180deg);
    }
    */

/* START: Accommodating for IE */

.vertical.flip-container:hover .back, .vertical.flip-container.hover .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.vertical.flip-container:hover .front, .vertical.flip-container.hover .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/************** about **********/
.cms-about-us .page-main{
  background-color: #fff;
}
.block--aboutpage {
  height: 200px;
  position: relative;
}

.img-abs {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
}

.block--aboutpage .container {
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #000;
  display: flex;
}

.block--aboutpage h1 {
  font-size: 36px;
  margin: 0;
}

.block--aboutpage1 {
  padding: 60px 0;
  text-align: center;
}

.block__title {
  margin-top: 0;
  margin-bottom: 30px;
}

.block--aboutpage1 p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.block--partner {
  background: #fafafa;
}

.block__flex {
  display: flex;
}

.kindness__column {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding: 0 15px;
  color: #171f2d;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

.kindness__column img {
  margin-bottom: 15px;
  height: 40px;
}

.kindness__column a {
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  padding-bottom: 2px;
  color: #EB4021;
  font-size: 18px;
}

b, strong {
  font-weight: 600;
}

.main--products {
  padding-top: 70px;
}

.modal-dialog {
  width: 800px;
}

.img-fluid {
  max-width: 100%;
}

.dropdown-menu__item {
  letter-spacing: 1px;
  list-style: none;
  padding-left: 0;
  float: left;
  position: relative;
  width: 100%;
}

.minicart-content-details {
  padding-top: 20px;
}

.dropdown-menu__item img {
  max-width: 70px;
  margin-right: 20px;
  margin-top: 15px;
  height: auto;
}

.dropdown-menu__detail {
  vertical-align: middle;
}

.dropdown-menu__detail h3 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0;
  margin-bottom: 5px;
}

.dropdown-menu__detail h3 a {
  color: #000;
}

.dropdown-menu.dropdown-cart {
  width: 370px;
  box-shadow: 0 1px 14px rgba(0, 0, 0, .06);
  padding: 20px;
  border: none;
}

.ws-001-icon:before {
  transform: rotate(45deg);
}

.ws-001-icon:before, .ws-001-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #000;
}

.ws-001-icon {
  width: 15px;
  height: 15px;
  opacity: 1;
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.ws-001-icon:after {
  transform: rotate(-45deg);
}

span.minicart-content-remove {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

span.minicart-content-remove a {
  color: #353535;
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.minicart-content-total {
  border-top: 1px solid #f2f2f2;
  padding-top: 18px;
  margin-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 18px;
}

.minicart-content-total h3 {
  color: #000;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
  margin: 0;
}

.minicart-content-total h3 span.amount {
  float: right;
}

.btn.btn-sm.btn-view {
  padding: 13px 20px;
  width: 150px;
  border: 2px solid;
  font-weight: 500;
  letter-spacing: .3px;
  border-color: #929191;
  color: #929191;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-checkout {}

.btn.btn-sm.btn-view.btn-checkout {
  background: #EB4021;
  color: #fff;
  border: #EB4021;
}

.bot__wrapper {
  position: fixed;
  bottom: 60px;
  right: 15px;
  width: 110px;
  height: 110px;
  padding: 10px;
  animation: 1s ease infinite pulse;
}

.bot__wrapper-top .tooltip {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: 1s ease infinite pulse;
}

.bot__wrapper img {
  max-width: 100%;
}

.tooltip img {
  width: 100%;
}

.dropdown.mycart .dropdown-toggle {
  background: #EB4021 !important;
  color: #fff !important;
  font-size: 16px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:1px;
}

.about-img {
  border-radius: 10px;
  overflow: hidden;
}

.header .navbar-default .dropdown.mycart.open .dropdown-toggle {
  color: #ffffff !important;
}

.main-banner-bg {
  position: absolute;
  left: -21%;
  opacity: .1;
  width: 50%;
  animation: spin 12s ease-in-out infinite;
  -webkit-animation: spin 12s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
  from {
    -webkit-transform: rotate(0deg);
  }
}

/* CMS CSS*/

.cms-home .page-title-wrapper {
  display: none;
}

.cms-page-view .page-main, .cms-home .page-main {
  padding-top: 0px;
}

.page-main {
  padding-left: 0px;
  padding-right: 0px;
  max-width: none;
  padding-top: 60px;
  background: #f3f5f7;
}

.footer.content {
  padding: 0px;
  max-width: none;
  margin: 0px;
  border: 0px;
}

.page-title-wrapper {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.page-layout-custom .columns {
  max-width: none;
  margin-left: 0px;
  margin-right: 0px;
}

.cms-page-view .page-title-wrapper {
  display: none;
}

div#heading2 {
  background: #fafafa;
  padding: 10px;
}

.navbar-brand {
  height: auto;
}

section.footer-trust-section {
  background: #fff;
}

.label {
  color: #232729;
}

.page-footer {
  width: 100%;
  float: left;
  padding: 15px 0;
  background-color: #EB4021;
}

/* Model pop up */

.modal-popup .modal-footer {
  display: none;
}

.modal-popup .modal-header, .modal-popup .modal-content, .modal-slide .action-close {
  padding: 0px;
}

.modal-content {
  border: 0px;
}

.modal-popup .modal-inner-wrap {
  width: 65%;
}
.modal-inner-wrap {
  overflow-x: hidden;
  overflow-y: hidden;
}


@media (max-width:500px) {}
@media (min-width:501px) and (max-width:767px) {}
@media (min-width:768px) and (max-width:991px) {
  .header .navbar-default .navbar-nav>li>a{padding: 25px 12px;}
}
@media (min-width:992px) and (max-width:1199px) {
  .column-container {padding: 10px 15px;}
  .esprigas-banner-stats {width: 90%;}
}