<?php
/**
 * Copyright © 2015 esprimodulecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \EspriModule\Custommodule\Block\Index\Index
 */


echo $block->hello;
?>
<br/>
update content from Custommodule\view\frontend\templates\index\index.phtml