<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); 
$productId = $_product->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$stockManager = $objectManager->get('\Magento\CatalogInventory\Model\Stock\StockItemRepository')->get($productId);
$maxQtyForProduct = $stockManager->getMaxSaleQty();


?>
<?php $buttonTitle = __('Add to Order'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity() && $maxQtyForProduct > 1 ) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Quantity')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="1" 
					value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('Quantity')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>"
                       />
                       <div class="more"><i class="fa fa-plus"></i></div>
                       <div class="less"><i class=" fa fa-minus"></i></div>
            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action tocart btn btn-secondary btn-block btn-common-orange"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<script type="text/javascript">
    require(["jquery"],function($){
        $('.more, .less').on("click",function(){
            var $this = $(this);
            var currentQty = $this.siblings('.input-text').val();

            if($this.hasClass('more')){
                console.log(parseInt(currentQty)+parseInt(1));
                var newAdd = parseInt(currentQty)+parseInt(1);
                $this.siblings('.input-text').val(newAdd);
            }else{
                if(currentQty>0){
                    var newAdd = parseInt(currentQty)-parseInt(1);
                    $this.siblings('.input-text').val(newAdd); 
                }
            }
        });
            
    });
</script>