<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_CompanyAccount
 */
?>
<?php
/** @var \Magento\Sales\Block\Order\Info $block */
?>
<div class="order-placed">
    <span class="label"><?= $block->escapeHtml(__('Placed by:')) ?></span>
    <?= $block->escapeHtml($block->getCustomerName()) ?>
</div>
