
//
// Common
//___________________________

& when (@media-common = true) {

    .minicart-wrapper .action.showcart .counter.qty {
        background: none;
        padding: 0px;
        display: inline;
      }
      
      .minicart-wrapper .action.showcart:before {
        line-height: 69px;
        color: #fff;
      }
      
      .minicart-wrapper .action.showcart:hover:before {
        color: #fff;
      }
      
      .minicart-wrapper .action.showcart.active:before {
        line-height: 69px;
      }

      .minicart-wrapper .action.showcart.active:hover:before{
        color: #fff;
      }
      
      .minicart-wrapper .action.showcart .text {
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 69px;
      }
      
      .minicart-items-wrapper {
        border-bottom: 1px solid #f2f2f2;
      }
      
      .block-minicart .subtotal {
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 20px 0;
        font-weight: 700;
        text-align: left;
        font-size: 16px;
        letter-spacing: .5px;
      }
      
      .block-minicart .subtitle {
        display: block;
      }

      .action.primary:hover {
        border: 0px;
        background: #f40000;
      }

      .cart.table-wrapper .items thead+.item{
        border: 0px;
      }

      .page-layout-checkout .column.main {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-right: 15px; 
        padding-left: 15px;
      }
      

}
