<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<div class="customer-login-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="espri-login-container">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pd0 hidden-xs">
                            <div class="login-container-left">
                                <img src="<?= $block->getViewFileUrl('images/sign-up-1.svg'); ?>" class="topShape">
                                <img src="<?= $block->getViewFileUrl('images/sign-up-2.svg'); ?>" class="bottomShape">
                                <div class="">
                                    <h2 class="text-center">Returning Customer</h2>
                                    <p class="text-center">Welcome to the EspriGas Online Ordering Portal!</p>
                                    <img src="<?= $block->getViewFileUrl('images/CokeConsolidated Image.png'); ?>" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <div class="login-container-right block-customer-login espri-login-page-default">
                                <h2 class="login-title">Forgot Your Password?</h2>
                                <!-- <div class="block-title">
                                    <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
                                </div> -->
                                <div class="block-content" aria-labelledby="block-customer-login-heading">
                                    <form class="form password forget" action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>" method="post" id="form-validate" data-mage-init='{"validation":{}}'>
                                        <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                                            <div class="field note"><?= $block->escapeHtml(__('Please enter your email address below to receive a password reset link.')) ?></div>
                                            <div class="form-group field email required">
                                                <input type="email" name="email" alt="email" id="email_address" class="input-text form-control" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-mage-init='{"mage/trim-input":{}}' placeholder="Email address" data-validate="{required:true, 'validate-email':true}">
                                            </div>
                                            <?= $block->getChildHtml('form_additional_info') ?>
                                        </fieldset>
                                        <fieldset class="fieldset login">
                                            <div class="primary"><button type="submit" class="action submit btn btn-secondary btn-block btn-common-orange"><span><?= $block->escapeHtml(__('Reset My Password')) ?></span></button></div>

                                            <div class="text-center actions-toolbar">
                                                <div class="secondary"><a class="action back" href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a></div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
