<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<div class="customer-login-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="espri-login-container">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pd0 hidden-xs">
                            <div class="login-container-left">
                                <img src="<?= $block->getViewFileUrl('images/sign-up-1.svg'); ?>" class="topShape">
                                <img src="<?= $block->getViewFileUrl('images/sign-up-2.svg'); ?>" class="bottomShape">
                                <div class="">
                                    <h2 class="text-center">Returning Customer</h2>
                                    <p class="text-center">Welcome to the EspriGas Online Ordering Portal!</p>
                                    <img src="<?= $block->getViewFileUrl('images/CokeConsolidated Image.png'); ?>" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <div class="login-container-right block-customer-login espri-login-page-default">
                                <h2 class="login-title">Sign in</h2>
                                <!-- <div class="block-title">
                                    <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
                                </div> -->
                                <div class="block-content" aria-labelledby="block-customer-login-heading">
                                    <form class="form form-login" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="login-form" data-mage-init='{"validation":{}}'>
                                        <?= $block->getBlockHtml('formkey') ?>
                                        <fieldset class="fieldset login">
                                            <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                                            <div class="form-group field email required form-group">
                                                <!-- <label class="control-label hidden-xs" for="email"><span><?= $block->escapeHtml(__('Email *')) ?></span></label> -->
                                                <div class="">
                                                    <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off" <?php endif; ?> id="email" type="email" class="input-text form-control" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" placeholder="Email address" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                                                </div>
                                            </div>
                                            <div class="form-group field password required form-group">
                                                <!-- <label for="pass" class="control-label hidden-xs"><span><?= $block->escapeHtml(__('Password *')) ?></span></label> -->
                                                <div class="">
                                                    <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off" <?php endif; ?> class="input-text form-control" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" placeholder="Password" data-validate="{required:true}">
                                                </div>
                                            </div>
                                            <?= $block->getChildHtml('form_additional_info') ?>
                                            <div class="primary"><button type="submit" class="action login btn btn-secondary btn-block btn-common-orange" name="send" id="send2"><span><?= $block->escapeHtml(__('Begin My Next Order')) ?></span></button></div>

                                            <div class="text-center actions-toolbar">
                                                <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                                            </div>
                                            <div class="forget-pass">New to EspriGas?
                                            <a class="action remind signupa customer-register-link" href="<?= $this->getBaseUrl().'customer/account/create/'; ?>" id="customer-popup-registration"><span>Create an Account</span></a></div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "login-form"
            }
        }
    }
</script>