<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_CompanyAccount
 */
?>
<?php

/**
 * @var Amasty\CompanyAccount\Block\Adminhtml\AbstractInfo $block
 */
$companyName = $block->getCompanyName();
?>

<?php if ($companyName): ?>
<tr>
    <th><?= $block->escapeHtml($block->getLabel()) ?></th>
    <td><?= $block->escapeHtml($companyName, ['br']) ?></td>
</tr>
<?php endif; ?>
