<?php $viewModel = $block->getViewModel(); ?>

<?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
<?php $_country_id = $block->getAttributeData()->getFrontendLabel('country_id'); ?>
<?php $_street = $block->getAttributeData()->getFrontendLabel('street'); ?>
<?php $_city = $block->getAttributeData()->getFrontendLabel('city'); ?>
<?php $_region = $block->getAttributeData()->getFrontendLabel('region'); ?>
<?php $_selectRegion = 'Please select a region, state or province.'; ?>
<?php $_displayAll = $block->getConfig('general/region/display_all'); ?>

<?php $_cityValidationClass = $viewModel->addressGetAttributeValidationClass('city'); ?>
<?php $_postcodeValidationClass_value = $viewModel->addressGetAttributeValidationClass('postcode'); ?>
<?php $_postcodeValidationClass = $_postcodeValidationClass_value; ?>
<?php $_streetValidationClass = $viewModel->addressGetAttributeValidationClass('street'); ?>
<?php $_streetValidationClassNotRequired = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
<?php $_regionValidationClass = $viewModel->addressGetAttributeValidationClass('region'); ?>

<?php $regions = $block->getRegionsOfCountry('US'); ?>

<?php $currentCustomerStatus = $block->getCustomerData()->getCustomerStatus() ?>
<?php $customerNewStatus = 6; ?>

<?php $params = $this->getRequest()->getParams(); ?>
<?php $closemodal = (!empty($params))?$params['closemodal']:''; ?>

<style type="text/css">
  #radio-group .radio { cursor: pointer; }
  #radio-group .selected { background-color: #f1f1f1; }
  .height-50 { height: 50px; vertical-align: bottom; display: table-cell;}
  .height-70 { height: 70px; vertical-align: bottom; display: table-cell; }
</style>

<form class="form form-navgen-data"
      action="<?= $block->escapeUrl($block->getUrl('businessaccount/index/save')) ?>"
      method="post" id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      autocomplete="off">
  <div id="element" class="mb-30">
    
    <div class="panel panel-default" role="tablist">
      <div data-role="collapsible">
          <div data-role="trigger">
            <legend class="legend">
              <!-- <span>Intro Text</span> -->
            </legend>
          </div>
      </div>
      <div data-role="content">
        <div class="v7-ba-accordion-content">
          <?php if ($currentCustomerStatus == $customerNewStatus) { ?>
          <div class="v7-ba-intro">
            <h3>Welcome to EspriGas!</h3> 
            <p><strong>Existing Coke CO<sub>2</sub> Customer:</strong> Enter your Coke account number (found on myCoke or a past Coke invoice) and your location's zip code to begin your account transfer process</p>
            <p><strong>All Other Customers:</strong> To begin service, please create an account with us by completing the information below. If you need to step away, you can Save and Resume your info at any time.</p>
          </div>

          <div style="margin:20px 0">
            <button type="button" class="btn btn-secondary btn-common-orange" id="quick-apply">Prefill Form Using My Coke Info</button>
          </div>
           <?php } ?>
          <fieldset class="">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12" style="display: none">
                <!-- Dropdown -->
                <?php $code = 'business_ref_type'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php //$fieldRequiredClass = 'data-validate="{required:true}"'; ?>

                <div class="form-group field <?php echo $attributeCode ?>" >
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <select id="<?php echo $attributeCode; ?>" class="form-control" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" <?php //echo $fieldRequiredClass; ?>>
                      <?php $options = $block->getAttributeOptions($code); ?>
                      <?php foreach ($options as $option) : ?>
                          <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']; ?></option>
                      <?php endforeach; ?>
                  </select>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <?php $code = 'coke_id'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?>">
                  <label for="<?php echo $attributeCode; ?>"  class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text form-control readonly <?php echo $fieldFrontendClass; ?>">
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Default magento address field -->
                <div class="form-group field zip required">
                  <label class="control-label" for="zip">
                      <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
                  </label>
                  <div class="">
                      <input type="text"
                            name="postcode"
                            value="<?= $escaper->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                            title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                            id="zip"
                            class="input-text readonly validate-zip-international
                              <?= $escaper->escapeHtmlAttr($_postcodeValidationClass) ?>"
                              data-validate="{required:true,'validate-number':true}"
                              data-msg-validate-number="Allow numeric value only.">
                      <div role="alert" class="message warning" >
                          <span></span>
                      </div>
                      <?= /* @noEscape */ $secureRenderer->renderStyleAsTag("display: none;", 'div.message.warning') ?>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:20px;">
              <div class="col-md-12">
                <p class="textCommon text-center">Need Help? Visit <a href="https://devorder.esprigas.com/customer-service-requests" target="_blank">Customer Service Requests</a> to submit an e-request.</p>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel panel-default" role="tablist">
      <div data-role="collapsible" class="collapsible-panel">
          <div data-role="trigger">
            <legend class="legend">
              <i class="more-less fa fa-plus"></i>
              <span>Location Details</span>
            </legend>
          </div>
      </div>
      <div data-role="content">
        <div class="v7-ba-accordion-content">
          <fieldset class="">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'organization_name'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php echo $fieldRequiredClass; ?>>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'site_location_name'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php //$fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <!-- Default magento address field -->
                <div class="form-group field street required">
                  <!-- <label for="street_1" class="control-label"><span><?= /* @noEscape */ $_street ?></span></label> -->
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <div class="field primary">
                        <label for="street_1" class="control-label">
                            <span>
                                <?= $escaper->escapeHtml(__('Address Line %1', 1)) ?>
                            </span>
                        </label>
                      </div>
                      <input type="text"
                        name="street[]"
                        value="<?= $escaper->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                        title="<?= /* @noEscape */ $_street ?>"
                        id="street_1"
                        class="input-text readonly <?= $escaper->escapeHtmlAttr($_streetValidationClass) ?>"/>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="nested ">
                        <?php for ($_i = 1, $_n = $viewModel->addressGetStreetLines(); $_i < $_n - 1; $_i++): ?>
                          <div class="field additional">
                              <label class="control-label" for="street_<?= /* @noEscape */ $_i + 1 ?>">
                                  <span><?= $escaper->escapeHtml(__('Address Line %1', $_i + 1)) ?></span>
                              </label>
                              <input type="text" name="street[]"
                                value="<?= $escaper->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                title="<?= $escaper->escapeHtmlAttr(__('Address %1', $_i + 1)) ?>"
                                id="street_<?= /* @noEscape */ $_i + 1 ?>"
                                class="input-text readonly 
                                <?= $escaper->escapeHtmlAttr($_streetValidationClassNotRequired) ?>">
                          </div>
                        <?php endfor; ?>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Default magento address field -->
                <div class="form-group field city required">
                  <label class="control-label" for="city">
                      <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span>
                  </label>
                  <input type="text"
                    name="city"
                    value="<?= $escaper->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                    title="<?= $escaper->escapeHtmlAttr(__('City')) ?>"
                    class="input-text readonly <?= $escaper->escapeHtmlAttr($_cityValidationClass) ?>"
                    id="city">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Default magento address field -->
                <!-- <div class="form-group field country required">
                  <label class="control-label" for="country">
                      <span><?php //echo $block->getAttributeData()->getFrontendLabel('country_id') ?></span>
                  </label>
                  <?php echo $block->getCountryHtmlSelect() ?>
                </div> -->
                <input type="hidden" name="country_id" id="country" class="required-entry" title="Country" data-validate="{'validate-select':true}" value="US"/>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Default magento address field -->
                <!-- <div class="form-group field region required">
                  <label class="control-label" for="region_id">
                      <span><?php //echo $_region ?></span>
                  </label>
                  <select id="region_id" name="region_id"
                      title="<?php //echo $_region ?>"
                      class="validate-select region_id"
                      <?php //echo  !$_displayAll ? ' disabled="disabled"' : '' ?>>
                      <option value=""><?php //echo $escaper->escapeHtml(__($_selectRegion)) ?></option>
                  </select>
                  <input type="text"
                    id="region"
                    name="region"
                    value="<?php //echo $escaper->escapeHtmlAttr($block->getRegion()) ?>"
                    title="<?php //echo  $_region ?>"
                    class="input-text readonly validate-not-number-first
                    <?php //echo $escaper->escapeHtmlAttr($_regionValidationClass) ?>"
                    <?php //echo !$_displayAll ? ' disabled="disabled"' : '' ?>/>
                </div>-->
                <div class="form-group field region required">
                  <label class="control-label" for="region_id">
                      <span><?php echo __('State') ?></span>
                  </label>
                  <select id="region_id" name="region_id" class="validate-select region_id">
                    <?php foreach($regions as $region) { ?>
                      <?php if($block->getRegionId() == $region['value']) { ?>
                      <option value="<?php echo $region['value'] ?>" selected="selected"><?php echo $region['title'] ?></option>
                      <?php } else { ?>
                        <option value="<?php echo $region['value'] ?>"><?php echo $region['title'] ?></option>
                      <?php } ?>
                    <?php } ?>
                  </select>
                  <input type="text" id="region" name="region" value="<?php echo $block->getRegion() ?>" title="State/Province" class="input-text readonly validate-not-number-first" style="display: none;">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Default magento address field -->
                <div class="form-group field">
                  <label class="control-label">
                      <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
                  </label>
                  <div class="">
                      <input type="text"
                            value="<?= $escaper->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                            class="input-text" disabled>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group field telephone">
                  <label for="telephone" class="control-label"><span><?php echo __('Business Phone Number') ?></span></label>
                  <div class="">
                      <input type="text" name="telephone" id="telephone" value="<?php echo $block->getTelephone(); ?>" title="<?php echo __('Phone Number') ?>" class="input-text readonly" data-validate="{required:true, 'validate-number':true, 'validate-length':true}" data-msg-validate-number="Please enter your number as a numeric 10 digit value. No hyphens, spaces or parenthesis needed." data-msg-minlength="Please enter your number as a numeric 10 digit value. No hyphens, spaces or parenthesis needed." maxlength="10" minlength="10">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <?php $code = 'site_business_hours'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span> <span class="label_tooltip"><i class="fa fa-question-circle"></i> <span class="label-tooltop-data">Let us know what weekdays and times are available to receive deliveries.</span></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php echo $fieldRequiredClass; ?>>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <?php $code = 'delivery_restrictions'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php //$fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required" style="display: none">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php //echo $fieldRequiredClass; ?>>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Input type Yes/No -->
                <?php $code = 'other_business_locations'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>

                <div class="form-group field <?php echo $attributeCode; ?> required">
                    <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                    <div class="">
                        <select id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?> class="readonly">
                            <?php $options = $block->getAttributeOptions($code); ?>
                            <?php foreach ($options as $option) : ?>
                                <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']->getText(); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Input type Yes/No -->
                <?php $code = 'location_pay'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
    
                <div class="form-group field <?php echo $attributeCode; ?> required">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <select id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?> class="readonly">
                          <?php $options = $block->getAttributeOptions($code); ?>
                          <?php foreach ($options as $option) : ?>
                              <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']->getText(); ?></option>
                          <?php endforeach; ?>
                      </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="display:none;">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <?php $code = 'other_business_location'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required" >
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php echo $fieldRequiredClass; ?>>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </div>

    <div class="panel panel-default" role="tablist" style="display: none;">                  
      <div data-role="collapsible"  class="collapsible-panel">
          <div data-role="trigger">
            <legend class="legend">
              <i class="more-less fa fa-plus"></i>
              <span>Contact Details</span>
            </legend>
          </div>
      </div>
      <div data-role="content">
        <div class="v7-ba-accordion-content">
          <fieldset class="">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'business_owner_name'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required" style="display:none;">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php echo $fieldRequiredClass; ?>>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'site_contact_name'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required" style="display: none;">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php echo $fieldRequiredClass; ?>>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'billing_email_address'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required" style="display: none;">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php echo $fieldRequiredClass; ?>>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="panel panel-default" role="tablist">
      <div data-role="collapsible"  class="collapsible-panel">
        <div data-role="trigger">
          <legend class="legend">
            <i class="more-less fa fa-plus"></i>
            <span>Business CO<sub>2</sub> Operations</span>
          </legend>
        </div>
      </div>
      <div data-role="content">
        <div class="v7-ba-accordion-content">
          <fieldset class="">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- Input Type Dropdown -->
                <?php $code = 'bulk_cylinder_mixture'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>

                <div class="form-group field <?php echo $attributeCode ?> required">
                  <label for="<?php echo $attributeCode; ?>" class="control-label height-50"><span><?php echo __($frontEndLabel) ?></span> <span class="label_tooltip"><i class="fa fa-question-circle"></i> <span class="label-tooltop-data">If you use a bulk tank or a mixture of bulk and cylinders, a member of our sales team will be in touch to guide you through onboarding</span></span></label>
                  <div class="">
                      <select id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" data-validate="{required:true}" class="readonly">
                        <?php $options = $block->getAttributeOptions($code); unset($options[0]); ?>
                          <?php foreach ($options as $option) : ?>
                              <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']; ?></option>
                          <?php endforeach; ?>
                      </select>
                      <input type="hidden" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>_txtbox" value="<?php echo $fieldValue ?>"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'count_carbon_dioxide_20lb'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?>" style="display:none">
                  <label for="<?php echo $attributeCode; ?>" class="control-label height-50"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" data-validate="{'validate-number':true}" data-msg-validate-number="Allow numeric value only.">
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'current_gas_supplier'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?> required">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span> <span class="label_tooltip"><i class="fa fa-question-circle"></i> <span class="label-tooltop-data">You'll want to ensure that you are able to terminate your existing gas supplier contract in order to transition service to EspriGas.</span></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" <?php echo $fieldRequiredClass; ?>>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- Input type Dropdown -->
                <?php $code = 'is_rent_own'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>

                <div class="form-group field <?php echo $attributeCode ?> required">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <select id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" data-validate="{required:true}" class="readonly">
                          <?php $options = $block->getAttributeOptions($code); unset($options[0]); ?>
                          <?php foreach ($options as $option) : ?>
                              <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']; ?></option>
                          <?php endforeach; ?>
                      </select>
                      <input type="hidden" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>_txtbox" value="<?php echo $fieldValue ?>"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row"  style="display:none">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'count_carbon_dioxide_50lb'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?>">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- Input type Yes/No -->
                <?php $code = 'tax_exempt'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php // $fieldRequiredClass = 'data-validate="{required:true}"'; ?>

                <div class="form-group field <?php echo $attributeCode; ?>">
                    <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                    <div class="">
                        <select id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" <?php //echo $fieldRequiredClass; ?> class="readonly">
                            <?php $options = $block->getAttributeOptions($code); ?>
                            <?php foreach ($options as $option) : ?>
                                <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']->getText(); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
              <!-- Message goes here -->
              </div>
            </div>
            <div id="tax-msg" style="display: none">
              <p><?php echo $block->escapeHtml(__('Great! Keep an eye on your inbox for further instructions on how to submit this certificate to EspriGas prior to your first invoice.')) ?></p>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- Input type Yes/No -->
                <?php $code = 'is_establishment'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>

                <div class="form-group field <?php echo $attributeCode; ?>">
                    <label for="<?php echo $attributeCode; ?>" class="control-label height-50"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                    <div class="">
                        <select id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" class="readonly">
                            <?php $options = $block->getAttributeOptions($code); ?>
                            <?php foreach ($options as $option) : ?>
                                <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']->getText(); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">                  
                <?php $code = 'other_gases'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>

                <?php
                  $data = array();
                  $otherGases = json_decode($fieldValue);
                  if($otherGases) {
                    $quantity = $otherGases->gas_quantity;
                    foreach ($otherGases->gas_name as $key => $value) {
                        $data[$key] =  array($value, $quantity[$key]);
                    }
                  }
                  $jsonData = json_encode($data);
                ?>

                <div class="form-group field <?php echo $attributeCode ?>" style="display:none">
                  <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php echo __($frontEndLabel) ?></span></label>
                    <div class="">
                      <script id="row-template" type="text/x-magento-template">
                        <div>
                          <div class="field">
                            <div class="form-group control">
                              <table>
                                <tr>
                                  <td>
                                    <div class="v7-gas-name-col">
                                      <label for="" class="control-label"><span>Gas Type & Size</span></label>
                                      <select name="<?php echo $attributeCode ?>[gas_name][<%- data._index_ %>]" title="<?= $block->escapeHtmlAttr(__('Gas Name')) ?>" class="input-text" id="gas-name<%- data._index_ %>" <?php echo ($currentCustomerStatus != $customerNewStatus)?'disabled':'' ?>>
                                        <option value="CO2 50lb Tank">CO<sub>2</sub> 50lb Tank</option>
                                        <option value="Nitrogen Small">Nitrogen Small</option>
                                        <option value="Nitrogen Large">Nitrogen Large</option>
                                        <option value="Beer Gas Mix Small">Beer Gas Mix Small</option>
                                        <option value="Beer Gas Mix Large">Beer Gas Mix Large</option>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="v7-gas-quantity-col">
                                      <label for="" class="control-label"><span>Number of Tanks</span></label>
                                      <input name="<?php echo $attributeCode ?>[gas_quantity][<%- data._index_ %>]" type="text" title="<?= $block->escapeHtmlAttr(__('Gas Quantity')) ?>" class="input-text" id="gas-quantity<%- data._index_ %>" <?php echo ($currentCustomerStatus != $customerNewStatus)?'disabled':'' ?> data-validate="{required:true, 'validate-number':true}" data-msg-validate-number="Allow numeric value only."/>
                                    </div>
                                  </td>
                                  <td>
                                    <?php if($currentCustomerStatus == $customerNewStatus) { ?>
                                    <div class="actions-toolbar">
                                      <div class="secondary">
                                        <a href="#" id="btn-remove<%- data._index_ %>" class="action remove" title="Remove">
                                          <span>Remove</span>
                                        </a>
                                      </div>
                                    </div>
                                    <?php } ?>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </script>

                        <div class="row-builder-example">
                        <div id="max-rows-message" style="display: none;" class="message notice limit" role="alert">
                            <span>Number of rows exceeded.</span>
                        </div>
                        <?php if($currentCustomerStatus == $customerNewStatus) { ?>
                        <button type="button" id="add-row-button" class="action add">
                            <span>Add Item</span>
                        </button>
                        <?php } ?>
                        <div id="row-container" style="margin-top: 15px;"></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="display: none;">
              <div class="col-md-12 col-sm-12 col-xs-12"> 
                <!-- Input type Date -->
                <?php $code = 'service_start_date'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $isRequired = $block->getCustomAttribute($code)->getIsRequired(); ?>
                <?php //$fieldRequiredClass = 'data-validate="{required:true}"'; ?>

              <div class="form-group field <?php echo $attributeCode; ?> required" >
                <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                <div class="">
                    <input type="text" style="width:200px !important;" class="input-text readonly" title="<?php echo __($frontEndLabel); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" <?php //cho $fieldRequiredClass; ?>>
                    <script>
                        require(["jquery", "mage/calendar"], function($) {
                            $("#<?php echo $attributeCode; ?>").datepicker({
                                dateFormat: 'mm/dd/yy',
                                changeMonth: true,
                                changeYear: true,
                                yearRange: '2010:2025',
                                showMonthAfterYear: false
                            })
                        });
                    </script>
                </div>
              </div>
            </div>
          </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="panel panel-default service-options-panel" role="tablist">
      <div data-role="collapsible"  class="collapsible-panel">
        <div data-role="trigger">
          <legend class="legend">
            <i class="more-less fa fa-plus"></i>
            <span>Service Options</span>
          </legend>
        </div>
      </div>
      <div data-role="content">
        <div class="v7-ba-accordion-content">
          <fieldset class="">
            <div class="row" id="radio-group">
              <?php if ($currentCustomerStatus == $customerNewStatus) { ?>
              <div class="col-md-5 col-sm-6 col-xs-6 radio" id="customer-group-box-6" data-value="6">
                <div class="membership_annual_box">
                  <div class="h3 text-center text-uppercase">Annual Membership</div>
                  <p class="m-price-info-text text-center">Access to all CO<sub>2</sub> services with no additional content, delivery, or lease fees</p>
                  <div class="membership_price_info">
                    <table class="table table-borderless">
                      <tr>
                        <td class="col-md-4">&nbsp;</td>
                        <td class="col-md-4"><span class="membership_price">$56.96</span></td>
                        <td class="col-md-4 text-left pd-10">/month</td>
                      </tr>
                      <tr>
                        <td colspan="3"><p class="">Recurring monthly membership.</p></td>
                      </tr>
                    </table>
                    <!-- <p class=""><span class="membership_price">$56.96</span> /month</p> -->

                    <p class="mt-65">Annual membership covers up to 300lbs (15 tanks) of CO<sub>2</sub>. Overages will result in a switch Pay-As-You-Go</p>
                  <div class="member_divider"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-6 col-xs-6 radio" id="customer-group-box-5" data-value="5">
                <div class="membership_annual_box">
                  <div class="h3 text-center text-uppercase">Pay as-you-go</div>
                  <p class="m-price-info-text text-center">CO<sub>2</sub> on demand based on business needs</p>
                  <div class="membership_price_info">
                    <table class="table table-borderless">
                      <tr>
                        <td class="col-md-4 text-right pd-10">Starting at </td>
                        <td class="col-md-4"><span class="membership_price">$26.85</span></td>
                        <td class="col-md-4 text-left pd-10">/content</td>
                      </tr>
                      <tr>
                        <td class="col-md-4">&nbsp;</td>
                        <td class="col-md-4"><span class="membership_price">$7.97</span></td>
                        <td class="col-md-4 text-left pd-10">/mo. lease</td>
                      </tr>
                      <tr>
                        <td class="col-md-4 text-right pd-10">plus </td>
                        <td class="col-md-4"><span class="membership_price">$18.87</span></td>
                        <td class="col-md-4 text-left pd-10">/delivery</td>
                      </tr>
                    </table>
                  <!-- <p class="">Starting at 
                    <span class="membership_price">$26.85</span> /content<br/>
                    <span class="membership_price">$7.97</span> /mo. lease<br/>
                    plus <span class="membership_price">$18.87</span> /delivery<br/>
                  </p> -->
                  <p class="">Customer demands and beverage gas needs will determine optimal product size.</p>
                  <div class="member_divider"></div>
                  </div>
                </div>
              </div>
              <?php } else { ?>
                <?php if ($block->getCustomerGroupId() == 6) { ?>
                <div class="col-md-5 col-sm-6 col-xs-6 radio" id="customer-group-box-6" data-value="6">
                  <div class="membership_annual_box">
                    <div class="h3 text-center text-uppercase">Annual Membership</div>
                    <p class="m-price-info-text text-center">Access to all CO<sub>2</sub> services with no additional content, delivery, or lease fees</p>
                    <div class="membership_price_info">
                      <table class="table table-borderless">
                        <tr>
                          <td class="col-md-4">&nbsp;</td>
                          <td class="col-md-4"><span class="membership_price">$56.96</span></td>
                          <td class="col-md-4 text-left pd-10">/month</td>
                        </tr>
                        <tr>
                          <td colspan="3"><p class="">Recurring monthly membership.</p></td>
                        </tr>
                      </table>
                      <p class="mt-65">Annual membership covers up to 300lbs (15 tanks) of CO<sub>2</sub>. Overages will result in a switch Pay-As-You-Go</p>
                    <div class="member_divider"></div>
                    </div>
                  </div>
                </div>
                <?php } else { ?>
                <div class="col-md-5 col-sm-6 col-xs-6 radio" id="customer-group-box-5" data-value="5">
                  <div class="membership_annual_box">
                    <div class="h3 text-center text-uppercase">Pay as-you-go</div>
                    <p class="m-price-info-text text-center">CO<sub>2</sub> on demand based on business needs</p>
                    <div class="membership_price_info">
                    <table class="table table-borderless">
                      <tr>
                        <td class="col-md-4 text-right pd-10">Starting at </td>
                        <td class="col-md-4"><span class="membership_price">$26.85</span></td>
                        <td class="col-md-4 text-left pd-10">/content</td>
                      </tr>
                      <tr>
                        <td class="col-md-4">&nbsp;</td>
                        <td class="col-md-4"><span class="membership_price">$7.97</span></td>
                        <td class="col-md-4 text-left pd-10">/mo. lease</td>
                      </tr>
                      <tr>
                        <td class="col-md-4 text-right pd-10">plus </td>
                        <td class="col-md-4"><span class="membership_price">$18.87</span></td>
                        <td class="col-md-4 text-left pd-10">/delivery</td>
                      </tr>
                    </table>
                    <!-- <p class="">Starting at 
                      <span class="membership_price">$26.85</span> /content<br/>
                      <span class="membership_price">$7.97</span> /mo. lease<br/>
                      plus <span class="membership_price">$18.87</span> /delivery<br/>
                    </p> -->
                    <p class="">Customer demands and beverage gas needs will determine optimal product size.</p>
                    <div class="member_divider"></div>
                    </div>
                  </div>
                </div>
                <?php } ?>
              <?php } ?>
              <input type="text" id="group_id" name="group_id" data-validate="{required:true}" title="<?php echo __('Customer Group'); ?>" value="<?php echo $block->getCustomerGroupId(); ?>" style="display: none;" />
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12"> 
                <!-- Input type Yes/No -->
                <?php $code = 'is_sms'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>

                <div class="form-group field <?php echo $attributeCode; ?>">
                    <label for="<?php echo $attributeCode; ?>" class="control-label height-70"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                    <div class="">
                        <select id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" class="readonly">
                            <?php $options = $block->getAttributeOptions($code); ?>
                            <?php foreach ($options as $option) : ?>
                                <option value="<?php echo $option['value'] ?>" <?php if ($option['value'] == $fieldValue) { echo ' selected="selected"'; } ?>><?php echo $option['label']->getText(); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <?php $code = 'mobile_number'; ?>
                <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
                <?php $fieldValue = $block->getFieldValue($code); ?>
                <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
                <?php $fieldFrontendClass = ($block->getCustomAttribute($code)->getFrontendClass()) ? $block->getCustomAttribute($code)->getFrontendClass() : '' ?>

                <div class="form-group field <?php echo $attributeCode ?>">
                  <label for="<?php echo $attributeCode; ?>" class="control-label height-70"><span><?php echo __($frontEndLabel) ?></span></label>
                  <div class="">
                      <input type="text" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text readonly <?php echo $fieldFrontendClass; ?>" data-validate="{'validate-mobile-number':true, 'validate-number':true, 'validate-length':true}" data-msg-validate-number="Please enter your number as a numeric 10 digit value. No hyphens, spaces or parenthesis needed." data-msg-minlength="Please enter your number as a numeric 10 digit value. No hyphens, spaces or parenthesis needed." maxlength="10" minlength="10">
                  </div>
                </div>
              </div>
            </div>
            <div id="sms-msg" style="display: none">
              <p><?php echo $block->escapeHtml(__('Msg and Data rates may apply. 1 message per 2 months. View ToS and Privacy policy below')) ?></p>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- Default magento firstname -->
                <div class="form-group field firstname required">
                  <label class="control-label" for="firstname">
                      <span><?php echo $block->escapeHtml(__('Contact Name')) ?></span>
                  </label>
                  <input type="text"
                    name="firstname"
                    value="<?= $escaper->escapeHtmlAttr($block->getFirstname()) ?>"
                    title="<?= $escaper->escapeHtmlAttr(__('First Name')) ?>"
                    class="input-text readonly"
                    id="firstname"
                    placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- Default magento lastname -->
                <div class="form-group field lastname required">
                  <label class="control-label" for="lastname">&nbsp;</label>
                  <input type="text"
                    name="lastname"
                    value="<?= $escaper->escapeHtmlAttr($block->getLastname()) ?>"
                    title="<?= $escaper->escapeHtmlAttr(__('Last Name')) ?>"
                    class="input-text readonly"
                    id="lastname"
                    placeholder="Last Name">
                </div>
              </div>
            </div>

            <!-- Input type Yes/No -->
            <?php $code = 'terms_of_service'; ?>
            <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
            <?php $fieldValue = $block->getFieldValue($code); ?>
            <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
            <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>

            <div class="form-group <?php echo $attributeCode; ?> required">
              <input type="checkbox" id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" value="1" <?php echo $fieldRequiredClass; ?> <?php echo ($fieldValue==1)?'checked':'' ?> class="readonly">
              <label for="<?php echo $attributeCode; ?>" class="control-label"><span>I acknowledge and have read the <a href="<?php echo $block->getBaseUrl() ?>terms-of-service" target="_blank">Terms of Service</a>.</span></label>
            </div>

            <!-- Input type Yes/No -->
            <?php $code = 'privacy_policy'; ?>
            <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
            <?php $fieldValue = $block->getFieldValue($code); ?>
            <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
            <?php $fieldRequiredClass = 'data-validate="{required:true}"'; ?>

            <div class="form-group <?php echo $attributeCode; ?> required">
              <input type="checkbox" id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" value="1" <?php echo $fieldRequiredClass; ?> <?php echo ($fieldValue==1)?'checked':'' ?> class="readonly">
              <label for="<?php echo $attributeCode; ?>" class="control-label"><span>I acknowledge and have read the <a href="<?php echo $block->getBaseUrl() ?>privacy-policy" target="_blank">Privacy Policy</a>.</span></label>
            </div>

            <!-- Input type Yes/No -->
            <?php $code = 'service_information'; ?>
            <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
            <?php $fieldValue = $block->getFieldValue($code); ?>
            <?php $frontEndLabel = $block->getFrontEndLabel($code) ?>
            <?php //$fieldRequiredClass = 'data-validate="{required:true}"'; ?>

            <div class="form-group field <?php echo $attributeCode; ?> required" style="display: none;">
              <input type="checkbox" id="<?php echo $attributeCode; ?>" name="<?php echo $attributeCode; ?>" title="<?php echo __($frontEndLabel); ?>" value="1" <?php //echo $fieldRequiredClass; ?> <?php echo ($fieldValue==1)?'checked':'' ?> class="readonly">
              <label for="<?php echo $attributeCode; ?>" class="control-label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
            </div>

            <!-- hidden fields -->
            <?php $code = 'case_sfid'; ?>
            <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
            <?php $fieldValue = $block->getFieldValue($code); ?>
            <input type="hidden" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>">

            <?php $code = 'nav_customer'; ?>
            <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
            <?php $fieldValue = $block->getFieldValue($code); ?>
            <input type="hidden" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>">

            <?php $code = 'cust_ext_id'; ?>
            <?php $attributeCode = $block->getCustomAttribute($code)->getAttributeCode(); ?>
            <?php $fieldValue = $block->getFieldValue($code); ?>
            <input type="hidden" name="<?php echo $attributeCode; ?>" id="<?php echo $attributeCode; ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>">

            <input type="hidden" id="customer-status" value="<?php echo $currentCustomerStatus ?>"/>
            <input type="hidden" id="customer-status-new" value="<?php echo $customerNewStatus ?>"/>
            <input type="hidden" id="referral-id" value="<?php echo $block->getFieldValue('referral_id'); ?>"/>
            <input type="hidden" id="referral-zip" value="<?php echo $block->getFieldValue('referral_zip'); ?>"/>
            <input type="hidden" id="closemodal" value="<?php echo $closemodal ?>"/>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <?php if ($currentCustomerStatus == $customerNewStatus) { ?>
  <div class="text-center" style="margin-top:30px;">
    <!-- Do not change Save for Later button value. If need to change then also change in Save.php file -->
    <input type="submit" name="submit" class="btn btn-secondary btn-common-orange save" title="<?= $block->escapeHtmlAttr(__('Save for Later')) ?>" value="<?= $block->escapeHtml(__('Save for Later')) ?>" />

    <input type="submit" name="submit" class="btn btn-secondary btn-common-orange save" title="<?= $block->escapeHtmlAttr(__('Submit and Proceed to My Wallet')) ?>" value="<?= $block->escapeHtml(__('Submit and Proceed to My Wallet')) ?>" id="submit-esprigas"/>
  </div>
  <?php } ?>
</form>

<div id="modal">
  <form class="form navigen-search-modal-form"
      action="<?= $block->escapeUrl($block->getUrl('businessaccount/bpref/search')) ?>"
      method="post" id="modal-form-validate"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      autocomplete="off"
      data-mage-init='{"validation": {}}'>

    <div class="modal-body-content">
      <div class="modal-header-content">
        <div id="close-model" class="close modal-close"> <span>X</span></div>
        <h2 class="login-title"><?= $block->escapeHtml(__('Is This You?')) ?></h2>
      </div>
      <div class="">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="" class="control-label"><span><?= $block->escapeHtml(__('Coke Customer Number')) ?></span></label><br/>
              <input type="text" name="search_coke_id" id="search_coke_id" value="" title="<?= $block->escapeHtml(__('Coke Customer Number')) ?>" placeholder="Location Coke ID" class="input-text form-control" data-validate="{required:true}">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label for="" class="control-label"><span><?= $block->escapeHtml(__('Location Zip Code')) ?></span></label><br/>
              <input type="text" name="search_postcode" id="search_postcode" value="" title="<?= $block->escapeHtml(__('Location Zip Code')) ?>" placeholder="Location Zip Code"class="input-text form-control" data-validate="{required:true}">
              <input type="hidden" name="magento_customer_id" id="magento_customer_id" value="<?php echo $block->getCustomerId() ?>" title="<?= $block->escapeHtml(__('Magento Customer ID')) ?>" class="input-text form-control">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <br/>
              <button type="submit" data-role="action" class="btn btn-secondary btn-common-orange" ><span><i class="fa fa-search" aria-hidden="true"></i> Retrieve Info</span></button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="v7-search-message message warning" id="v7-search-message" style="display: none;"></div>

      <div class="bpref-preview" id="bpref-preview">
        <table class="table">
          <tr>
            <td><strong>Business Name</strong> : <span id="preview-business-name"></span></td>
            <td><strong>Store Location</strong> : <span id="preview-store-location"></span></td>
          </tr>
          <tr>
            <td><strong>Address Line 1</strong> : <span id="preview-address-line-1"></span></td>
            <td><strong>Address Line 2</strong> : <span id="preview-address-line-2"></span></td>
          </tr>
          <tr>
            <td><strong>City</strong> : <span id="preview-city"></span></td>
            <td><strong>State</strong> : <span id="preview-state"></span></td>
          </tr>
        </table>
      </div>
      <div style="margin-top: 30px">
        <a href="javascript:void(0)" class="btn btn-secondary btn-common-orange" id="btn-yes-my-account">Yes! Use My Account Info</a>
        <a href="javascript:void(0)" class="btn btn-secondary btn-common-orange" id="btn-proceed-anyway">No, I'll Fill Out the Form Instead</a>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal",
        "accordion",
        "rowBuilder",
        'jquery/validate',
    ],function($, modal) {

        var options = {
            type: 'popup',
            responsive: true,
            title: 'Confirm Location'
        };

        var popup = modal(options, $('#modal'));

        /*open modal after enter coke id and zip code on signup form*/
        var zipCode = $("#zip").val();
        var referralId = $("#referral-id").val();
        var referralZip = $("#referral-zip").val();
        var closemodal = $("#closemodal").val();
  
        if(!zipCode && closemodal != 'Y') {
          $("#search_coke_id").val(referralId);
          $("#search_postcode").val(referralZip);

          /* Launch modal on page load start */
          AjaxResponse(isFormValidate=false, isYesMyAccount=false);
        } 
        else {
          jQuery("#bpref-preview").hide();
          jQuery("#btn-yes-my-account").hide();
        }

      /* submit search button in modal form  */
      jQuery("#modal-form-validate").submit(function(event){
        AjaxResponse(isFormValidate=true, isYesMyAccount=false);
        event.preventDefault();
        $('#modal').modal('openModal');
      })

      /* Yes! This is my account button */
      jQuery(document).on("click", "#btn-yes-my-account", function() {
        jQuery('#modal').modal('closeModal');
        AjaxResponse(isFormValidate=false, isYesMyAccount=true);
        jQuery("#coke_id").prop('readonly', true);
        ReadonlyField(isReadonly=true);
      });

      jQuery("#quick-apply").on('click', function() {
        jQuery('#modal').modal('openModal');
      })

      jQuery(document).on("click", "#close-model", function() {
         jQuery('#modal').modal('closeModal');
      });

      jQuery(document).on("click", "#btn-proceed-anyway", function() {

        jQuery("#coke_id").prop('readonly', false);
        ReadonlyField(isReadonly=false);

        jQuery("#bulk_cylinder_mixture_txtbox").prop('disabled', true);
        jQuery("#bulk_cylinder_mixture").prop('disabled', false);

        jQuery(".current_gas_supplier").show();
        jQuery(".is_rent_own").show();

        jQuery('#modal').modal('closeModal');
        
        jQuery("#coke_id").val('');
        jQuery("#organization_name").val('');
        jQuery("#site_contact_name").val('');
        jQuery("#telephone").val('');
        jQuery("#street_1").val('');
        jQuery("#street_2").val('');
        jQuery("#city").val('');
        jQuery("#region_id").val('');
        jQuery("#zip").val('');
        jQuery("#is_rent_own").val('');
        jQuery("#billing_email_address").val('');
        jQuery("#bulk_cylinder_mixture").val('');
        jQuery("#current_gas_supplier").val('');
        jQuery("#service_start_date").val('');
        jQuery("#case_sfid").val('');
        jQuery("#cust_ext_id").val('');
      });

      /* Ajax response */
      function AjaxResponse(isFormValidate, isYesMyAccount)
      {

        var dataForm = $('#modal-form-validate');

        if(isFormValidate) {
          var status = dataForm.validation('isValid');
          if( ! status) {
            $('#modal').modal('openModal');
          }
        }

        let formData = jQuery("#modal-form-validate").serialize();

        jQuery.ajax({
          url: "<?= $block->escapeUrl($block->getUrl('businessaccount/bpref/search')) ?>",
          type: 'POST',
          data : formData,
          success: function(data){

              var customerStatus = $("#customer-status").val();
              
              /* 20 = Business_info_submitted */
              if(!isFormValidate && !isYesMyAccount && customerStatus == 6) {
                $('#modal').modal('openModal');
              }

              if(data.length == undefined) {

                if(isYesMyAccount) {

                  let bulkCylinderMixture = "";

                  if(data.cyl_type) {
                    if(data.cyl_type == 'Cylinder') {
                      bulkCylinderMixture = 14;
                    }
                    else if (data.cyl_type == 'Bulk') { 
                      bulkCylinderMixture = 15;
                    }
                    else {
                      bulkCylinderMixture = 16;
                    }

                    jQuery("#bulk_cylinder_mixture_txtbox").prop('disabled', false);
                    jQuery("#bulk_cylinder_mixture").prop('disabled', true);
                    jQuery("#bulk_cylinder_mixture_txtbox").val(bulkCylinderMixture);
                  }
                  else {
                    jQuery("#bulk_cylinder_mixture_txtbox").prop('disabled', true);
                    jQuery("#bulk_cylinder_mixture").prop('disabled', false);
                  }

                  let IsRentOwn = "";
                  if(data.rent_own) {
                    if(data.rent_own == 'Rent') {
                      IsRentOwn = 25;
                    }
                    else {
                      IsRentOwn = 26;
                    }
                    jQuery(".is_rent_own").hide();
                    jQuery(".is_rent_own_txtbox").prop('disabled', false);
                  }
                  else {
                    jQuery(".is_rent_own").show();
                    jQuery(".is_rent_own_txtbox").prop('disabled', true);
                  }

                  if(data.current_supplier) {
                    jQuery(".current_gas_supplier").hide();
                  }
                  else {
                    jQuery(".current_gas_supplier").show();
                  }

                  jQuery("#coke_id").val(data.coke_id);
                  jQuery("#organization_name").val(data.name);
                  jQuery("#site_location_name").val(data.name_2);
                  jQuery("#telephone").val(data.phone_no);
                  jQuery("#street_1").val(data.address_1);
                  jQuery("#street_2").val(data.address_2);
                  jQuery("#city").val(data.city);
                  jQuery("#region_id").val(data.region_id);
                  jQuery("#zip").val(data.postcode);
                  jQuery("#is_rent_own").val(IsRentOwn);
                  jQuery("#billing_email_address").val(data.statement_email);
                  jQuery("#bulk_cylinder_mixture").val(bulkCylinderMixture);
                  jQuery("#current_gas_supplier").val(data.current_supplier);
                  jQuery("#service_start_date").val(data.start_date);
                  jQuery("#case_sfid").val(data.case_sfid);
                  jQuery("#cust_ext_id").val(data.cust_existing_id);
                }
                else {

                  /* preview bp ref data */
                  jQuery("#preview-coke-id").html(data.coke_id);
                  jQuery("#preview-zip-code").html(data.postcode);
                  jQuery("#preview-business-name").html(data.name);
                  jQuery("#preview-store-location").html(data.name_2);
                  jQuery("#preview-address-line-1").html(data.address_1);
                  jQuery("#preview-address-line-2").html(data.address_2);
                  jQuery("#preview-city").html(data.city);
                  jQuery("#preview-state").html(data.state);

                  /* show/hide */
                  jQuery("#v7-search-message").hide();
                  jQuery("#bpref-preview").show();
                  jQuery("#btn-yes-my-account").show();
                }

              }
              else {

                jQuery("#v7-search-message").show();

                let searchCokeId = jQuery("#search_coke_id").val();
                let searchPostcode = jQuery("#search_postcode").val();
                if(!searchCokeId && !searchPostcode) {
                  jQuery("#v7-search-message").html('Please enter Coke Customer Number and Zip Code.')
                }
                else {
                  jQuery("#v7-search-message").html('A matching Coke Customer Number and Zip Code could not be found.')
                }

                jQuery("#bpref-preview").hide();
                jQuery("#btn-yes-my-account").hide();
              }

          },
          error: function(result){
              console.log('no response !');
          }
        });
      }

      /* accordion */
      $("#element").accordion({
        multipleCollapsible: true,
        collapsible: true
      });

      $('#submit-esprigas').click(function(event) {
        $('[data-role="content"]').css('display', 'block');
        var formValidate = $('#form-validate');
        var status = formValidate.validation('isValid');
        if(!status) {
          $("#form-validate").submit();
        }
      });

      /* Form readonly */
      var customerStatus = $("#customer-status").val();
      var customerStatusNew = $("#customer-status-new").val();

      if(customerStatus != customerStatusNew) {
        jQuery(".readonly").prop('disabled', true);
        jQuery("#telephone").prop('disabled', true);
        jQuery("#region_id").prop('disabled', true);
      } else {
        jQuery(".readonly").prop('disabled', false);
        jQuery("#telephone").prop('disabled', false);
        jQuery("#region_id").prop('disabled', false);
      }

      /*row builder*/
      var jsonObjFormData = <?php echo $jsonData ?>;

      var data = {
          formData: jsonObjFormData,
          templateFields: [
              "gas-name", "gas-quantity"
          ]
      };

      $(".row-builder-example").rowBuilder({
          "rowTemplate":"#row-template",
          "rowContainer":"#row-container",
          "rowParentElem":"<div></div>",
          "remEventSelector":"a",
          "btnRemoveSelector":".action.remove",
          "maxRows":"5",
          "maxRowsMsg":"#max-rows-message",
          "addRowBtn":"#add-row-button",
          "additionalRowClass":"additional",
          "rowCount":"3",
          "formDataPost": data
      });

      /* dependency fields */

      let other_business_locations = $("#other_business_locations").val();
      if(other_business_locations == 1) {
        $(".location_pay").show();
      } else {
         $(".location_pay").hide();
      }
      $(document).on('change', "#other_business_locations", function(){
        let data = $(this).val();

        if(data == 1) {
          $(".location_pay ").show();
        } else {
          $(".location_pay ").hide();
        }

      });

      /* --------------------- */

      jQuery("#bulk_cylinder_mixture_txtbox").prop('disabled', true);
      jQuery(".is_rent_own_txtbox").prop('disabled', true);

      let bulk_cylinder_mixture = $("#bulk_cylinder_mixture").val();
      let Cylinder = 14;

      if(bulk_cylinder_mixture == Cylinder) {
        $(".count_carbon_dioxide_20lb").show();
        $(".is_rent_own").show();
        $(".tax_exempt").show();
        $(".is_establishment").show();
        $(".other_gases").show();
      } else {
        $(".is_rent_own").hide();
        $(".tax_exempt").hide();
        $(".is_establishment").hide();
        $(".other_gases").hide();
      }

      $(document).on('change', "#bulk_cylinder_mixture", function(){
        let data = $(this).val();

        if(data != Cylinder) {
          $(".count_carbon_dioxide_20lb").hide();
          $(".is_rent_own").hide();
          $(".tax_exempt").hide();
          $(".is_establishment").hide();
          $(".other_gases").hide();
        } else {
          $(".count_carbon_dioxide_20lb").show();
          $(".is_rent_own").show();
          $(".tax_exempt").show();
          $(".is_establishment").show();

          let isEstablishment = $("#is_establishment").val();
          if(isEstablishment == 1) {
            $(".other_gases").show();
          } else {
            $(".other_gases").hide();
          }
        }

      });

      /* --------------------- */
      let is_establishment = $("#is_establishment").val();
      if(is_establishment == 1) {
        $(".other_gases").show();
      }
      else {
        $(".other_gases").hide();
      }
      
      $(document).on('change', "#is_establishment", function(){
        let data = $(this).val();

        if(data == 1) {
          $(".other_gases ").show();
        } else {
          $(".other_gases ").hide();
        }

      });

      $(document).on('change', "#region_id", function() {
        let regionName = $(this).find("option:selected").text();
        jQuery("#region").val(regionName);
      })

      /* choose customer group */
      var groupId = jQuery("#group_id").val();
      jQuery("#customer-group-box-"+groupId).addClass('selected');
      var val = jQuery("#customer-group-box-"+groupId).attr('data-value');
      jQuery("#group_id").val(val);

      jQuery(document).on('click', "#radio-group .radio", function() {
        jQuery(this).parent().find('.radio').removeClass('selected');
        jQuery(this).addClass('selected');
        var val = jQuery(this).attr('data-value');
        jQuery(this).parent().find('input').val(val);
      });

      /* is sms conditional message */
      var isSms = jQuery("#is_sms").val();
      if(isSms == 1) {
        jQuery("#sms-msg").show();
      } else {
        jQuery("#sms-msg").hide();
      }

      jQuery("#is_sms").on("change", function(){
        var isSms = jQuery(this).val();
        if(isSms == 1) {
          jQuery("#sms-msg").show();
        } else {
          jQuery("#sms-msg").hide();
        }
      })

      /* is sms conditional message */
      var taxExempt = jQuery("#tax_exempt").val();
      if(taxExempt == 1) {
        jQuery("#tax-msg").show();
      } else {
        jQuery("#tax-msg").hide();
      }

      jQuery("#tax_exempt").on("change", function(){
        var taxExempt = jQuery(this).val();
        if(taxExempt == 1) {
          jQuery("#tax-msg").show();
        } else {
          jQuery("#tax-msg").hide();
        }
      })

      /* conditional validation */
      $.validator.addMethod(
        'validate-mobile-number', function(value) {
            var isSMS = $("#is_sms").val();
            if (isSMS == 0) return true; 
            return (value > 0);
        }, $.mage.__('This is a required field.'));

      /* on page load */
      ReadonlyField(isReadonly=true);

      function ReadonlyField(isReadonly) {
        /*
        if(isReadonly) {
          jQuery("#coke_id").prop('readonly', true);
          jQuery("#organization_name").prop('readonly', true);
          jQuery("#site_contact_name").prop('readonly', true);
          jQuery("#telephone").prop('readonly', true);
          jQuery("#street_1").prop('readonly', true);
          jQuery("#street_2").prop('readonly', true);
          jQuery("#city").prop('readonly', true);
          jQuery("#region_id").prop('readonly', true);
          jQuery("#zip").prop('readonly', true);
          jQuery("#billing_email_address").prop('readonly', true);
          jQuery("#current_gas_supplier").prop('readonly', true);
          jQuery("#service_start_date").prop('readonly', true);

          jQuery("#is_rent_own_txtbox").prop('disabled', false);
          jQuery("#is_rent_own").prop('disabled', true);

          jQuery("#bulk_cylinder_mixture_txtbox").prop('disabled', false);
          jQuery("#bulk_cylinder_mixture").prop('disabled', true);
        }
        else {
          jQuery(".is_existing_customer").show();
          jQuery("#coke_id").prop('readonly', false);
          jQuery("#organization_name").prop('readonly', false);
          jQuery("#site_contact_name").prop('readonly', false);
          jQuery("#telephone").prop('readonly', false);
          jQuery("#street_1").prop('readonly', false);
          jQuery("#street_2").prop('readonly', false);
          jQuery("#city").prop('readonly', false);
          jQuery("#region_id").prop('readonly', false);
          jQuery("#zip").prop('readonly', false);
          jQuery("#billing_email_address").prop('readonly', false);
          jQuery("#current_gas_supplier").prop('readonly', false);
          jQuery("#service_start_date").prop('readonly', false);

          jQuery("#is_rent_own_txtbox").prop('disabled', true);
          jQuery("#is_rent_own").prop('disabled', false);

          jQuery("#bulk_cylinder_mixture_txtbox").prop('disabled', true);
          jQuery("#bulk_cylinder_mixture").prop('disabled', false);
        }
        */
      }

    });
</script>

<script type="text/x-magento-init">
    {
      "#form-validate": {
          "validation": {}
      }
    }
</script>
<?php if ($currentCustomerStatus == $customerNewStatus) { ?>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {
                "postCodes": <?= /* @noEscape */ $block->getPostCodeConfig()->getSerializedPostCodes() ?>
            }
        }
    }
</script>
<?php } ?>