<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_CompanyAccount
 */
?>
<?php
/**
 * @var \Amasty\CompanyAccount\Block\Payment\Info $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>
<div class="order-payment-method-name"><?= $escaper->escapeHtml($block->getMethodTitle()) ?></div>
<div>
    <a href="<?= $escaper->escapeUrl($block->getCheckUrl()) ?>" target="_blank"><?= $escaper->escapeHtml(__('Check Current Balance.')) ?></a>
</div>
