.v7-ba-accordion-content {
  margin-bottom: 20px;
  background-color: #fff;
  padding:20px;
}
.v7-ba-intro {
  margin: 20px 0;
}
.d-flex { 
	display: flex;
    justify-content: space-between;
}
.v7-gas-quantity, .v7-gas-name {
	width: 45%;
}
.other_gases .actions-toolbar { 
	width: 60px;
}
.form-navgen-data .legend {
  margin-bottom: 0;
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
}
.v7-ba-intro h3{
  margin-top:0px;
}
.v7-ba-accordion-content .v7-ba-intro{
  margin-top:0;
}
.mt-30 {
  margin-top:30px;
}
.businessaccount-index-index .modal-popup .modal-inner-wrap{
  max-width: 600px;
}
.businessaccount-index-index .v7-ba-accordion-content label{
  font-weight: 500;
}
.navigen-search-modal-form {
  padding:15px;
}
.navigen-search-modal-form .field{
  margin-bottom: 15px !important;
}
