<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<style>
.page-print #maincontent .footer-top{
    display:none;
}
.page-print #maincontent{
    background:#fff;
}
.page-print #maincontent .navbar-brand {
  background: #fff;
}
.page-print #maincontent .navbar-brand img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.page-print #maincontent .order-details-items{
    background:#fff;
    padding:15px;
    margin-top:20px;
}
.page-print #maincontent .copyright.text-center {
    background: #232729;
    padding: 10px 0px;
    color: #fff;
}
.page-print #maincontent th.mark {
    background: #fff;
}
.page-print #maincontent .order-details-items .order-title strong {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.page-print #maincontent .block-order-details-view .block-title strong {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.page-print #maincontent .box-title strong {
    font-size: 18px !important;
    color: #4c5458;
    font-weight: 600 !important;
    line-height: 28px !important;
}
.page-print #maincontent .table-order-items thead{
    background: #2f9699;
  margin-bottom: 0;
}
.page-print #maincontent .table-order-items thead th{
    color:#fff;
    font-weight:400;
}
.page-print #maincontent .box-content address a {
    line-height:30px;
}
.page-print #maincontent .box-content address a:before {
    content: '\f2a0';
    font-size: 20px;
    color: #eb4021;
    margin-left: 2px;
    padding-right: 8px;
    padding-top: 0;
    float: left;
    font-family: FontAwesome;
}
.table-order-items thead tr th{
    border-bottom:0px;
}
tfoot .subtotal {
    display: contents!important;
}
.page-print #maincontent .table:not(.cart):not(.totals)>thead>tr>th, .table:not(.cart):not(.totals)>thead>tr>td {
    border-bottom: 0;
}

/*new class*/
.invMain{
    width:100%;
}
.invMain__company{
    width:33%;
    font-size: 24px;
}
.invoicec__brand{
    width:33%;
    text-align:center;
}
.invoicec__brand img{
    width:70%;
}
.invoicec__dates {
    width: 33%;
    float: right;
}
.invoicec__dates__heading{
    font-weight: 600;
    font-size: 32px;
    text-align: right;
    width: 100%;
    float: right;
}
.invMain__biilto{
    width:50%
}
.invMain__shipto{
    width:50%
}
.invMain__totalamount{}
.invMain__totalamount__leftpanel{
    width:50%;
    float:left;
}
.invMain__totalamount__rightpanel{
    width:40%;
    float:right;
}
.invMain .table-bordered{
    border:1px solid #ccc!important;
}
</style>
<?php $_order = $block->getOrder() ?>
<?php $_invoice = $block->getInvoice() ?>
<?php if ($_invoice) : ?>
    <?php $_invoices = [$_invoice]; ?>
<?php else : ?>
    <?php $_invoices = $_order->getInvoiceCollection() ?>
<?php endif; ?>
<?php foreach ($_invoices as $_invoice) : ?>

    <table class="table">

  <tbody class="invMain">
    <tr>
      <td class="invMain__company">
      #507, SRS IT Tower,<br>
      Sector-31, Faridabad(Delhi NCR),<br>
      Haryana (India) 121003
      </td>
      <td class="invoicec__brand">
          <img src="https://devorder.esprigas.com//media/logo/stores/1/logo_1.png">
      </td>
      <td class="invoicec__dates">
             <table>
                <span class="invoicec__dates__heading">Invoice</span>
                <thead>
                    <th>Date</th>
                    <th>Invoice#</th>
                </thead>
                <tr>
                    <td>2/1/2021</td>
                    <td>115546</td>
                </tr>
             </table>
      </td>
      <td>

     </td>
    </tr>

    <table class="table">
    <tr>
      <td class="invMain__biilto">
      #507, SRS IT Tower,<br>
      Sector-31, Faridabad(Delhi NCR),<br>
      Haryana (India) 121003
      </td>
      <td class="invMain__shipto">
      #507, SRS IT Tower,<br>
      Sector-31, Faridabad(Delhi NCR),<br>
      Haryana (India) 121003
      </td>
    </tr>
</table>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Description</th>
            <th scope="col">Qty</th>
            <th scope="col">Rate</th>
            <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
            <td>Monthly Cylinder Rental  - Nitros</td>
            <td>2</td>
            <td>7.00</td>
            <td>14.00T</td>
            </tr>
            <tr>
            <td>Monthly Cylinder Rental  - Nitros</td>
            <td>2</td>
            <td>7.00</td>
            <td>14.00T</td>
            </tr>
            <tr>
            <td>Monthly Cylinder Rental  - Nitros</td>
            <td>2</td>
            <td>7.00</td>
            <td>14.00T</td>
            </tr>
        </tbody>
        </table>
            <table class="table invMain__totalamount">
                <tr>
                <td class="invMain__totalamount__leftpanel">
               Just a quick reinder.
            Any Account that is 30 days or more past due can 
            and will be put on hold until payment received.
            Thanks
                </td>
                 <td class="invMain__totalamount__rightpanel">
                        <table>
                        <tr>
                            <td>Total</td>
                            <td>$37.45</td>
                        </tr>
                        <tr>
                            <td>Payments/Credits</td>
                            <td>$0.00</td>
                        </tr>
                        <tr>
                            <td>Balance Due</td>
                            <td>$37.45</td>
                        </tr>
                    </table>
                </td>
            </tr>
</table>

  </tbody>

</table>

<?php endforeach; ?>
