<header class="header">
	<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" onclick="openNav()">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<?= $block->getChildHtml('header-logo') ?>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<!--<li><a class="customer-register-link" href="javascript:void(0);">Signup 2</a></li> -->
					<li>
						<a href="<?= $block->getBaseUrl() ?>all-products"> <i class="fa fa-life-ring" aria-hidden="true"></i> All Products</a>
					</li>
					<li>
						<a href="<?= $block->getBaseUrl() ?>about-us"><i class="fa fa-building-o" aria-hidden="true"></i> Why Us</a>
					</li>
					<li>
						<?php
						$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
						$customerSession = $objectManager->create('Magento\Customer\Model\Session');
						$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
						$currentStore = $storeManager->getStore();
						$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
						
						if ($customerSession->isLoggedIn()) : ?>

							<!-- Notifications: style can be found in dropdown.less -->
					<li class="dropdown  user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="<?= $mediaUrl."images/dashboard/U-with-bottle.png" ?>" class="user-image" alt="User Image">
							<!-- <span class="hidden-xs user-name"><?php // $customerSession->getCustomer()->getName(); ?></span> -->
						</a>
						<ul class="dropdown-menu">
							<li class="user-header">
								<img src="<?= $mediaUrl."images/dashboard/U-with-bottle.png" ?>" class="img-circle" alt="User Image">
								<p>
								<?=  $customerSession->getCustomer()->getData('business_name'); ?> 
									<small>Partner since <?= date("M-y",strtotime($customerSession->getCustomer()->getData('created_at'))) ?></small>
								</p>
							</li>
							<li class="user-footer">
								<div class="pull-left">
									<a href="<?= $currentStore->getBaseUrl().'custommodule/index/'; ?>" class="btn btn-default btn-flat">My Account</a>
								</div>
								<div class="pull-right">
									<a href="<?= $currentStore->getBaseUrl().'customer/account/logout'; ?>" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</a>
								</div>
							</li>
						</ul>
					</li>
				<?php else : ?>

					<a class="customer-login-link" href="javascript:void(0);">Login/ SignUp</a>

				<?php endif; ?>
				</li>
				<!-- <li class="">
						<a class="" href="#loginModal" data-toggle="modal"><span>Login/SignUp</span></a>
					</li> -->
				<!--	<li class="">
						<a data-trigger="trigger" href="javascript:void(0)" onClick="showLoginPopup()" id="loginMenu">
							<span> Login/SignUp </span>
						</a>

						<div data-bind="mageInit: {
                        'Magento_Ui/js/modal/modal':{
                        'type': 'popup',
                        'trigger': '[data-trigger=trigger]',
                        'responsive': true
						}}">

							<div id="content" style="background-color: #f40000;display:none;">
														</div>

						</div>

					</li>
					-->
				<li class="dropdown mycart">
					<?= $this->getChildHtml('minicart') ?>
				</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Mobile Responive Menu Start -->
	<nav id="sidebar" class="hidden-lg hidden-md hidden-sm">
		<a href="javascript:void(0)" class="closebtn" id="dismiss">&times;</a>
		<div class="sidebar-header"><img src="images/logo.png" alt="Espri"> EspriGas</div>
		<ul class="list-unstyled components">
			<li><a href=""><i class="fa fa-home"></i> Home</a></li>
			<li><a href=""><i class="fa fa-user"></i> All Products</a></li>
			<li><a href=""><i class="fa fa-info-circle"></i> Why Us</a></li>
			<li><a href=""><i class="fa fa-question-circle-o"></i> FAQ</a></li>
			<li><a href=""><i class="fa fa-files-o"></i> Privacy</a></li>
			<li><a href=""><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
		</ul>
	</nav>
	<!-- Mobile Responive Menu End -->
	<div class="menu-overlay"></div>
</header>