<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<a id="back-to-top" href="javascript:void(0)" class="back-to-top"><span class="fa fa-chevron-up"></span></a>

        <div class="container">
            <div class="footer__copyright">
                <div class="copyright text-center"><?= $block->escapeHtml($block->getCopyright()) ?></div>
            </div>
        </div>



