<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="footer-container">
    <div class="footer">
        <?= $block->getChildHtml() ?>
        <?= $block->escapeHtml($block->getCopyright()) ?>
    </div>
</div>
