.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232729;
  font-style: normal;
  font-weight: 700;
  font-family: 'Proxima Nova Regular', sans-serif;
}
/****************************************************
 Dashboard Header Css 
*****************************************************/
.header .navbar-default .navbar-nav > li.nav-products,
.header .navbar-default .navbar-nav > li.nav-whyus {
  display: none;
}
.header .navbar-default .navbar-nav > li.user-menu a.dropdown-toggle {
  padding: 25px 15px 44px;
}
.header .navbar .nav > li > a > .label {
  position: absolute;
  top: 11px;
  right: 3px;
  text-align: center;
  font-size: 9px;
  padding: 0;
  line-height: 20px;
}
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.header > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
  box-shadow: none;
  height: auto;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0;
  padding: 10px 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  content: ' ';
  display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.img-circle {
  border-radius: 50%;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 11px;
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 10px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer {
  position: relative;
  background-color: transparent;
  padding: 0;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  font-size: 12px;
}
.navbar-nav
  > .notifications-menu
  > .dropdown-menu
  > li
  .menu
  > li
  > a
  > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}

/****************************************************
 Dashboard Css 
*****************************************************/
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox-title {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 2px 2px 0 0;
}
.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  text-align: right;
}
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4 !important;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid;
  border-width: 1px;
}
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.dashboard-info-btn {
  background-color: #eb4021;
  padding: 5px 15px;
  color: #fff !important;
  border-radius: 4px;
  float: left;
}
/* .dashboard-info-btn.view-order {
  padding:5px 10px;
} */
/* .dashboard-info-btn.view-order.next-order {
  padding: 5px 3px;
} */
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #2f9699 !important;
  color: #fff !important;
}
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #eb4021 !important;
  color: #fff !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #00a65a !important;
  color: #fff !important;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-number {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

.text-center {
  text-align: center;
}
.account .columns .column.main {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.account .columns .column.main::-webkit-scrollbar {
  display: none;
}
.pd-0 {
  padding: 0;
}
.table:not(.cart):not(.totals) > tbody > tr > td {
  border-bottom: 1px solid #ddd;
}
.ibox .label-info,
.ibox .label-success {
  color: #fff;
}
.btn-buy {
  background-color: #eb4021;
  padding: 2px 10px;
  color: #fff;
  border-radius: 16px;
  border-color: #eb4021;
}
.btn-buy:hover {
  background-color: #f40000;
  color: #fff;
  border-color: #eb4021;
}
.cart-img {
  max-height: 60px;
}

/*************************************************************
 New Account Setup CSS 
**************************************************************/
.primary-text-color {
  color: #eb4021;
}
.new-account-info-container {
  background: #fff;
  width: 100%;
  position: relative;
  padding: 40px 25px;
  border-radius: 10px;
  /* box-shadow:0 1rem 1rem 0 rgba(0,0,0,.08); */
}
.script-title {
  font-family: 'Antenna Extra Light', sans-serif !important;
  position: absolute;
  /* right: 0; */
  font-size: 46px;
  top: -10px;
  color: #eb40211a;
  z-index: 0;
  font-weight: 700;
}
.account-info-icon,
.account-info-content {
  text-align: center;
  margin-bottom: 10px;
}
.account-info-icon {
  height: 70px;
}
.account-info-icon img {
  max-width: 64px;
}
.account-info-content {
  min-height: 150px;
}
.new-account-info-container p {
  font-size: 14px;
  color: #5e6164;
}
.btn-secondary.btn-common-success {
  background: #87a956 !important;
  border-color: #87a956 !important;
  color: #fff !important;
  font-weight: 700 !important;
  letter-spacing: 0.3px;
  padding: 10px 20px;
  border-radius: 30px;
}
.btn-secondary.btn-common-orange-border {
  background: #fff !important;
  border-color: #eb4021 !important;
  color: #5e6164 !important;
  font-weight: 500 !important;
  letter-spacing: 0.3px;
  padding: 10px 20px;
  border-radius: 30px;
}
.preview-account-container {
  width: 100%;
  /* background: #e9ecef; */
  background: #ebccd1;
  display: flex;
  align-items: center;
  border-radius: 6px;
  /* border:1px solid #EAEFF5; */
  border: none;
  overflow: hidden;
}
.preview-account-container .icon {
  width: 115px;
  height: 115px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-content {
  padding: 0 20px;
}
.preview-content h4,
.preview-content .textCommon {
  color: #a94442;
}
.text-b-u {
  text-decoration: underline;
  font-weight: 600;
}
.title-icon {
  position: relative;
}
.title-icon::after {
  content: '';
  position: absolute;
  width: 104px;
  height: 104px;
  background: url(../images/espri-title-icon.png) no-repeat;
  background-position: center center;
  top: 50%;
  right: 38%;
  transform: translate(-50%, -50%);
}

/*************************************************************
 Invoice CSS 
**************************************************************/
.espriGas-order-lists {
  width: 100%;
  float: left;
  position: relative;
  background: #fff;
  padding: 0px;
  margin-bottom: 10px;
}
.espriGas-order-lists.tableheader {
  background: #fbd4d4;
  margin-bottom: 0;
}
.single-order-list .rowitems {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #e4e4e4;
}
.single-order-list .rowitems li {
  width: 12%;
  display: inline-flex;
  position: relative;
  font-size: 14px;
  color: #4c5458;
  padding: 8px;
}
.single-order-list .rowitems li:nth-last-child(1) {
  text-align: right;
}
.orderId {
  font-weight: 700;
}
.orderPayment {
  float: right;
  text-align: right;
}
.btn-reorder {
  color: #eb4021;
  background: #fbd4d4;
  border: 1px solid #fbd4d4;
  border-radius: 4px;
  padding: 3px 9px;
}
.btn-reorder:hover {
  color: #fff;
  background: #f40000;
  border: 1px solid#f40000;
}
.orderPayment .btn-reorder {
  line-height: 14px;
  padding: 15px 6px;
  text-align: center;
  border-radius: 0px;
  width: 100%;
}
.paid {
  color: #32946f;
}
.unpaid {
  color: #eb4021;
}

/*************************************************************
 My Account CSS 
**************************************************************/
.block.block-dashboard-addresses .block-title .edit,
.block.block-dashboard-addresses .box-billing-address .box-actions,
.block.block-dashboard-addresses .box-shipping-address .box-actions {
  display: none;
}
.deliverydays {
  margin-top: 25px;
}
.account .column.main .block:last-child {
  margin-bottom: 20px;
}
.account .sidebar.sidebar-main {
  position: fixed;
}
.account-nav-content .items li {
  line-height: 38px;
}
.account .account-nav .item {
  margin: 0px;
}
.account .account-nav .item a:hover {
  border-left: 3px solid #f28726;
}
.account-nav-content .items .current {
  background: #eb4021;
  border-left: 3px solid #f28726;
}
.account .btn-buy {
  border-radius: 4px;
}
.account .pages a.page {
  background: #818688;
  color: #fff;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}
.account .pages a.page:hover {
  background: #4c5458;
}
.order-products-toolbar .pages .current span {
  background: #4c5458;
  color: #fff;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}
.account .pages .action.next {
  border: 0px;
  background: none;
  margin-left: 0px;
}
.account .pages .action.next:before {
  font-size: 72px;
  color: #eb4021;
}
.account .pages .action.previous {
  border: 0px;
  background: none;
  margin-right: 24px;
}
.account .pages .action.previous:before {
  font-size: 72px;
  color: #eb4021;
}
.account .pages .action.next:hover:before {
  color: #f28726;
}
.account .pages .action.previous:hover:before {
  color: #f28726;
}
.block-dashboard-info .block-title strong {
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.block-dashboard-info .block-title strong span {
  color: #232729 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.block-dashboard-addresses .block-title strong {
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.block-dashboard-addresses .block-title strong span {
  color: #232729 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.block-dashboard-addresses {
  background: none !important;
}
.block--addressbox {
  background: #fff;
  padding: 20px;
}
.block--addressbox .box-billing-address {
  float: left !important;
}
.block--addressbox .box-shipping-address {
  float: left !important;
}
.block--addressbox .box-content address {
  font-size: 16px;
  color: #4c5458;
  line-height: 28px;
}
.block-dashboard-info .box-content p {
  font-size: 16px;
  color: #4c5458;
  line-height: 28px;
}
.block-dashboard-info .box-title span {
  font-size: 18px !important;
  color: #4c5458;
  font-weight: 600 !important;
  line-height: 28px !important;
}
.block--addressbox .box-content address a:before {
  content: '\f2a0';
  font-size: 20px;
  color: #eb4021;
  margin-left: 2px;
  padding-right: 8px;
  padding-top: 0;
  float: left;
  font-family: FontAwesome;
}
.account .footer-top {
  display: none;
}
header i.fa.fa-bell-o {
  font-size: 23px;
  color: #f28726;
}
header i.fa.fa-life-ring {
  font-size: 23px;
  color: #f28726;
}
header span.label.label-warning {
  background: #eb4021;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.account .block-dashboard-orders a.action.view {
  color: #fff;
}
.account .block-dashboard-orders a.action.view:hover {
  color: #fff;
}
.account .block-dashboard-orders .action.order {
  background: #eb4021;
  color: #fff;
}
.account .account-nav-content .nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eb4021;
}
.account-nav-content .items .current strong {
  font-weight: 400;
}
.account .action.view {
  background: none;
  border: 0px;
}
.account .orders-history .actions .order {
  color: #fff;
  background-color: #eb4021;
}
.account .orders-history .actions .order:hover {
  color: #fff;
  background-color: #eb4021;
}
.account .order-details-items {
  background: #fff;
  padding: 0px 15px 15px 15px;
}
.account .order-details-items .order-title strong {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.account ul.items.order-links {
  display: none;
}
.account .table-order-items th.mark {
  background: #fff;
}
.account table#my-orders-table tr td {
  border-bottom: 0px !important;
}
.account table#my-orders-table th {
  border-bottom: 0px !important;
}
.account table#my-orders-table tr {
  border-bottom: 1px solid #ccc;
}
.account tfoot tr {
  border-bottom: 0px !important;
}
.account tfoot th {
  border-top: 0px !important;
}
.account tfoot td {
  border-top: 0px !important;
}
.account .block.block-order-details-view {
  background: #fff;
  padding: 15px;
}
.account .block-order-details-view .block-title strong {
  margin-bottom: 20px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.block-order-details-view .box-title span {
  font-size: 18px !important;
  color: #4c5458;
  font-weight: 600 !important;
  line-height: 28px !important;
}
.box-order-shipping-address .box-content address {
  font-size: 16px;
  color: #4c5458;
  line-height: 28px;
}
.box-order-shipping-address .box-content address a:before {
  content: '\f2a0';
  font-size: 20px;
  color: #eb4021;
  margin-left: 2px;
  padding-right: 8px;
  padding-top: 0;
  float: left;
  font-family: FontAwesome;
}
.box-order-billing-address .box-content address a:before {
  content: '\f2a0';
  font-size: 20px;
  color: #eb4021;
  margin-left: 2px;
  padding-right: 8px;
  padding-top: 0;
  float: left;
  font-family: FontAwesome;
}
.account .table-wrapper.stripe-payments {
  background: #fff;
  padding: 15px;
}
#popup-modal .login-right {
  width: 100%;
  padding: 0px;
}
#popup-modal .info .legend span {
  margin-bottom: 20px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.account .modal-popup._inner-scroll .modal-inner-wrap {
  width: 500px !important;
}
.account #popup-modal .closePopbtn {
  margin-top: 10px;
  right: 0px;
  color: #eb4021;
  font-size: 32px;
  position: absolute;
  background: none;
  border: 0px;
}
.account #popup-modal .closePopbtn:hover {
  color: #f28726;
}
.closePopup .modals-overlay {
  display: none;
}
.closePopup .modal-popup {
  display: none;
}
#popup-modal .fieldset {
  margin: 0px;
}
.navbar-brand {
  padding: 0px;
}
