<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');

$groupOptions = $objectManager->get('\Magento\Customer\Model\ResourceModel\Group\Collection')->toOptionArray();

?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Contact Information')) ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?= $block->escapeHtml($block->getName()) ?><br>
                    <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                </p>
                <?= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
            </div>
            <div class="box-actions">
                
                <a id="click-for-password" href="#" class="action change-password">
                    <?= $block->escapeHtml(__('Change Password')) ?>
                </a>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()) : ?>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Newsletters')) ?></span>
                </strong>
                <div class="box-content">
                    <p>
                        <?php $buy_grp =$customerSession->getCustomer()->getGroupId();
                        
                        foreach ($groupOptions as $key => $value) {
                            if ($value['value'] == $buy_grp) {
                                echo $grupid = $value['label'];
                            }
                        }
                        
                        ?>
                    </p>
                </div>
                <div class="deliverydays">
                    <strong class="box-title">
                        <span>Delivery Days</span>
                    </strong>
                    <div class="box-content">
                        <p>
                            <?php if ($customerSession->getCustomer()->getData('delivery_days_id')) {
                                //echo $customerSession->getCustomer()->getProgramId();
                               echo $customerSession->getCustomer()->getData('delivery_days_id');
                            } ?>
                        </p>
                    </div>
                </div>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div>
            </div>
            
        <?php endif; ?>
    </div>
</div>


<div id="popup-modal" style="display:none;">
<!-- <button type="button" class="close">&times;</button> -->
<button type="button" class="closePopbtn" id="myFunction">&times;</button>
    
    <?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Edit $block */
$blockObj = $block->getLayout()->createBlock('\Magento\Customer\Block\Form\Edit'); 
?>
<form class="form form-edit-account" action="<?= $blockObj->escapeUrl($blockObj->getUrl('customer/account/editPost')) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $blockObj->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">
    <fieldset class="fieldset info">
        <?= $blockObj->getBlockHtml('formkey') ?>
        <legend class="legend"><span><?= $blockObj->escapeHtml(__('Account Information ')) ?></span></legend><br>
        <div class="field choice">
            <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?= $blockObj->escapeHtmlAttr(__('Change Password')) ?>"<?php if ($blockObj->getChangePassword()) : ?> checked="checked"<?php endif; ?> class="checkbox" />
            <label class="label" for="change-password"><span><?= $blockObj->escapeHtml(__('Change Password')) ?></span></label>
        </div>
    </fieldset>
    <?php  //$block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Name::class)->setObject($block->getCustomer())->toHtml() ?>
   

    <fieldset class="fieldset password login-right" data-container="change-email-password">
      
        <div class="form-group field password current required">
                <input type="password" class="input-text form-control" name="current_password" id="current-password" data-input="current-password" autocomplete="off" placeholder="Password"/>
        </div>
        <div class="form-group field new password required" data-container="new-password">
                <input type="password" class="input-text form-control" name="password" id="password"
                    data-password-min-length="<?= $blockObj->escapeHtmlAttr($blockObj->getMinimumPasswordLength()) ?>"
                    data-password-min-character-sets="<?= $blockObj->escapeHtmlAttr($blockObj->getRequiredCharacterClassesNumber()) ?>"
                    data-input="new-password"
                    data-validate="{required:true, 'validate-customer-password':true}"
                    autocomplete="off" placeholder="New Password" />
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= $blockObj->escapeHtml(__('Password Strength')) ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $blockObj->escapeHtml(__('No Password')) ?>
                        </span>
                    </div>
                </div>
        </div>
        <div class="form-group field confirm password required" data-container="confirm-password">
                <input type="password" class="input-text form-control" name="password_confirmation" id="password-confirmation"
                    data-input="confirm-password"
                    autocomplete="off" placeholder="Confirm New Password"/>
        </div>
    </fieldset>
    <?= $blockObj->getChildHtml('form_additional_info') ?>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $blockObj->escapeHtmlAttr(__('Save')) ?>"><span><?= $blockObj->escapeHtml(__('Save')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $blockObj->escapeUrl($blockObj->getBackUrl()) ?>"><span><?= $blockObj->escapeHtml(__('Go back')) ?></span></a>
        </div>
    </div>
</form>

<script>
// function myFunction() {
//    var element = document.querySelector("body");
//    element.classList.add("closePopup");
// }
// </script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?= $blockObj->escapeJs($blockObj->escapeHtml(__('Change Email'))) ?>",
                "titleChangePassword": "<?= $blockObj->escapeJs($blockObj->escapeHtml(__('Change Password'))) ?>",
                "titleChangeEmailAndPassword": "<?= $blockObj->escapeJs($blockObj->escapeHtml(__('Change Email and Password'))) ?>"
            }
        },
        "[data-container=new-password]": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-edit-account"
            }
        }
    }
</script>
   
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'popup modal title',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };
            
            var popup = modal(options, $('#popup-modal'));
            $("#click-for-password").on('click',function(){ 
                $("#popup-modal").modal("openModal");

            });
            $("#click-for-password").click(function(){ 
                $(".choice").hide(); 
                if($("#change-password").prop('checked') != true){
                    $("#change-password").click();
                }
                 });
                 $("#myFunction").click(function(){
            $("body").addClass("closePopup");
        });
        }
    );

</script>
