<?php
$objectManagerInstance = \Magento\Framework\App\ObjectManager::getInstance();
$url = $objectManagerInstance -> get('Magento\Framework\UrlInterface');
$a =  $url -> getCurrentUrl();
$request = $objectManagerInstance->get('Magento\Framework\App\Action\Context')->getRequest();
$requested_url= $request->getFullActionName();
//echo $requested_url;die;
if ((strpos($a, 'dashboard') !== false)||($requested_url==='catalog_product_view')||($requested_url==='catalog_category_view')||($requested_url==='cms_page_view')) {
  // echo 'true';die;
}else{



?>

<section class="footer-trust-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-comments-o"></i></div>
                    <h4>24x7 Help</h4>
                    <p>
                        Have a customer service request or need help? <a href="https://portal.esprigas.com/customerservicerequest" target="_blank">Click here</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-shield"></i></div>
                    <h4>100% secure payments</h4>
                    <p>All your payments are thru secured PCI compliant platform.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-exchange"></i></div>
                    <h4>Hassle-free Experience</h4>
                    <p>Sit back and enjoy the flexible options of ordering gas reliably.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-handshake-o"></i></div>
                    <h4>Espri Promise</h4>
                    <p>At Espri, Happiness is guaranteed. Any problem, <a href="https://esprigas.com/contact-us" target="_blank">contact us</a> anytime.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<?php }?>
<?php

echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('footer-trust-section')
->toHtml();
?>
 