<?php
$objectManagerInstance = \Magento\Framework\App\ObjectManager::getInstance();
$url = $objectManagerInstance -> get('Magento\Framework\UrlInterface');
$request = $objectManagerInstance->get('Magento\Framework\App\Action\Context')->getRequest();
echo $request;die;
$a =  $url -> getCurrentUrl();
if (strpos($a, 'dashboard') !== false) {
   // echo 'true';
}else{



?>

<section class="footer-trust-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-comments-o"></i></div>
                    <div class="trust-title">24x7 Help</div>
                    <p>
                        Have a customer service request or need help? <a href="https://portal.esprigas.com/customerservicerequest" target="_blank">Click here</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-shield"></i></div>
                    <div class="trust-title">100% secure payments</div>
                    <p>All your payments are thru secured PCI compliant platform.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-exchange"></i></div>
                    <div class="trust-title">Hassle-free Experience</div>
                    <p>Sit back and enjoy the flexible options of ordering gas reliably.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="trust-sect">
                    <div class="trust-icon"><i class="fa fa-handshake-o"></i></div>
                    <div class="trust-title">Espri Promise</div>
                    <p>At Espri, Happiness is guaranteed. Any problem, <a href="https://esprigas.com/contact-us" target="_blank">contact us</a> anytime.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<?php } ?>