<div class="header">
        <nav class=" header__navbar navbar navbar-expand-lg">
            <div class="container header__container">
                <a class="navbar-brand" href="/">
                    <img class="navbar-logo" src="images/logo.png" alt="EspriGas">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL"
                    aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample07XL">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="products.html">
                                <i class="fa fa-life-ring" aria-hidden="true"></i> All
                                Products</a></li>
                        <li class="nav-item">
                            <a href="about.html"><i class="fa fa-building-o" aria-hidden="true"></i> Why Us</a></li>
                        <!-- <li>
                        <a href="#signupModal" data-toggle="modal">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            New Customer
                        </a>
                    </li> -->
                        <!-- <li><a href=""> <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li> -->
                        <li class="nav-item">
                            <a class="" href="#loginModal" data-toggle="modal">
                                <span>Login/SignUp</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown mycart">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-shopping-cart"></i> Cart
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">2</span>
                            </a>
                            <ul class="dropdown-menu dropdown-cart" role="menu">
                                <li class="dropdown-menu__item mini_cart_item media">
                                    <div class="media-left">
                                        <a href="">
                                            <img width="180" height="180" src="images/product-1.png"
                                                class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                alt="06_sunglasses_image">
                                        </a>
                                    </div>
                                    <div class="dropdown-menu__detail media-body">
                                        <h3>
                                            <a href="">CO<sub>2</sub> 20 Lb Content</a>
                                        </h3>
                                        <span class="minicart-content-price">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>29</span>
                                        </span>
                                    </div>
                                    <span class="minicart-content-remove">
                                        <a href="" title="Remove this item">
                                            <div class="ws-001-icon"></div>
                                        </a>
                                    </span>
                                </li>
                                <li class="dropdown-menu__item mini_cart_item media">
                                    <div class="media-left">
                                        <a href="">
                                            <img width="180" height="180" src="images/product-1.png"
                                                class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                alt="06_sunglasses_image">
                                        </a>
                                    </div>
                                    <div class="dropdown-menu__detail media-body">
                                        <h3>
                                            <a href="">CO<sub>2</sub> 50 Lb Content</a>
                                        </h3>
                                        <span class="minicart-content-price">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>38</span>
                                        </span>
                                    </div>
                                    <span class="minicart-content-remove">
                                        <a href="" title="Remove this item">
                                            <div class="ws-001-icon"></div>
                                        </a>
                                    </span>
                                </li>
                                <li class="dropdown-menu__item mini_cart_item media" style="margin:0">
                                    <div class="minicart-content-total">
                                        <h3>Subtotal: <span class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">$</span>67</span>
                                        </h3>
                                    </div>
                                </li>
                                <li class="dropdown-menu__item mini_cart_item media" style="margin:0">

                                    <div class="ws-shop-menu-checkout">
                                        <div class="ws-shop-viewcart pull-left">
                                            <a href="cart.html" class="btn btn-sm btn-view">View
                                                Cart</a>
                                        </div>
                                        <div class="ws-shop-checkout pull-right">
                                            <a href="checkout.html"
                                                class="btn btn-sm btn-view btn-checkout">Checkout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>



                    <!-- <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07XL">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                </ul> -->

                </div>
            </div>
        </nav>
</div>