<?php
/**
 * @var $block \EspriModule\Customernotification\Block\Notification
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl();

$customer_id = $customerSession->getCustomer()->getId();
 $notification = $block->newnotification($customer_id);
//  echo"<pre>";
// print_r($notification);

?>


<li class="dropdown notifications-menu onlydashboard" >
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bell-o"></i>
									<?php if (count($notification)>0) { ?>
									<span class="label label-warning">
									<?=  count($notification); ?>
									</span>
									<?php }  ?>
								</a>
								<?php if (count($notification)>0) {
									?>
								<ul class="dropdown-menu">
								
									<li class="header">You have <?= count($notification); ?> notifications</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu">
										<?php foreach ($notification as $key => $value) {
											if ($value['status']=='pending') { ?>
												<li>
												<a href="#">
													<i class="fa fa-thumbs-up" aria-hidden="true"></i>
													Order No. <?= $value['orderid'] ?> Placed
												</a>
											</li>
											<?php }elseif ($value['status']=='processing') { ?>
												<li>
												<a href="#">
												<i class="fa fa-thumbs-up" aria-hidden="true"></i>
												
												Order No. <?= $value['orderid'] ?> is in  Processing 
											</a>
												</li>
											<?php }elseif ($value['status']=='complete') { ?>
												<li>
												<a href="#">
													<i class="fa fa-check-circle" aria-hidden="true"></i>
													Order No.  <?= $value['orderid'] ?> Delivered
												</a>
											</li>
											<?php }else{ ?>
												<li>
												<a href="#">
													<i class="fa fa-warning text-yellow"></i>

													2 Invoices Overdue For Payment
												</a>
											</li>
											<?php }
										}?>
											
											
											

										</ul>
									</li>
									<!-- <li class="footer"><a href="#">View all</a></li> -->
								</ul>
								<?php } ?>
							</li>