<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<style>
        .customer-popup-forgotpassword {
            display: none;
        }
    </style>
<div id="customer-popup-forgotpassword" class="customer-popup-forgotpassword login-box">
    <div class="login-left">
        <img src="<?= $block->getViewFileUrl('images/sign-up-1.svg'); ?>" class="topShape">
        <img src="<?= $block->getViewFileUrl('images/sign-up-2.svg'); ?>" class="bottomShape">
        <div class="">
            <h2 class="text-center">Forgot Password</h2>
            <p class="text-center">Enter the Email Address Associated with EspriGas Online Ordering Portal!</p>
            <img src="<?= $block->getViewFileUrl('images/CokeConsolidated Image.png'); ?>" alt="" class="img-fluid">
        </div>
    </div>
    <div class="login-right">
        <button class="action-close close" data-role="closeBtn " data-dismiss="modal" type="button"> <span>Close</span></button>
        <div class="block block-customer-loginlogin-container">
            <h2 class="login-title">Forgot Password</h2>
            <form class="form form-login" action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>" method="post" id="form-validate" data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                    <div class="field note"><?= $block->escapeHtml(__('Please enter your email address below to receive a password reset link.')) ?></div>
                    
                    <div class="form-group field required">
                    <input type="email" name="email" required alt="email" id="email_address" class="input-text form-control"  placeholder="Email address"  value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                            <!-- <label for="popup-email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                            <div class="control"></div> -->
                        </div>
                    <?= $block->getChildHtml('form_additional_info') ?>
                </fieldset>
                <div class="text-center actions-toolbar">
                    <div class="">
                        <button type="submit" class="btn btn-secondary btn-block btn-common-orange"><span><?= $block->escapeHtml(__('Reset My Password')) ?></span></button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="forget-pass">
                    <a class="action remind signupa" href="<?php /* @escapeNotVerified */ echo $block->getBackUrl() ?>" id="customer-popup-sign-in"><span class="fa fa-arrow-left"></span> <span><?php /* @escapeNotVerified */ echo __('Go back') ?></span></a>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
                "#customer-popup-forgotpassword": {
                    "PHPCuong_CustomerAccount/js/action/customer-authentication-popup": {
                        "popupTitle": "<?php /* @escapeNotVerified */ echo __('Forgot Password'); ?>",
                        "innerWidth": "730"
                    }
                }
            }
</script>
</div>