<header class="header">
	<nav class="navbar navbar-default navbar-expand-md navbar-fixed-top navbar-light bg-light">
		<div class="container">
			<?= $block->getChildHtml('header-logo') ?>
			<!-- <a href="#" class="navbar-brand">Brand</a> -->
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li>
						<a class="nav-item nav-link" href="<?= $block->getBaseUrl() ?>all-products"> <i class="fa fa-life-ring" aria-hidden="true"></i> All Products</a>
					</li>
					<li>
						<a class="nav-item nav-link" href="<?= $block->getBaseUrl() ?>about-us"><i class="fa fa-building-o" aria-hidden="true"></i> Why Us</a>
					</li>
					<li>
						<a href="#loginModal" role="button" class="nav-item nav-link" data-toggle="modal"><span> Login/SignUp </span></a>
					</li>
					<li class="dropdown mycart">
						<?= $this->getChildHtml('minicart') ?>
					</li>
				</ul>
			</div>
		</div>
    </nav>
</header>

<div class="header">
	<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<?= $block->getChildHtml('header-logo') ?>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>

						<a href="<?= $block->getBaseUrl() ?>all-products">
							<i class="fa fa-life-ring" aria-hidden="true"></i> All
							Products</a>
					</li>
					<li>
						<a href="<?= $block->getBaseUrl() ?>about-us"><i class="fa fa-building-o" aria-hidden="true"></i> Why Us</a>

					</li>

					<li class="">
						<a data-trigger="trigger" href="javascript:void(0)" onClick="showLoginPopup()" id="loginMenu">
							<span> Login/SignUp </span>
						</a>

						<div data-bind="mageInit: {
                        'Magento_Ui/js/modal/modal':{
                        'type': 'popup',
                        'trigger': '[data-trigger=trigger]',
                        'responsive': true
						}}">

							<div id="content" style="background-color: #f40000;display:none;">
								<?= $block->getChildHtml('loginWindow') ?>
							</div>

						</div>

					</li>
					<li class="dropdown mycart">
						<?= $this->getChildHtml('minicart') ?>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-login">
			<div class="modal-content" style="background-color: #F40000">
				<div class="login-box">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="login-left">
						<img src="assets/images/sign-up-1.svg" class="topShape">
						<img src="assets/images/sign-up-2.svg" class="bottomShape">
						<div class="">
							<h2 class="text-center">Returning Customer</h2>
							<p class="text-center">Welcome to the EspriGas Online Ordering Portal!</p>
							<img src="assets/images/CokeConsolidatedImage.png" alt="" class="img-fluid">
						</div>
						
						<!-- <img class="img-responsive" src="assets/images/login.png" alt=""> -->
					</div>
					<div class="login-right">
						<div class="login-container">
							<form method="post">
								<h2 class="login-title">Sign in</h2>
								<div class="form-group">
									<input type="text" name="username" class="form-control" placeholder="Email address">
								</div>
								<div class="form-group">
									<input type="password" name="password" class="form-control" placeholder="Password">
								</div>
								<div class="form-group clearfix">
									<div class="checkbox float-left">
										<label><input type="checkbox"> Remember me</label>
									</div>
									<div style="text-align: right;" class="checkbox-right"><a href="">Forgot Password</a></div>
								</div>
								<div class="form-group">
									
								</div>
								<div class="text-center"><a href="dashboard/index.html" class="btn  btn-secondary btn-block btn-common-orange" onclick="" id="odrBtn2">Login </a></div>
							</form>
							<div class="clearfix"></div>
							<div class="forget-pass">New to EspriGas? <a data-target="#signupModal" data-toggle="modal" class="signupa">Create an account</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>