
<header class="header">
	<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<?= $block->getChildHtml('header-logo') ?>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				
				
<!--				<li>
    <a class="customer-register-link" href="javascript:void(0);">Signup 2</a>  
</li> -->
				<li>
						<a href="<?= $block->getBaseUrl() ?>all-products"> <i class="fa fa-life-ring" aria-hidden="true"></i> All Products</a>
					</li>
					<li>
						<a href="<?= $block->getBaseUrl() ?>about-us"><i class="fa fa-building-o" aria-hidden="true"></i> Why Us</a>
					</li>

				<li>
					<a class="customer-login-link" href="javascript:void(0);">Login/ SignUp</a>  
				</li>
					<!-- <li class="">
						<a class="" href="#loginModal" data-toggle="modal"><span>Login/SignUp</span></a>
					</li> -->
				<!--	<li class="">
						<a data-trigger="trigger" href="javascript:void(0)" onClick="showLoginPopup()" id="loginMenu">
							<span> Login/SignUp </span>
						</a>

						<div data-bind="mageInit: {
                        'Magento_Ui/js/modal/modal':{
                        'type': 'popup',
                        'trigger': '[data-trigger=trigger]',
                        'responsive': true
						}}">

							<div id="content" style="background-color: #f40000;display:none;">
														</div>

						</div>

					</li>
					-->
					<li class="dropdown mycart">
						<?= $this->getChildHtml('minicart') ?>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

