<style>
	.minicart-price {
		display: none !important;
	}

	.subtotal {
		display: none !important;
	}

	.ws-shop-viewcart.pull-left {
		display: none !important;
		;
	}
</style>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
$massage = $objectManager->get('\Magento\Framework\Message\ManagerInterface');
// $appState = $objectManager->get('\Magento\Framework\App\State');
// $appState->setAreaCode('frontend');

// Company Super User Id
$companyCustomer = $objectManager->create('Amasty\CompanyAccount\Model\ResourceModel\Customer');
$customerId = $customerSession->getId();
$superUserId = $companyCustomer->getSuperUserIdBySubAccountId($customerId);

$customerObj = $objectManager->create('Magento\Customer\Model\Customer');
$customer = $customerObj->load($superUserId);

//Category
$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
$categoryRepository = $objectManager->get('\Magento\Catalog\Model\CategoryRepository');

$categoryId = 3; // YOUR CATEGORY ID

if ($customerSession->isLoggedIn()) {
	// retrieve quote items collection
	$itemsCollection = $cart->getQuote()->getItemsCollection();

	// get array of all items what can be display directly
	$itemsVisible = $cart->getQuote()->getAllVisibleItems();

	// retrieve quote items array
	$items = $cart->getQuote()->getAllItems();
	$totel = number_format($cart->getQuote()->getItemsQty());
	$smallitem = '';
	foreach ($items as $item) {
		if ($item->getProductId() == "10") {
			$smallitem = $item->getQty();
			$smallitem + $item->getQty();
		}
	}

	if ($smallitem) {
		if ($totel >= 2 || $smallitem >= 2) {
		} else {
			$massage->addError(__("Small CO2 tanks have a minimum order quantity of 2, unless you are ordering additional products"));


			if (strpos($currentStore->getCurrentUrl(), 'checkout') !== false) {
				if (strpos($currentStore->getCurrentUrl(), 'cart') !== false) {
				} else {
					$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
					$redirect->setRedirect($currentStore->getBaseUrl() . 'checkout/cart/');
				}
			}
		}
	} ?>

	<?php
	//$customer_satus = $customerSession->getCustomer()->getData('customer_status');
	$customer_satus = $customer->getCustomerStatus();
	
	if ($customer_satus == "8") { ?>
		<style>
			.account .account-nav .item {
				display: none;
			}
			.account-nav-content .items .current {
				display: block;
			}
		</style>
	<?php
	}
	if ($customer_satus == "11" || $customer_satus == "12" || $customer_satus == "13") { 
		
		if ($customer_satus == "12" || $customer_satus == "13") {
		//	echo "status2222 ==".$customer_satus;
			if (strpos($currentStore->getCurrentUrl(), 'custommodule') !== false) {
				
			}
			elseif (strpos($currentStore->getCurrentUrl(), 'customer/account') !== false) {
				
			}
			else{
				//echo "status ==".$customer_satus;
				if ($customer_satus == "12"){
					$massage->addError(__("Your account is under administrative review by Esprigas. Please contact us at support@esprigas.com for more information."));
				}
				if ($customer_satus == "13"){
					$massage->addError(__("Currently your account is marked to not purchase gas with us. Please contact us at support@esprigas.com for more information."));
				}
			
				$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
				$redirect->setRedirect($currentStore->getBaseUrl() . 'custommodule/index');
			}
		} ?>
		<style>
			.account .account-nav .item {
				display: block;
			}

			.minicart-price {
				display: block !important;
			}

			.subtotal {
				display: block !important;
			}

			.ws-shop-viewcart.pull-left {
				display: block !important;
				;
			}
		</style>
<?php

	} else {

		if (strpos($currentStore->getCurrentUrl(), 'checkout') !== false) {
			if (strpos($currentStore->getCurrentUrl(), 'cart') !== false) {
				$massage->addError(__("You will be able to purchase from EspriGas once your account is approved"));

				$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
				$redirect->setRedirect($currentStore->getBaseUrl() . 'custommodule/index');
				//	return $resultRedirect;
			}
		}

		if (strpos($currentStore->getCurrentUrl(), 'onestepcheckout') !== false) {
			$massage->addError(__("You will be able to purchase from EspriGas once your account is approved"));


			$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
			$redirect->setRedirect($currentStore->getBaseUrl() . 'custommodule/index');
			//return $resultRedirect;
		}
	}
} else {
	if (strpos($currentStore->getCurrentUrl(), 'checkout') !== false) {
		if (strpos($currentStore->getCurrentUrl(), 'cart') !== false) {
			$massage->addError(__("Please login to your accunt to proceed"));

			$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
			$redirect->setRedirect($currentStore->getBaseUrl() . 'custommodule/index');
			//	return $resultRedirect;
		}
	}
	if (strpos($currentStore->getCurrentUrl(), 'onestepcheckout') !== false) {
		$massage->addError(__("Please login to your accunt to proceed"));


		$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
		$redirect->setRedirect($currentStore->getBaseUrl() . 'custommodule/index');
		//return $resultRedirect;
	}
}
?>

<header class="header">
	<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" onclick="openNav()">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<?= $block->getChildHtml('header-logo') ?>
			
				<!-- <a class="mobileCartIcon hidden-lg hidden-md hidden-sm" href="javascript:void(0);"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><?php //echo $this->getChildHtml('minicart') ?></a> -->
			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<ul class="nav navbar-nav navbar-right mobileCartIcon">
				<li class="dropdown mycart">
					<?= $this->getChildHtml('minicart') ?>
				</li>
			</ul>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<!--<li><a class="customer-register-link" href="javascript:void(0);">Signup 2</a></li> -->
					<!-- Messages: style can be found in dropdown.less-->
					<?php if ($customerSession->isLoggedIn()) : ?>
						<?php $customermsId = $customerSession->getCustomer()->getData('ms_id');

						if ($customermsId != "") { ?>
							<?php echo $this->getLayout()->createBlock("EspriModule\Customernotification\Block\Notification")->setTemplate("EspriModule_Customernotification::notification.phtml")->toHtml();?>
							<!-- Notifications: style can be found in dropdown.less -->
							
						<?php } ?>
					<?php endif; ?>
					<li>
						<a href="<?= $block->getBaseUrl() ?>all-products"> <i class="fa fa-life-ring" aria-hidden="true"></i> Products</a>
					</li>
					<!-- <li class="nav-whyus">
						<a href="https://esprigas.com/beverage/" target="_blank"><i class="fa fa-building-o" aria-hidden="true"></i> Why Us</a>
					</li> -->

					<li>
						<?php if ($customerSession->isLoggedIn()) : ?>

							<!-- Notifications: style can be found in dropdown.less -->
					<li class="dropdown  user user-menu">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i> <?= $customerSession->getCustomer()->getData('business_name'); ?>
							<!-- <span class="hidden-xs user-name"><?php // $customerSession->getCustomer()->getName(); 
																	?></span> -->
						</a>
						<ul class="dropdown-menu">
							<li><a href="<?= $currentStore->getBaseUrl() . 'custommodule/index/'; ?>" ><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
							<li><a href="javascript:void(0)" id="click-for-password" class="action change-password"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a></li>
							<li><a href="<?= $currentStore->getBaseUrl() . 'customer/account/logout'; ?>" ><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>																																																						   
						<!--	<li class="user-header">
								<img src="<?= $mediaUrl . "images/dashboard/U-with-bottle.png" ?>" class="img-circle" alt="User Image">
								<p>
									<?= $customerSession->getCustomer()->getData('business_name'); ?>
									<small>Partner since <?= date("M-y", strtotime($customerSession->getCustomer()->getData('created_at'))) ?></small>
								</p>
							</li> -->
							<!--<li class="user-footer">
								<div class="pull-left">
									<a href="<?= $currentStore->getBaseUrl() . 'custommodule/index/'; ?>" class="btn btn-default btn-flat">My Account</a>
								</div>
								<div class="pull-right">
									<a href="<?= $currentStore->getBaseUrl() . 'customer/account/logout'; ?>" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</a>
								</div>
							</li> -->
						</ul>
					</li>
				<?php else : ?>

					<a class="customer-login-link" href="javascript:void(0);">
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					Login/Signup</a>

				<?php endif; ?>
				</li>

				
				</ul>
			</div>
			
		</div>
	</nav>

	<!-- Mobile Responive Menu Start -->
	<nav id="sidebar" class="hidden-lg hidden-md hidden-sm">
		<a href="javascript:void(0)" class="closebtn" id="dismiss">&times;</a>
		<?php if ($customerSession->isLoggedIn()) : ?>
		<div class="sidebar-header"><span><span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span> <span class="mobile-user-name">
		<a href="<?= $currentStore->getBaseUrl(); ?>" ><?= $customerSession->getCustomer()->getData('business_name'); ?></a></li></span></div>
		<?php else : ?>
			<div class="sidebar-header"><span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span> <span class="mobile-user-name">Hello, Sign in</span></div>

		<?php endif; ?>
		<ul class="list-unstyled components">
		<?php if ($customerSession->isLoggedIn()) : ?>
		<?php if ($customer_satus == "11" || $customer_satus == "12" || $customer_satus == "13") { ?>
			<li><a href="<?= $currentStore->getBaseUrl() ?>all-products">Products</a>
				<ul class="list-unstyled collapse in" id="serviceSubmenu" aria-expanded="true">
					<?php
					$category = $categoryFactory->create()->load($categoryId);

					$categoryProducts = $category->getProductCollection()
						->addAttributeToSelect('*')
						->addAttributeToFilter('status', \Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED);

					foreach ($categoryProducts as $product) { ?>

						<li><a title="<?= $product->getName() ?>" href="<?= $product->getProductUrl() ?>"><?= $product->getName() ?></a></li>
					<?php }
					?>

				</ul>
			</li>
			<?php } ?>
			<?php endif; ?>
			<li><a href="https://esprigas.com/beverage/">Why Us</a></li>
			<li class="mobile-menu-divider"></li>
			<li><a href="<?= $currentStore->getBaseUrl() ?>">Privacy Policy</a></li>
			<li><a href="<?= $currentStore->getBaseUrl() ?>">Terms of Use</a></li>
			<li><a href="<?= $currentStore->getBaseUrl() ?>co2-troubleshooting-guide">Troubleshooting Guide</a></li>
			<li class="mobile-menu-divider"></li>
			<?php if ($customerSession->isLoggedIn()) : ?>
				
					
						<!-- <li class="user-header">
						<p>
						<?= $customerSession->getCustomer()->getData('business_name'); ?>
						<small>Partner since <?= date("M-y", strtotime($customerSession->getCustomer()->getData('created_at'))) ?></small>
						</p>
						</li> -->
						<li><a href="<?= $currentStore->getBaseUrl().'custommodule/index/'; ?>" class="btn btn-default btn-flat">Dashboard</a></li>
						<?php if ($customer_satus == "11" || $customer_satus == "12" || $customer_satus == "13") { ?>
						<li><a href="<?= $currentStore->getBaseUrl().'customer/account/'; ?>" class="btn btn-default btn-flat">My Account</a></li>
						<li><a href="<?= $currentStore->getBaseUrl().'custommodule/index/invoice/' ?>">My Invoices</a></li>
						<li><a href="<?= $currentStore->getBaseUrl()."sales/order/history/" ?>">My Orders</a></li>
						<li><a href="<?= $currentStore->getBaseUrl()."stripe/customer/cards/" ?>">My Saved Payment Options</a></li>
						<?php } ?>
						<li><a href="<?= $currentStore->getBaseUrl(). 'customer/account/logout'; ?>" class="btn btn-default btn-flat"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</a></li>
					
			<?php else : ?>
				
				<li><a class="customer-register-link" href="javascript:void(0);"><i class="fa fa-sign-in" aria-hidden="true"></i> Signup/Login</a></li>

			<?php endif; ?>

		</ul>
	</nav>
	<!-- Mobile Responive Menu End -->
	<div class="menu-overlay"></div>
</header>

<?php if ($customerSession->isLoggedIn()) {
	$customer_satus = $customerSession->getCustomer()->getData('customer_status');

	if ($customer_satus == "11") { ?>
		<style>
			.minicart-price {
				display: block !important;
			}

			.subtotal {
				display: block !important;
			}

			.product-item .price-box,
			.product-info-main .price-box,
			.action.primary.addtocart {
				display: block !important;
			}

			.ws-shop-viewcart.pull-left {
				display: block !important;
				;
			}
		</style>


<?php	}
} ?>
<style>
.loading-mask{
	display: none !important;
}
</style> 

<!-- For change password start -->
<!-- =================================================================== -->
<?php if ($customerSession->isLoggedIn()) { ?>
	<div id="popup-modal" style="display:none;">
	<!-- <button type="button" class="close">&times;</button> -->
	<button type="button" class="closePopbtn" id="myFunction">&times;</button>
	<?php
	/** @var \Magento\Customer\Block\Form\Edit $block */
	$blockObj = $block->getLayout()->createBlock('\Magento\Customer\Block\Form\Edit'); 
	?>
	<form class="form form-edit-account" action="<?= $blockObj->escapeUrl($blockObj->getUrl('customer/account/editPost')) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $blockObj->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">
	    <fieldset class="fieldset info">
	        <?= $blockObj->getBlockHtml('formkey') ?>
	        <legend class="legend"><span><?= $blockObj->escapeHtml(__('Change Password ')) ?></span></legend><br>
	        <div class="field choice">
	            <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?= $blockObj->escapeHtmlAttr(__('Change Password')) ?>"<?php if ($blockObj->getChangePassword()) : ?> checked="checked"<?php endif; ?> class="checkbox" />
	            <label class="label" for="change-password"><span><?= $blockObj->escapeHtml(__('Change Password')) ?></span></label>
	        </div>
	    </fieldset>
	   
	    <fieldset class="fieldset password login-right" data-container="change-email-password">
	      
	        <div class="form-group field password current required">
	                <input type="password" class="input-text form-control" name="current_password" id="current-password" data-input="current-password" autocomplete="off" placeholder="Password"/>
	        </div>
	        <div class="form-group field new password required" data-container="new-password">
	                <input type="password" class="input-text form-control" name="password" id="password"
	                    data-password-min-length="<?= $blockObj->escapeHtmlAttr($blockObj->getMinimumPasswordLength()) ?>"
	                    data-password-min-character-sets="<?= $blockObj->escapeHtmlAttr($blockObj->getRequiredCharacterClassesNumber()) ?>"
	                    data-input="new-password"
	                    data-validate="{required:true, 'validate-customer-password':true}"
	                    autocomplete="off" placeholder="New Password" />
	                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
	                    <div id="password-strength-meter" class="password-strength-meter">
	                        <?= $blockObj->escapeHtml(__('Password Strength')) ?>:
	                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
	                            <?= $blockObj->escapeHtml(__('No Password')) ?>
	                        </span>
	                    </div>
	                </div>
	        </div>
	        <div class="form-group field confirm password required" data-container="confirm-password">
	                <input type="password" class="input-text form-control" name="password_confirmation" id="password-confirmation"
	                    data-input="confirm-password"
	                    autocomplete="off" placeholder="Confirm New Password"/>
	        </div>
	    </fieldset>
	    <?php //echo $blockObj->getChildHtml('form_additional_info') ?>
	    <div class="actions-toolbar">
	    <div class="canclebtn">
	       <button type="button" class="primary" onClick="myPopup()">Cancel</button>
	    </div>
	        <div class="primary">
	            <button type="submit" class="action save primary" title="<?= $blockObj->escapeHtmlAttr(__('Save')) ?>"><span><?= $blockObj->escapeHtml(__('Save')) ?></span></button>
	        </div>
	        <div class="secondary">
	            <a class="action back" href="<?= $blockObj->escapeUrl($blockObj->getBackUrl()) ?>"><span><?= $blockObj->escapeHtml(__('Go back')) ?></span></a>
	        </div>
	    </div>
	</form>

	<script>
	// function myFunction() {
	//    var element = document.querySelector("body");
	//    element.classList.add("closePopup");
	// }
	// </script>
	<script type="text/x-magento-init">
	    {
	        "[data-role=change-email], [data-role=change-password]": {
	            "changeEmailPassword": {
	                "titleChangeEmail": "<?= $blockObj->escapeJs($blockObj->escapeHtml(__('Change Email'))) ?>",
	                "titleChangePassword": "<?= $blockObj->escapeJs($blockObj->escapeHtml(__('Change Password'))) ?>",
	                "titleChangeEmailAndPassword": "<?= $blockObj->escapeJs($blockObj->escapeHtml(__('Change Email and Password'))) ?>"
	            }
	        },
	        "[data-container=new-password]": {
	            "passwordStrengthIndicator": {
	                "formSelector": "form.form-edit-account"
	            }
	        }
	    }
	</script>
	   
	</div>
	<script>
	    require(
	        [
	            'jquery',
	            'Magento_Ui/js/modal/modal'
	        ],
	        function($, modal) {
	            var options = {
	                type: 'popup',
	                responsive: true,
	                innerScroll: true,
	                title: 'popup modal title',
	                buttons: [{
	                    text: $.mage.__('Continue'),
	                    class: '',
	                    click: function () {
	                        this.closeModal();
	                    }
	                }]
	            };
	            
	            var popup = modal(options, $('#popup-modal'));
	            $("#click-for-password").on('click',function(){ 
	                $("#popup-modal").modal("openModal");
	            });
	            $("#click-for-password").click(function(){ 
	                $(".choice").hide(); 
	                if($("#change-password").prop('checked') != true){
	                    $("#change-password").click();
	                }
	                 });
	                 $("#myFunction").click(function(){
	                $("body").addClass("closePopup");

	        });
	        }
	    );

	</script>
	<script>
	    function myPopup() {
	    var element = document.querySelector("body");
	    element.classList.add("closePopup");
	}
	</script>
<?php } ?>
<!-- =================================================================== -->
<!-- For change password end  -->