<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Customer\Block\Form\Login $block */
?>

<div class="esprigas-form-wrapper"><!-- <h2 class="form-title text-center m-t-0">Book My Gas Instantly</h2> -->
    <div class="web-info-container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="column-container active"><a title="" href="{{config path="web/unsecure/base_url"}}all-products" data-toggle="tooltip" data-placement="top" data-original-title="Place a standard CO2 order for 20lbs of content."> <span class="social-icon"><img src="{{media url='images/gas.png'}}" alt=""></span> <span class="no-of-users"> Small CO<sub>2</sub> Tank </span> </a></div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="column-container"><a title="" href="{{config path="web/unsecure/base_url"}}all-products" data-toggle="tooltip" data-placement="top" data-original-title="Request a delivery to replenish your bulk CO2"> <span class="social-icon"><img src="{{media url='images/gas.png'}}" alt=""></span> <span class="no-of-users"> Bulk CO<sub>2</sub> Delivery </span> </a></div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="column-container"><a title="" href="{{config path="web/unsecure/base_url"}}all-products" data-toggle="tooltip" data-placement="top" data-original-title="Order other products &amp; sizes to support your business."> <span class="social-icon"><img src="{{media url='images/gas.png'}}" alt=""></span> <span class="no-of-users">All Other Products</span> </a></div>
            </div>
        </div>
    </div>
    <form class="form form-login" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="login-form" data-mage-init='{"validation":{}}'>
        <div class="form-row">
    
            <?php echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" name="redirect_url" value="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>" />
            <fieldset class="fieldset login" >
                
                <div class="form-group field email required">
                    <label for="email" class="control-label hidden-xs">Email</label>
                    <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>"
                                <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                                id="email" type="email" class="input-text form-control"
                                title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                                data-mage-init='{"mage/trim-input":{}}'
                                data-validate="{required:true, 'validate-email':true}" placeholder="Your Email">
                </div>
                <div class="form-group field password required">
                    <label for="pass" class="control-label hidden-xs">Password</label>
                    <input name="login[password]" type="password"
                                <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                                class="input-text form-control" id="pass"
                                title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                                data-validate="{required:true}" placeholder="Enter Password">
                </div>
                
                <div class="form-group"></div>
                <div class="text-center actions-toolbar">
                    <div class=""><button type="submit" href="/checkout/cart/" class="btn btn-secondary btn-block btn-common-orange" name="send" id="send2"><span><?= $block->escapeHtml(__('Begin my Next Order')) ?></span></button></div>
                </div>
            </fieldset>
        </div>
    </form>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "login-form"
            }
        }
    }
</script>
