<?php

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl();
?>
<div class="esprigas-form-wrapper">
    <h2 class="text-center" style="margin-top:0;margin-bottom:20px;">Place a Quick Order</h2>
    <div class="web-info-container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">

                <div class="column-container active"><a title="" id="single" class="selectedoptions" href="javascript: void(0)" data-toggle="tooltip" data-placement="top" data-original-title="Place a standard CO2 order for 20lbs of content."> <span class="social-icon"><img src="media/images/gas.png" alt=""></span> <span class="no-of-users"> Small CO<sub>2</sub> Tank </span> </a></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="column-container"><a title="" id="bulk" class="selectedoptions" href="javascript: void(0)" data-toggle="tooltip" data-placement="top" data-original-title="Request a delivery to replenish your bulk CO2"> <span class="social-icon"><img src="media/images/gas.png" alt=""></span> <span class="no-of-users"> Bulk CO<sub>2</sub> Delivery </span> </a></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">

                <div class="column-container"><a title="" id="producturl" class="selectedoptions" href="javascript: void(0)" data-toggle="tooltip" data-placement="top" data-original-title="Order other products &amp; sizes to support your business."> <span class="social-icon"><img src="media/images/gas.png" alt=""></span> <span class="no-of-users">All Other Products</span> </a></div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <?php if ($customerSession->isLoggedIn()) { ?>
        <form class="form form-login" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="login-form" data-mage-init='{"validation":{}}'>

            <div class="form-row">

                <?php echo $block->getBlockHtml('formkey'); ?>
                <input type="hidden" name="redirect_url" value="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>" />
                <input type="hidden" name="quickadd" id="quickadd" value="addsingle" />

                <fieldset class="fieldset login">


                    <!-- <div class="form-group"></div> -->
                    <div class="text-center">
                        <div class=""><button type="submit" href="/checkout/cart/" class="btn btn-secondary btn-block btn-common-orange" name="send" id="send2"><span><?= $block->escapeHtml(__('Quick Order')) ?></span></button></div>
                    </div>
                </fieldset>
            </div>
        </form>
    <?php } else { ?>
        <form class="form form-login" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="login-form" data-mage-init='{"validation":{}}'>

            <div class="form-row">

                <?php echo $block->getBlockHtml('formkey'); ?>
                <input type="hidden" name="redirect_url" value="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>" />
                <input type="hidden" name="quickadd" id="quickadd" value="addsingle" />

                <fieldset class="fieldset login">

                    <div class="form-group field email required">
                        <label for="email" class="control-label hidden-xs">Email</label>
                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off" <?php endif; ?> id="email" type="email" class="input-text form-control" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" placeholder="Your Email">
                    </div>
                    <div class="form-group field password required">
                        <label for="pass" class="control-label hidden-xs">Password</label>
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off" <?php endif; ?> class="input-text form-control" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}" placeholder="Enter Password">
                    </div>

                    <!-- <div class="form-group"></div> -->
                    <div class="text-center">
                        <div class=""><button type="submit" href="/checkout/cart/" class="btn btn-secondary btn-block btn-common-orange" name="send" id="send2"><span><?= $block->escapeHtml(__('Quick Order')) ?></span></button></div>
                        <div class="forget-pass">Need an Account? <a class="action remind signupa" href="<?php /* @escapeNotVerified */ echo $block->getCustomerRegistrationUrl() ?>" id="customer-popup-registration"><span>Sign Up Here</span></a></div>
                    </div>
                </fieldset>
            </div>
        </form>
    <?php  } ?>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "login-form"
            }
        }
    }

    
</script>
<script>
    require(['jquery', 'jquery/ui'], function($) {
        $(document).ready(function($) {
            $('.selectedoptions').click(function() {
                $(".column-container").removeClass('active');
                $(this).parent().addClass('active');
                if ($(this).attr("id") == "single") {
                    $("#quickadd").val("addsingle");
                } else if ($(this).attr("id") == "bulk") {
                    $("#quickadd").val("addbulk");
                } else {
                    $(location).attr('href', '<?= $baseUrl."all-products"?>');
                    //$("#quickadd").val("producturl");
                }


            });
        });
    });
</script>