<div class="login-box">
	<div class="login-left">
		<img src="<?= $block->getViewFileUrl('images/sign-up-1.svg'); ?>" class="topShape">
		<img src="<?= $block->getViewFileUrl('images/sign-up-2.svg'); ?>" class="bottomShape">
		<div class="">
			<h2 class="text-center">Returning Customer</h2>
			<p class="text-center">Welcome to the EspriGas Online Ordering Portal!</p>
			<img src="<?= $block->getViewFileUrl('images/CokeConsolidated Image.png'); ?>" alt="" class="img-fluid">
		</div>
	</div>
	<div class="login-right">
		<div class="login-container">
			<form method="post">
				<h2 class="login-title">Sign in</h2>
				<div class="form-group">
					<input type="text" name="username" class="form-control" placeholder="Email address">
				</div>
				<div class="form-group">
					<input type="password" name="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group clearfix">

					<div class="checkbox float-left">
						<label><input type="checkbox"> Remember me</label>
					</div>
					<div style="text-align: right;" class="checkbox-right"><a href="/customer/account/forgotpassword/">Forgot Password</a></div>
				</div>
				<div class="form-group">

				</div>
				<div class="text-center"><a href="dashboard/index.html" class="btn btn-secondary btn-block btn-common-orange" onclick="" id="odrBtn2">Login </a></div>
			</form>
			<div class="clearfix"></div>
			<div class="forget-pass">New to EspriGas? <a href="#" id="click-me-for-account">Create an account</a><div>
</div>
 
<div id="popup-modal" style="display:none;">
<div class="login-box">
<div class="login-left">
                        <img src="<?= $block->getViewFileUrl('images/sign-up-1.svg'); ?>" class="topShape">
		                <img src="<?= $block->getViewFileUrl('images/sign-up-2.svg'); ?>" class="bottomShape">
                        <div class="">
                            <h2 class="text-center">New Customer</h2>
                            <p class="text-center">Welcome to the EspriGas Online Ordering Portal!</p>
                            <img src="<?= $block->getViewFileUrl('images/CokeConsolidated Image.png'); ?>" alt="" class="img-fluid">
                        </div>
                    </div>
    <div class="login-right">
                        <div class="login-container">
                            <form method="post">
                                <h2 class="login-title">Sign Up</h2>
                                <div class="form-group">
						             <input type="text" name="username" class="form-control" placeholder="<?php /* @escapeNotVerified */ echo __('Email Address') ?>">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="c_name" class="form-control" placeholder="<?php /* @escapeNotVerified */ echo __('Company Name') ?>">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" plaeholder="<?php /* @escapeNotVerified */ echo __('Company Name') ?>">
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> I would like to receive occasional updates from Esprigas</label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="http://esprigas.venture7.info/demo3/dashboard/new-account.html" class="btn btn-secondary btn-block btn-common-orange" id="odrBtn2">Create Account</a></div>
                            </form>
                            <div class="clearfix"></div>
                            <div class="forget-pass"> Already have account? <a data-trigger="trigger" href="javascript:void(0)" onClick="showLoginPopup()" id="loginMenu">
							<span> Login </span>
						</a></div>
                        </div>
                    </div>
</div>
</div>
 
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: '',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };
 
            var popup = modal(options, $('#popup-modal'));
            $("#click-me-for-account").on('click',function(){ 
                $("#popup-modal").modal("openModal");
            });
 
        }
    );
</script></div>
		</div>
	</div>
</div>
<style>
.page.messages {
    margin-top: 71px;
}
</style>