<div class="login-box">
	<div class="login-left">
		<img src="<?= $block->getViewFileUrl('images/sign-up-1.svg'); ?>" class="topShape">
		<img src="<?= $block->getViewFileUrl('images/sign-up-2.svg'); ?>" class="bottomShape">
		<div class="">
			<h2 class="text-center">Returning Customer</h2>
			<p class="text-center">Welcome to the EspriGas Online Ordering Portal!</p>
			<img src="<?= $block->getViewFileUrl('images/CokeConsolidated Image.png'); ?>" alt="" class="img-fluid">
		</div>
	</div>
	<div class="login-right">
		<div class="login-container">
			<form method="post">
				<h2 class="login-title">Sign in</h2>
				<div class="form-group">
					<input type="text" name="username" class="form-control" placeholder="Email address">
				</div>
				<div class="form-group">
					<input type="password" name="password" class="form-control" placeholder="Password">
				</div>
				<div class="form-group clearfix">

					<div class="checkbox float-left">
						<label><input type="checkbox"> Remember me</label>
					</div>
					<div style="text-align: right;" class="checkbox-right"><a href="">Forgot Password</a></div>
				</div>
				<div class="form-group">

				</div>
				<div class="text-center"><a href="dashboard/index.html" class="btn btn-secondary btn-block btn-common-orange" onclick="" id="odrBtn2">Login </a></div>
			</form>
			<div class="clearfix"></div>
			<div class="forget-pass">New to EspriGas? <a href="#signupModal" data-toggle="modal" class="signupa">Create
					an account</a></div>
		</div>
	</div>
</div>