<div class="login-box">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="login-left">
                        <img src="<?= $block->getViewFileUrl('images/sign-up-1.svg'); ?>" class="topShape">
		                <img src="<?= $block->getViewFileUrl('images/sign-up-2.svg'); ?>" class="bottomShape">
                        <div class="">
                            <h2 class="text-center">New Customer</h2>
                            <p class="text-center">Welcome to the EspriGas Online Ordering Portal!</p>
                            <img src="assets/images/CokeConsolidatedImage.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="login-right">
                        <div class="login-container">
                            <form method="post">
                                <h2 class="login-title">Sign Up</h2>
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control" placeholder="Email address">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="c_name" class="form-control" placeholder="Company Name">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> I would like to receive occasional updates from Esprigas</label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a href="http://esprigas.venture7.info/demo3/dashboard/new-account.html" class="btn btn-secondary btn-block btn-common-orange" id="odrBtn2">Create Account</a></div>
                            </form>
                            <div class="clearfix"></div>
                            <div class="forget-pass"> Already have account? <a data-target="#loginModal" data-toggle="modal"> Login Now </a></div>
                        </div>
                    </div>
</div>	