<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<section class="block block-dashboard-addresses">
    <div class="row">
        <div class="col-md-6">
            <div class="block-content block--addressbox">
                <div class="block-title">
                <strong> <?= $block->escapeHtml(__('Default Billing Address')) ?></strong>
                    <a class="action edit" href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>">
                    <span><?= $block->escapeHtml(__('Manage Addresses')) ?></span></a>
                </div>
                <div class="box box-billing-address">
                    <div class="box-content">
                        <address>
                            <?= $block->getPrimaryBillingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>" data-ui-id="default-billing-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="block-content block--addressbox">
                <div class="block-title">
                <strong> <?= $block->escapeHtml(__('Default Shipping Address')) ?></strong>
                </div>
                <div class="box box-shipping-address">
                    <div class="box-content">
                        <address>
                          <?= $block->getPrimaryShippingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
