<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_CompanyAccount
 */
?>
<?php
/** @var Amasty\CompanyAccount\Block\Company\Profile\Create $block */
use Amasty\CompanyAccount\Api\Data\CompanyInterface;
?>

<form class="form create account form-create-account"
      action="<?= $block->escapeUrl($block->getSaveActionUrl()) ?>"
      method="post" id="form-validate"
      enctype="multipart/form-data"
      autocomplete="off">
    <?php if ($block->getCompanyValue(CompanyInterface::COMPANY_ID)): ?>
        <input type="hidden" name="company[company_id]"
               value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::COMPANY_ID)) ?>"/>
    <?php endif; ?>
    <?= $block->getBlockHtml('formkey') ?>
    <fieldset class="fieldset info">
        <legend class="legend"><span><?= $block->escapeHtml(__('Company Information')) ?></span></legend><br>
        <div class="field company-name _required">
            <label class="label" for="company_name">
                <span><?= $block->escapeHtml(__('Company Name')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[company_name]" id="company_name"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::COMPANY_NAME)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Company Name')) ?>"
                       class="input-text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field legal-name">
            <label class="label" for="legal_name">
                <span><?= $block->escapeHtml(__('Company Legal Name')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[legal_name]" id="legal_name"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::LEGAL_NAME)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Company Legal Name')) ?>"
                       class="input-text">
            </div>
        </div>
        <div class="field company-email _required">
            <label class="label" for="company_email">
                <span><?= $block->escapeHtml(__('Company Email')) ?></span>
            </label>
            <div class="control">
                <input type="email" name="company[company_email]" id="company_email"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::COMPANY_EMAIL)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Company Email')) ?>"
                       class="input-text validate-email required-entry"
                       data-role="email">
            </div>
        </div>
        <div class="field vat-tax-id">
            <label class="label" for="vat_tax_id">
                <span><?= $block->escapeHtml(__('VAT/TAX ID')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[vat_tax_id]" id="vat_tax_id"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::VAT_TAX_ID)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('VAT/TAX ID')) ?>"
                       class="input-text">
            </div>
        </div>
        <div class="field reseller-id">
            <label class="label" for="reseller_id">
                <span><?= $block->escapeHtml(__('Re-seller ID')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[reseller_id]" id="reseller_id"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::RESELLER_ID)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Re-seller ID')) ?>"
                       class="input-text">
            </div>
        </div>
    </fieldset>

    <?php
        $street = $block->getCompanyValue(CompanyInterface::STREET);
        $street = !is_array($street) ? explode("\n", $street) : $street;
        $streetFirst = !empty($street[0]) ? $street[0] : '';
        $streetSecond = !empty($street[1]) ? $street[1] : '';
    ?>
    <fieldset class="fieldset info">
        <legend class="legend"><span><?= $block->escapeHtml(__('Legal Address')) ?></span></legend><br>
        <div class="field street _required">
            <label class="label" for="street0">
                <span><?= $block->escapeHtml(__('Street Address')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[street][0]" id="street0"
                       value="<?= $block->escapeHtmlAttr($streetFirst) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>"
                       class="input-text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field street">
            <div class="control">
                <input type="text" name="company[street][1]" id="street1"
                       value="<?= $block->escapeHtmlAttr($streetSecond) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>"
                       class="input-text">
            </div>
        </div>
        <div class="field city _required">
            <label class="label" for="city">
                <span><?= $block->escapeHtml(__('City')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[city]" id="city"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::CITY)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                       class="input-text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field country_id _required">
            <label class="label" for="country_id">
                <span><?= $block->escapeHtml(__('Country')) ?></span>
            </label>
            <div class="control _required">
                <?php $countryValue = $block->getCompanyValue(CompanyInterface::COUNTRY_ID) ?: $block->getDefaultCountryId(); ?>
                <select name="company[country_id]" id="country_id"
                        class="select"
                        title="<?= $block->escapeHtmlAttr(__('Country')) ?>"
                        data-validate="{required:true}">
                    <option value=""></option>
                    <?php $countries = $block->getCountriesList(); ?>
                    <?php foreach ($countries as $countryCode => $country): ?>
                        <option value="<?= $block->escapeHtmlAttr($countryCode) ?>"
                            <?= ($countryCode == $countryValue) ? ' selected' : '' ;?>>
                            <?= $block->escapeHtml($country) ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="field region-id required">
            <label class="label" for="region_id">
                <span><?= $block->escapeHtml(__('State/Province')) ?></span>
            </label>
            <div class="control _required">
                <select name="company[region_id]" id="region_id" data-validate="{required:true}" class="select">
                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>
                <input type="text" id="region" name="company[region]"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::REGION)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('State/Province')) ?>"
                       class="input-text" style="display: none;">
            </div>
        </div>
        <div class="field postcode required">
            <label class="label" for="postcode">
                <span><?= $block->escapeHtml(__('ZIP/Postal Code')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[postcode]" id="postcode"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::POSTCODE)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('ZIP/Postal Code')) ?>"
                       class="input-text validate-zip-international <?= $block->escapeHtmlAttr($block->getAttributeValidationClass('postcode')) ?>"
                       data-validate="{'required':true, 'validate-zip-international':true}" />
            </div>
        </div>

        <div class="field telephone _required">
            <label class="label" for="telephone">
                <span><?= $block->escapeHtml(__('Phone Number')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="company[telephone]" id="telephone"
                       value="<?= $block->escapeHtmlAttr($block->getCompanyValue(CompanyInterface::TELEPHONE)) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>"
                       class="input-text" data-validate="{required:true}">
            </div>
        </div>
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>">
                <?php if ($block->getCompanyValue(CompanyInterface::COMPANY_ID)): ?>
                    <span><?= $block->escapeHtml(__('Save')) ?></span>
                <?php else: ?>
                    <span><?= $block->escapeHtml(__('Submit')) ?></span>
                <?php endif; ?>
            </button>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        ".form-create-account": {
            "formValidator": {}
        }
    }
</script>
<script type="text/x-magento-init">
    {
        "#country_id": {
            "amcompanyRegionUpdater": {
                "optionalRegionAllowed": <?= (int)$block->isDisplayAllRegions() ?>,
                "regionListId": "#region_id",
                "regionListIdValue": "<?= /* @noEscape */ $block->getCompanyValue(CompanyInterface::REGION_ID); ?>",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $block->getRegionJson() ?>,
                "defaultRegion": "",
                "countriesWithOptionalZip": <?= /* @noEscape */ $block->getCountriesWithOptionalZip() ?>
            }
        }
    }
</script>
