<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl();
if(!$customerSession->isLoggedIn()) {
    
$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
$redirect->setRedirect($baseUrl.'customer/account/login/');
	//header("Location: $baseUrl '/customer/account/login/'");
}else{
    $customer_satus= $customerSession->getCustomer()->getData('customer_status');
	
	if ($customer_satus=="11") {
		$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
		$redirect->setRedirect($baseUrl . 'custommodule/index/');
		
		 return $resultRedirect;
	}
    $cardblock = $block->getLayout()->createBlock('\StripeIntegration\Payments\Block\Customer\Cards'); 
    
$cards = $cardblock->getCards();
}

$customer_id = $customerSession->getCustomer()->getId();
?>

<link  rel="stylesheet" type="text/css"  rel="stylesheet" href="https://devorder.esprigas.com//static/version1611308476/frontend/Espri/espri_design/en_US/css/dashboard.css" />
<section class="bg-color-grey" style="padding-top:20px">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="heading2 text-center primary-text-color title-icon">Welcome to EspriGas</h2>
                    </div>
                </div>
                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-12">
                        <div class="preview-account-container">
                            <div class="icon">
                                <img src="<?= $mediaUrl."images/dashboard/account-info4.png"?>" alt="">
                            </div>
                            <div class="preview-content">
                                <!-- <h4>Review and Account Approval</h4> -->
                                <!-- <p class="textCommon">Once your account is approved, all you need to do is enter your payment information into PCI complaint secured screen and then you are ready to use the system.</p> -->
                                <p><strong>Existing Coke CO2 Customer:</strong> To begin service, please enter your Coke account number and the associated zip code to begin the account transfer process.</p>
                                <p><strong>All Other Customers:</strong> To begin service, please create an account with us by completing the information below.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-4">
                        <div class="new-account-info-container text-center">
                            <h6 class="script-title">01</h6>
                            <div class="account-info-icon">
                                <img src="<?= $mediaUrl."images/dashboard/account-icon1.svg"?>" alt="">
                            </div>
                            <div class="account-info-content">
                                <h4>Sign Up</h4>
                                <p class="textCommon">You've successfully created your new account.</p>
                                <p><strong><?= $customerSession->getCustomer()->getName(); ?></strong></p>
                                <p><strong><?= $customerSession->getCustomer()->getEmail(); ?></strong></p>
                                <p><strong><?= $customerSession->getCustomer()->getData('created_at'); ?></strong></p>
                            </div>
                            <div class="account-info-button">
                                <a class="btn btn-secondary btn-block btn-common-success" href="javascript:void(0);">
                                    Completed
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="new-account-info-container text-center">
                            <h6 class="script-title">02</h6>
                            <div class="account-info-icon">
                                <img src="<?= $mediaUrl."images/dashboard/account-icon2.png"?>" alt="">
                            </div>
                            <div class="account-info-content">
                                <h4>Business Info</h4>
                                <p class="textCommon">Enter your business information in a secured form here</p>
                                <p><small><em>You can ignore this step if already done.</em></small></p>
                            </div>
                            <?php if (isset($customer_satus)) {
                                if ($customer_satus =="8" || $customer_satus =="9" || $customer_satus =="12"|| $customer_satus =="13") { ?>
                                    <div class="account-info-button">
                                <a class="btn btn-secondary btn-block btn-common-success" href="javascript:void(0);">
                                    Completed
                                </a>
                            </div>
                               <?php }else{ ?>
                                <div class="account-info-button">
                                <a class="btn btn-secondary btn-block btn-common-orange-border" href="https://esprigas.formstack.com/forms/onboarding" target="_blank">
                                    Submit Business Info
                                </a>
                            </div>
                           <?php    }
                                
                            } ?>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="new-account-info-container text-center">
                            <h6 class="script-title">03</h6>
                            <div class="account-info-icon">
                                <img src="<?= $mediaUrl."images/dashboard/account-info3.png"?>" alt="">
                            </div>
                            <div class="account-info-content">
                                <h4>Payment Info</h4>
                                <p class="textCommon">Enter your payment method related information on PCI compliant secured form.</p>
                                <p><small><em>We do not track your card information in our system.</em></small></p>
                            </div>
                            <?php if (empty($cards)) {
                                 ?>
                                <div class="account-info-button">
                                <a class="btn btn-secondary btn-block btn-common-orange-border" href="<?php if ($customer_satus =="8" || $customer_satus =="12"|| $customer_satus =="13") { echo $baseUrl."stripe/customer/cards/";}else{echo "javascript:void(0);";}?>">
                                    Submit Payment Info
                                </a>
                            </div>
							<?php }elseif (empty($cards) || $customer_satus =="9") { ?>
                                	<a class="btn btn-secondary btn-block btn-common-success" style = "background-color: #797373 !important; "href="javascript:void(0);">
                                    Completed
                                </a>																		
                                <?php }else{ 
                                    ?>
                            <div class="account-info-button">
                                <a class="btn btn-secondary btn-block btn-common-success" href="javascript:void(0);">
                                    Completed
                                </a>
                            </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top: 35px;">
                    <!-- <div class="col-md-4 col-md-offset-4">
                        <a class="btn btn-secondary btn-block btn-common-orange" href="" target="_blank">
                            Ready to Order
                        </a>
                    </div>
                    <div class="clearfix"></div> -->
                    <div class="col-md-12">
                        <p class="text-center" style="">If your account setup is not complete, Please <a href="mailto:support@esprigas.com" class="text-b-u" target="_blank"> click here </a> to email your enquiry.</p>
                    </div>
                </div>
            </div>   
        </section>
        <style>
            .header .navbar-nav li.onlydashboard {
                display: block !important;
            }
            .header .navbar-default .navbar-nav>li.nav-products, .header .navbar-default .navbar-nav>li.nav-whyus {
                display: none !important;
            }
        </style>