<?php

/**
 * Copyright © 2015 esprimodulecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \EspriModule\Custommodule\Block\Index\Index
 */


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl();
if (!$customerSession->isLoggedIn()) {
	$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
	$redirect->setRedirect($baseUrl . '/customer/account/login/');
	
} else {
	$customer_satus= $customerSession->getCustomer()->getData('customer_status');
	
	/*
	if ($customer_satus!="11") {
		if ($customer_satus!="12") {
			if ($customer_satus!="13") {
				$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
		$redirect->setRedirect($baseUrl . 'businessaccount/index/index');
		return $resultRedirect;
			}
		}
	}
	*/
	// echo "+++";
	// exit;
}


$customer_id = $customerSession->getCustomer()->getId();

$blockObj = $block->getLayout()->createBlock('\EspriModule\Custommodule\Block\Index\Index'); 
//$customerID = $blockObj->getCurentcustomer();
 
$firstorder =  $blockObj->getLastestOrderDate($customer_id);
$lastorderid =  $blockObj->getLastestOrderId($customer_id);

$nextorder =  $blockObj->getnextOrderDate($customer_id);

$remaindays = $blockObj->getremainDays($customer_id);

$orderlist =  $blockObj->getOrderlists($customer_id);

$frequentPid = $blockObj->gettoptwo($customer_id);

$recentproduct = $blockObj->getRecentProduct($customer_id);
// echo "<pre>";
// print_r($recentproduct);
// exit;

$recentproduct1 = $blockObj->getChartData($customer_id);
$rental_balence = $blockObj->getRentalbalance($customer_id);

$toteldue = $blockObj->getOrderdue($customer_id);

?>

<div class="content-wrapper">
	<section class="bg-color-grey pd-0">
		<div class="container-fluid">
			<section>
				<div class="row">
					<div class="col-md-4 w100">
						<div class="info-box">
							<span class="info-box-icon bg-orange"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<div class="info-box-content">
								<span class="info-box-text">Next Order By</span>
								<span class="info-box-number"><?= $nextorder ?></span>
								<?php //if ($firstorder!="No order placed") { ?>
								<!--
								<small style="font-size: 12px;">
									<div style="font-size: 12px;color:#eb4021;"><?= $remaindays ?></div> 
									<div style="color:#eb4021;"><a href="<?= $baseUrl?>all-products" class="dashboard-info-btn view-order next-order">Start My Next Order</a></div>
								</small>
								-->
								<?php //} ?>
								<small style="font-size: 12px;">
									<div style="color:#eb4021;"><a href="<?= $baseUrl?>all-products" class="dashboard-info-btn view-order next-order">Start My Next Order</a></div>
								</small>
							</div>
						</div>
					</div>
					<div class="col-md-4 w100">
						<div class="info-box">
							<span class="info-box-icon bg-aqua"><i class="fa fa-calendar" aria-hidden="true"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Last Order Date</span>
								<span class="info-box-number"><?= $firstorder ?></span>
								<?php if ($firstorder!="No order placed") { ?>
									<small class="repeat-last-order" style="font-size: 12px;margin-top:4px;display:block;">
									<span style="margin-top:2px"><a href="<?= $baseUrl?>custommodule/index/reorder?orderid=<?= $lastorderid?>" class="dashboard-info-btn view-order">Repeat Last Order</a></span>
								</small>
								<?php } ?>
								
							</div>
						</div>
					</div>
					
					<div class="col-md-4 w100">
						<div class="info-box">
							<span class="info-box-icon bg-green"><i class="fa fa-clock-o" aria-hidden="true"></i></span>

							<!-- <div class="info-box-content">
								<span class="info-box-text">Outstanding Balance</span>
								<span class="info-box-number"><?= $toteldue ?></span>
								<?php if ($toteldue!="$0.00") { ?>
									<small style="font-size: 12px;">
									<span><a href="<?= $baseUrl."custommodule/index/invoice/"?>">View Details</a></span>
									<span style="color:#eb4021;margin-left: 20px;"><a href="" class="dashboard-info-btn">Pay</a></span>
								</small>
								<?php } ?>
							</div> -->
							
							<div class="info-box-content">
								<span class="info-box-text">Delivery Days</span>
								<?php if ($customerSession->getCustomer()->getData('delivery_days_id')) { ?>
	                                <span class="info-box-number">
	                                	<?php echo $customerSession->getCustomer()->getData('delivery_days_id'); ?>
	                                </span>
	                            <?php } ?>
							</div>
						</div>
					</div>

				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-md-8">
						<div class="ibox ">
							<div class="ibox-title">
								<h5>Monthly Spend</h5>
							</div>
							<div class="ibox-content text-center">
								<canvas id="income" height="195"></canvas>
								<!-- /.table-responsive -->
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox ">
							<div class="ibox-title">
								<h5>Rental Balance</h5>
							</div>
							<div class="ibox-content rental-balance-container">
								<div class="table-responsive">
									<table class="table no-margin">
										<thead>
											<tr>
												<th>Total Tanks at Hand</th>
												<th><?= $blockObj->getRentalbalancetotel($customer_id) ?></th>
											</tr>
										</thead>
										<tbody>
										<?php foreach ($rental_balence as $key => $ritems) { ?>
											<tr>
												<td><?= $blockObj->getproductbysku($ritems['itemnumber']);  ?></td>
												<td><?= $ritems['qty'] ?></td>
											</tr>
										<?php }?>
											
										</tbody>
									</table>
								</div>
								<p>Last Updated On : <strong><?= $blockObj->getRentalbalancedate($customer_id) ?></strong></p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-md-8">
						<div class="ibox ">
							<div class="ibox-title">
								<h5>Recent Orders</h5>
							</div>
							<?php if ($recentproduct) { ?>
								<div class="ibox-content">
								<div class="table-responsive">
									<table class="table no-margin">
										<thead>
											<tr>
												<th>Order ID</th>
												<th>Customer PO</th>
												<th>Order Date</th>
												<th>Amount</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<?php foreach ($recentproduct as $key => $oderlist) { ?>
												<tr>
													<td><a href="<?= $baseUrl . "sales/order/view/order_id/" . $oderlist['id'] ?>"><?= $oderlist['orderid'] ?></a></td>
													<td><?= $oderlist['orderid'] ?></td>
													<td>
														<div class="orderDate"><?= $oderlist['createat'] ?></div>
													</td>
													<td><?= $oderlist['grandtotel'] ?></td>
													<td><span class="label <?php if ($oderlist['status'] != "complete") : echo "label-info";
																			else : echo "label-success";
																			endif; ?>"><?= ucfirst($oderlist['status']) ?></span></td>
												</tr>

											<?php } ?>




										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
								<div class="text-center"><a href="<?= $baseUrl . "sales/order/history/" ?>" class="btn btn-default btn-common-orange">View All Orders</a></div>
							</div>
							<?php }else{ echo "You did't Place any Order Yet";} ?>
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="ibox frequent--proucts">
							<div class="ibox-title">
								<h5>Frequent Products</h5>
								
							</div>
							<?php if ($frequentPid) { ?>
								<div class="ibox-content">
								<div class="table-responsive">
									<table class="table no-margin">
										<thead>
											<tr>
												<th>Items</th>
												<th>Item Name</th>
												<th>Price</th>
											</tr>
										</thead>
										<tbody>
											<?php foreach ($frequentPid as $product) { ?>

												<tr>
													<td>
														<img class="cart-img" src="<?= $mediaUrl . "catalog/product" . $product['image'] ?>">
													</td>
													<td>
														<?= $product['name'] ?>
													</td>
													<td>
														<div class="orderDate"><?php echo $product['price']; ?></div>
														<form data-role="tocart-form" action="<?php echo $product['url']; ?>" method="post">
															<?php echo $block->getBlockHtml('formkey') ?>
															<div class="clearfix">
																<button type="submit" title="Add to Cart" class="btn-buy">
																	<span>Buy</span>
																</button>
															</div>
														</form>

													</td>
												</tr>
											<?php	} ?>



										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->

							</div>
								
							<?php }else{ echo "No Products Yet "; }?>
							
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
</div>
<script>
	// bar chart data
	var barData = {
		labels: [<?= $recentproduct1[2] ?>],
		datasets: [{
				fillColor: "#eb4021",
				strokeColor: "#949191",
				data: [<?= $recentproduct1[0] ?>]
			},
			{
				fillColor: "rgba(73,188,170,0.4)",
				strokeColor: "rgba(72,174,209,0.4)",
				data: [<?= $recentproduct1[1] ?>]
			}
		]
	}
	// get bar chart canvas
	var income = document.getElementById("income").getContext("2d");
	// draw bar chart
	new Chart(income).Bar(barData);
</script>