<?php

/**
 * @var \EspriModule\Custommodule\Block\Index\Invoice $block
 */


?>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
//$adminSession = $objectManager->get('Magento\Backend\Model\Auth\Session');
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$baseUrl = $currentStore->getBaseUrl();
$customer_id = $customerSession->getCustomer()->getId();

if (!$customerSession->isLoggedIn()) {
    $redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
    $redirect->setRedirect($baseUrl . '/customer/account/login/');
    //header("Location: $baseUrl '/customer/account/login/'");
}

//$customer_id = $customerSession->getCustomer()->getId();
$_orders = $block->getOrders($customer_id); ?>

<?php if ($_orders && count($_orders)) { ?>
<?php $i = 0;
    $grandtotel = array();
    $unpaid = array();
    foreach ($_orders as $_order) {
        if($_order->hasInvoices()){
            $grandtotel[]= $_order->getGrandTotal();
           
            if ($_order->getState()=="complete") {
                $unpaid[]=$_order->getState();
            }
        }
    }
  


?>
<div class="row">


    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-usd"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total Spends</span>
                <span class="info-box-number"><?= $priceHelper->currency(array_sum($grandtotel), true, false)?></small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-usd" aria-hidden="true"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Avg Monthly Spend</span>
                <span class="info-box-number">$67</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-usd" aria-hidden="true"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Unpaid Invoice</span>
                <span class="info-box-number"><?= abs(count($grandtotel) - count($unpaid)); ?></span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>
<div class="row invo--scroll">
    <div class="col-md-12 col-sm-12 invo--scroll__inner">
        <div class="espriGas-order-lists tableheader">
            <div class="single-order-list">
                <ul class="rowitems">
                    <li>
                        <div class="orderId text-white"><strong>Invoice ID</strong></div>
                    </li>
                    <li>
                        <div class="orderProductName text-white"><strong>Order ID</strong></div>
                    </li>
                    <li>
                        <div class="invoice text-white"><strong>Product/s</strong></div>
                    </li>
                    <li>
                        <div class="orderDate text-white"><strong>Order Date</strong></div>
                    </li>
                   
                    <!-- <li>
                        <div class="orderPayment"><strong>Type</strong></div>
                    </li> -->
                    <li>
                        <div class="orderDeliveryDate text-white"><strong>Delivery Date</strong></div>
                    </li>
                    <li>
                        <div class="orderDeliveryDate text-white"><strong>Posting Date</strong></div>
                    </li>
                    <li>
                        <div class="invoice text-white"><strong>Amount</strong></div>
                    </li>
                    <li>
                        <div class="invoice text-white"><strong>Action</strong></div>
                    </li>
                    <li>
                        <div class="invoice text-white"><strong>Status</strong></div>
                    </li>
                </ul>
            </div>
        </div>
        <?php
        $shippingdate ="";
        
        foreach ($_orders as $_order) { 
             if($_order->hasInvoices()){
                       
                foreach ($_order->getInvoiceCollection() as $invoice)
                {
                    $invoice_id = $invoice->getIncrementId();
                    $invoice_total = $invoice->getGrandTotal();
                    $invoice_date = $invoice->getCreatedAt();
                    $in_id= $invoice->getEntityId();
                }
                $productname= "";
                foreach ($_order->getAllItems() as $item) {
                    // var_dump($item->getData());
                    if ($productname!="") {
                        $productname .= ", ".$item->getName();
                    }else{
                        $productname .= $item->getName();
                    }
                    
                    
                    }
                    foreach($_order->getShipmentsCollection() as $shipment){
                        /** @var $shipment Mage_Sales_Model_Order_Shipment */
                        $shippingdate= $shipment->getCreatedAt();
                    }
            
            ?>
        <div class="espriGas-order-lists">
            <div class="single-order-list">
                <ul class="rowitems">
                    <li>
                        <div class="orderId">
                            <a id="orderId" href="<?= $baseUrl."sales/order/printInvoice/invoice_id/".$in_id ?>" target="_blank"><?= $invoice_id ?></a>
                        </div>
                    </li>
                    <li>
                        <div class="orderProductName"><a id="orderId" href="<?= $baseUrl."sales/order/view/order_id/".$_order->getId() ?>" ><?= $_order->getIncrementId() ?></a></div>
                    </li>
                    <li>
                        <div class="orderProductName"><?= $productname ?></div>
                    </li>
                    <li>
                        <div class="orderDate"><?php if ($_order->getCreatedAt()) {
                            echo date("m/d/y",strtotime($_order->getCreatedAt()));
                        }  ?></div>
                    </li>
                    
                    <li>
                        <div class="orderDeliveryDate"><?php if ($shippingdate) {
                            echo date("m/d/y",strtotime($shippingdate));
                        }  ?></div>
                    </li>
                    <li>
                        <div class="orderDeliveryDate">
                        <?php if ($invoice_date) {
                            echo date("m/d/y",strtotime($invoice_date));
                        }  ?></div>
                    </li>
                    <li>
                        <div class="orderPaymentStatus unpaid"> <?= $priceHelper->currency($invoice_total, true, false) ?></div>
                    </li>
                    <li>
                        <div class="viewInvoice "><a class="unpaid" href="<?= $baseUrl."sales/order/printInvoice/invoice_id/".$in_id ?>" title="Print Invoice" target="_blank">Print</a></div>
                    </li>
                    <li>
                        <div class="orderPaymentStatus unpaid">Unpaid</div>
                    </li>
                </ul>
            </div>
        </div>
        <?php } } ?>
        
    </div>
</div>
<?php }else{
    echo"<div class='message info empty'><span>You don't have invoices.</span></div>";
    
}?>