
//
// Common
//___________________________

& when (@media-common = true) {
  .addtocart {
    width: 150px;
    border: 2px solid;
    font-weight: 500;
    letter-spacing: .3px;
    border-color: #f40000;
    background: #f40000;
    font-size: 16px;
    border-radius: 30px;
  }
  .action.primary{
    border-color: #f40000;
    background: #f40000;
    font-size: 16px; 
    font-weight: 500;
  }
  .action.primary:focus, .action.primary:active
  {
    border-color: #f40000;
    background: #f40000;
    border: 0px;

  }
  .products-grid .product-item {
    margin-left: 0;
    width: 33.33% !important;
    text-align: center;
    font-weight: 700;
  }
  
  .page-products .product-item-info {
    width: 340px;
    background: #fff;
  }
  
  .page-products .columns {
    position: relative;
    clear: both;
    background: #f3f5f7;
  }
  
  .page-products .column.main {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px ;
    padding-right: 15px; 
    padding-left: 15px;
  }
  
  .product-item .price-box .price {
    font-size: 18px;
    color: #f40000;
    font-weight: 600;
  }
  .catalog-category-view .page-title-wrapper{text-align: center;}

  .product-info-main .page-title-wrapper .page-title{font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.product-info-main .price-box .price-wrapper .price{font-size: 20px;
  color: #f40000;}

  .product-info-price .price-final_price:before {
    content: 'Price: ';
}
.page-layout-1column .product-info-main{    width: 50% !important;
  margin-top: 60px;}

  .page-layout-1column .product.media{  width: 45% !important;}

}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

  .page-products.page-layout-1column .products-grid .product-item {
    margin-left: 0;
    width: auto !important;
    text-align: center;
    font-weight: 700;
  }
}

  


