@font-face {
  font-family: Antenna Extra Light;
  font-style: normal;
  src: local('Antenna Extra Light'), local('AntennaExtraLight'), url(../fonts/AntennaExtraLight.woff2) format("woff2"), 
      local('Antenna Extra Light'), local('AntennaExtraLight'), url(../fonts/AntennaExtraLight.woff) format("woff")
}

@font-face {
  font-family: Proxima Nova Regular;
  font-style: normal;
  font-weight: 400;
  src: local('Proxima Nova Regular'), local('ProximaNovaRegular'), url(../fonts/ProximaNovaRegular.woff2) format("woff2"), 
      local('Proxima Nova Regular'), local('ProximaNovaRegular'), url(../fonts/ProximaNovaRegular.woff) format("woff")
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  color:#4c5458;
  font-size: 14px;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color:#4c5458;
  font-style: normal;
  font-weight: 700;
  font-family: 'Proxima Nova Regular', sans-serif;
}

p {
  margin: 0 0 10px;
  font-size: 14px;
  color:#4c5458;
  line-height: 20px;
  font-family: 'Antenna Extra Light', sans-serif;
}

.main-wrapper {
  width: 100%;
  position: relative;
  height: auto;
  overflow-x: hidden;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
.page-wrapper{
  overflow-x: hidden;
}

/* ************************************************
  Home Header CSS
************************************************ */

.header {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  opacity: 1;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  font-family: inherit;
  z-index: 99;
  transition: top .2s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.header.header-fixed {
  background: rgba(255, 255, 255, .97);
  transition: all .4s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.header .navbar-default {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
}

.header .navbar-brand {
  padding-top: 0px;
}

.header .navbar-brand .navbar-logo {
  max-width: 220px;
}
.header .navbar-nav li {
  margin-bottom: 0px;
}
.header .navbar-default .navbar-nav>li>a {
  padding: 25px 15px;
  white-space: normal;
  color: #6b7c8d;
  font-family: 'Antenna Extra Light', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header .navbar-nav li.onlydashboard{display: none;}
.account .header .navbar-nav li.onlydashboard{display: block !important;}
.flipper .front {
  width: 100%;
  height: 180px;
  position: relative;
  border-radius: 5px;
  background-color: #EB4021;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .navbar-default .navbar-nav>.open>a, .header .navbar-default .navbar-nav>.open>a:focus, .header .navbar-default .navbar-nav>.open>a:hover {
  background: #fff;
  color: #716b79 !important;
}

.header .navbar-default .navbar-nav li:hover a.main-nav-link, .header .navbar-default .navbar-nav li:focus a.main-nav-link {
  background: #fff;
  color: #716b79;
}

.header .navbar-default .navbar-nav li.service-dropdown {
  position: relative;
}

@media (min-width: 768px) {
  .nav li:hover>ul.dropdown-menu {
    display: block;
  }
}

.header .navbar-default .navbar-nav li.service-dropdown.dropdown.open ul.dropdown-menu {
  border: 0px;
  border-radius: 0px;
  float: left;
  height: auto;
  list-style-type: none;
  box-shadow: none;
}

.header .navbar-default .navbar-nav .service-dropdown .dropdown-menu {
  min-width: 33%;
  border: none;
  border-radius: 0px;
  padding: 15px 0px;
}

.header .navbar-default .navbar-nav .service-dropdown .dropdown-menu .dropdown-submenu {
  position: static;
  padding: 0px 15px;
  display: block;
}

.header .navbar-default .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 0px;
  min-height: 215px;
  max-height: 435px;
}

.header .navbar-default .dropdown-submenu:hover>a:after {
  border-left-color: #555;
}

.header .navbar-default .dropdown-menu>li>a:hover, .header .navbar-default .dropdown-menu>.active>a:hover {
  text-decoration: none;
}

.header .navbar-default .service-dropdown .dropdown-menu>li>a {
  padding: 8px 15px;
  border-bottom: 1px solid #f5f5f5;
}

.header .navbar-default .service-dropdown .dropdown-submenu>.dropdown-menu {
  background: #fff;
  width: max-content;
}

.header .navbar-default .service-dropdown .dropdown-submenu>.dropdown-menu li a {
  text-decoration: none;
  color:#4c5458;
  padding: 5px 10px;
}

.header .navbar-default .service-dropdown>.dropdown-menu>.dropdown-submenu>.dropdown-menu {
  background: #f8f8f8;
  width: 100%;
}

.header .navbar-default .navbar-nav>li.header-btn a {
  background: #EB4021;
  padding: 10px 20px;
  color: #fff;
  margin-top: 13px;
  border-radius: 30px;
}

.header .navbar-default .navbar-nav>li.header-btn a:hover {
  background: #EB4021;
}

@media (max-width: 767px) {
  .header .navbar-brand .navbar-logo {
    max-width: 200px;
  }
}
.minicart-wrapper .product .action.edit, .block-minicart .subtotal {
  display: none !important;
}

/* ************************************************
  Main Body CSS
************************************************ */

.full-width-banner {
  width: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  /* background: linear-gradient(245deg, #cadafb, #fff); */
  background: #f8f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .full-width-banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1;
  background: rgba(0,0,0,.4);
}
.full-width-banner .container{
  z-index: 2;
  position: relative;
} */

.full-width-banner .banner-headline {
  padding: 110px 0 80px;
}

.banner-title {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin: 0;
  color: #EB4021;
  /* text-transform: uppercase; */
  font-family: 'Proxima Nova Regular', sans-serif;
}
.banner-title span {
  display: block;
}

h3.banner-title-slogan {
  font-size: 20px;
  margin: 10px 0 30px 0;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Antenna Extra Light', sans-serif;
}
h3.banner-title-slogan .breaktext{
  display: block;
}

.esprigas-banner-stats {
  width: 74%;
  float: left;
  position: relative;
  margin: 50px auto 30px;
  clear: both;
}

.banner-stats-title {
  font-size: 36px;
  font-weight: 700;
  color: #001874;
  display: block;
  margin-bottom: 25px;
  font-family: 'Proxima Nova Regular', sans-serif;
}
.banner-title .subtext{
  font-size: 30px;
}

.banner-stats-text {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Antenna Extra Light', sans-serif;
}

.esprigas-form-wrapper {
  width: 100%;
  float: left;
  position: relative;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .08);
  border-radius: 1rem;
  z-index: 2;
}

.esprigas-form-wrapper .form-control, .login-right .form-control {
  height: 42px;
  border-color: #ced4da;
  color: #232e45;
  background: #ffffff;
  border-radius: 0.25rem;
  border-radius: 30px;
  box-shadow: none;
}

.esprigas-form-wrapper .form-control:hover {
  border-color: #EB4021;
}

.esprigas-form-wrapper .form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}

.esprigas-form-wrapper .form-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 32px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.btn-secondary.btn-common-orange {
  background: #EB4021!important;
  border-color: #EB4021!important;
  color: #fff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: 'Antenna Extra Light', sans-serif;
}

.banner-headline .esprigas-form-wrapper .control-label {
  font-weight: 500;
}

/* ************************************************
  Home Services CSS
************************************************ */

.align-item-center {
  align-items: center;
}

.bg-color-white {
  width: 100%;
  float: left;
  position: relative;
  padding: 60px 0px;
  background: #fff;
  clear: both;
}

.bg-color-grey {
  width: 100%;
  float: left;
  position: relative;
  padding: 60px 0px;
  clear: both;
  background: #f8f7f7;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  min-height: 350px;
}

.services .icon-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}

.services .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 30px);
}
.services .icon img{
  max-width: 80px;
}

.services .icon i {
  font-size: 52px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #2a2c39;
  transition: ease-in-out 0.3s;
}

.services .description {
  font-size: 16px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

.services .flip-container{
  box-shadow: 0 2px 29px 0 rgb(68 88 144 / 12%);
  transition: all 0.4s ease-in-out;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
}
.services .flip-container, .services .front, .services .back{
  overflow: hidden;
  border-radius: 10px;
}
.services .flipper .front {
  background-color: #fff;
  display: block;
  text-align: initial;
}
.services .flipper .front .description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services .flipper .back{
  display: block;
  border:none;
}
.services .flipper .back .description{
  margin-left: auto;
}


/* ************************************************
  Home FAQ CSS
************************************************ */
.home-faq-section .heading2{
  font-size: 22px;
  margin-bottom: 30px !important;
}

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eee;
}

.panel-default>.panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #fafafa;
  border-color: #eee;
}

h3.panel-title {
  padding: 0;
}

h3.panel-title>a {
  display: block;
  padding: 7px 15px;
  text-decoration: none;
  line-height: 28px;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
}

.more-less {
  float: right;
  color: #666;
  margin-top: 7px;
  font-size: 12px;
}

.bg-color-grey .panel-group .panel, .bg-color-white .panel-group .panel {
  margin-bottom: 15px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .3);
  border-radius: 0;
  border-color: #eee;
}

.bg-color-grey .panel-default>.panel-heading {
  /* background-color: #fff; */
  padding: 0;
}

.bg-color-grey .panel-default>.panel-heading .panel-title a, .bg-color-white .panel-default>.panel-heading .panel-title a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
}
.home-faq-section::after{
  content: "";
  width:50%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #efefef;
  border-radius: 0px 334px 0px 0px;
}
.home-faq-section .container{
  position: relative;
  z-index: 1; 
}
.home-slide-faq{
  display: none;
}

/* Footer CSS */

.footer {
  width: 100%;
  /* float: left; */
  padding: 15px 0;
  background-color: #EB4021;
}

.footer .copyright {
  margin-top: 5px;
  color: #fff;
}

.footer .copyright a {
  color: #fff;
}

.footer .copyright a:hover {
  color: #ccc;
}

/* ************************************************
  Back to Top CSS
************************************************ */

.back-to-top {
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #EB4021;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 6px 6px 13px 0 rgba(42, 67, 113, .2);
  -webkit-box-shadow: 6px 6px 13px 0 rgba(42, 67, 113, .2);
  -moz-box-shadow: 6px 6px 13px 0 rgba(42, 67, 113, .2);
}

.back-to-top:hover {
  background-color: #d01c3d;
  color: #fff;
}

/* ************************************************
  Call to actin  CSS
************************************************ */

.call-to-action {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  padding: 60px 0px;
  background-color: #EB4021;
  text-align: center;
  display: none;
}

.call-to-action-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 26px;
  text-transform: none;
  letter-spacing: 0px;
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.call-to-action-tagline {
  color: #fff;
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
  font-family: inherit;
  margin: 0px;
  margin-bottom: 30px;
  font-size: 16px;
}

.btn-secondary.btn-common-white {
  background: #EB4021!important;
  border-color: #fff!important;
  color: #ffffff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
  border-width: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-secondary.btn-common-white:hover, .btn-secondary.btn-common-border-white:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: .3s;
  transition: .3s;
  background: #ffffff !important;
  color: #EB4021 !important;
}

.btn-secondary.btn-common-border-white {
  background: transparent!important;
  border-color: #EB4021!important;
  color: #EB4021!important;
  font-weight: 700!important;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid #fff;
}

.btn-secondary.btn-common-border-white.btn-product:hover {
  background: #EB4021 !important;
  color: #fff !important;
}

.btn-secondary.btn-common-white.chat-us {
  background: #ffffff !important;
  color:#4c5458 !important;
}

.btn-secondary.btn-common-border-white.chat-us {
  border-color: #fff !important;
  color: #ffffff !important;
}

.btn-secondary.btn-common-border-white.chat-us:hover {
  color:#232729 !important;
}

.btn-secondary.btn-common-white.chat-us:hover {
  background: transparent !important;
  color: #fff !important;
}

.btn-common-white.btn-product:hover {
  background: #ffffff !important;
  color: #EB4021 !important;
  border-color: #EB4021 !important;
}

/* Trust section */

.trust-sect {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  padding: 60px 0px;
  background-color: #f8f7f7;
  text-align: center;
}

.trust-icon {
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
}

.trust-title {
  font-size: 16px;
  color:#4c5458!important;
  font-weight: 700!important;
}

.product-items {
  /* width:100%;
  height:220px;
  position: relative;
  border-radius: 5px;
  background-color:#EB4021;
  text-align: center;
  padding: 60px 30px; */
}

.product-name {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  line-height: 1.5;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.back {
  background: lightblue;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flipper:hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

}

.bulklbps {
  background-image: #EB4021 url(../images/TMG-Cylinders.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(244, 0, 0, .1);
  z-index: 1;
  padding: 60px 30px;
}

.web-info-container {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 25px;
}

.column-container {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(103, 151, 255, .09), 0 4px 6px 0 rgba(103, 151, 255, .09);
  transition: 300ms all cubic-bezier(.4, 0, .2, 1);
}

.web-info-container .column-container .social-icon {
  font-size: 24px;
  color: #3b5999;
  margin-bottom: 5px;
}

.web-info-container .column-container a:hover {
  text-decoration: none;
}

.web-info-container .column-container a {
  color: #001874;
}

.web-info-container .column-container a span {
  display: block;
}

.column-container:hover, .column-container.active {
  background: #fafafa;
  border: 1px solid #EB4021;
  color: #EB4021;
}

.column-container.active .no-of-users {
  color: #EB4021;
}

.column-container.active .active-status {
  background: #EB4021;
  border-color: #990000;
  box-shadow: 0px 4px 10px -3px rgb(244 0 0 / 47%);
  height: 24px;
  width: 24px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}

.column-container.active .active-status::after {
  content: "";
  height: 14px;
  width: 7px;
  position: absolute;
  z-index: 1;
  border: 2px solid #ffffff;
  transform: rotate(45deg);
  border-left: 0;
  border-top: 0;
  top: 4px;
  left: 8px;
}

.box-background {
  background-image: url(../images/pageelements.png), url(../images/pageelements.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 0px, 0px 90%;
  background-size: contain, contain;
  margin-top: 0px;
  padding-top: 60px;
}

/* .box-background .page-title {
  margin-top: 140px;
} */

.textCommon {
  font-size: 16px;
  line-height: 24px;
}
.espri-image{
  width:100%;
  text-align: center;
  padding: 30px;
}

/* Cart DropDown */

ul.dropdown-cart {
  min-width: 250px;
}

ul.dropdown-cart li .item {
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
  background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left {
  float: left;
}

ul.dropdown-cart li .item-left img, ul.dropdown-cart li .item-left span.item-info {
  float: left;
}

ul.dropdown-cart li .item-left img {
  max-width: 50px;
}

ul.dropdown-cart li .item-left span.item-info {
  margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
  display: block;
}

ul.dropdown-cart li .item-right {
  float: right;
}

ul.dropdown-cart li .item-right button {
  margin-top: 14px;
}

.mycart .badge {
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  border-radius: 50%;
  width: 20px;
  color: #EB4021;
  /* display: flex; */
  left: 20px;
  text-align: center;
  line-height: 1.2;
  border: 1px solid #e20202;
  padding: 3px 5px;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.text-muted {
  color: #6c757d!important;
}

.float-right {
  float: right!important;
}

/* Login CSS */

.login-box {
  position: relative;
  display: flex;
}

.login-left {
  width: 34%;
  float: left;
  background-color: #efefef;
  color: #fff;
  text-align: center;
  padding: 40px 25px;
  position: relative;
  min-height: 520px;
  display: flex;
  align-items: center;
}
#customer-popup-register .login-left {
  min-height: 579px;
}
.customer-popup .modal-content::-webkit-scrollbar {
  display: none;
}

.topShape {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60%;
}

.bottomShape {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 55%;
}

.login-left-img {
  max-width: 100%;
  width: 260px;
}

.login-left h2 {
  font-size: 20px;
  margin-top: 0;
}

.login-left h2, .login-left p {
  /* color:#fff; */
}

.login-right {
  width: 66%;
  float:left;
  padding: 35px 35px;
  position: relative;
  background-color: #fff;
  overflow-x: hidden !important;
}

.login-right .form-control {
  height: 44px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0;
}

.close {
  position: absolute;
  background: #ffffff !important;
  right: -10px;
  top: -10px;
  color:#4c5458;
  z-index: 8;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  opacity: 1;
}

button.action-close {
  position: absolute;
  background: #ffffff !important;
  right: -10px;
  top: -10px;
  color:#4c5458;
  z-index: 8;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  opacity: 1;
}

.forget-pass {
  margin-top: 20px;
  color:#4c5458;
  text-align: center;
}

.forget-pass a {
  color: #EB4021;
}

input[type=checkbox] {
  margin-top: 3px;
}

.login-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.checkbox-right {
  text-align: right;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox.float-left {
  float: left;
}

.button.close {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.close:hover {
  opacity: 1 !important;
}

.close:focus, .close:hover {
  opacity: 1;
}

/* Product List and Details Section */

.products-details-section {
  width: 100%;
  float: left;
  padding: 24px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 10px 2px rgba(195, 192, 192, .2);
}

.products-details-section .product-heading {
  font-size: 20px;
  margin: 0px;
  font-weight: 700;
  margin-bottom: 15px;
}

.products-details-section .product-name {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  color:#4c5458;
}

.order-info {
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #e3e3e3;
}

.order-info .order-date, .order-info .delivery-date {
  padding-bottom: 15px;
}

.details-price {
  font-size: 20px;
  color:#4c5458;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.user-facing-issues p {
  margin-top: 10px;
}

.singleorder-contact {
  padding: 10px 0;
}

.header .navbar-default .navbar-nav>li.header-btn a {
  background: #EB4021;
  padding: 10px 20px;
  color: #fff;
  margin-top: 13px;
  border-radius: 30px;
}

/* .bg-color-grey {
  width: 100%;
  float: left;
  position: relative;
  padding: 60px 0px 42px;
  clear: both;
  background: #f3f5f7;
} */

.product-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 10px 2px rgba(195, 192, 192, .2);
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}

.product-container:hover {
  transform: translateY(-10px);
  box-shadow: 1px 12px 30px 0 rgb(68 88 144 / 0.10);
  text-decoration: none;
}

.product-image {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.product-image img {
  max-width: 100%;
}

.produt-title {
  font-size: 16px;
  font-weight: 700;
  color:#4c5458;
  margin-bottom: 15px;
}

.produt-title a {
  color:#4c5458;
}

.produt-title a:hover {
  color: #000;
  text-decoration: none;
}

.produt-price {
  font-size: 18px;
  color: #EB4021;
  font-weight: 600;
}

.product-info {
  padding: 5px 15px 30px;
}

.cart-button a {
  background: #EB4021;
  padding: 10px 20px;
  color: #fff;
  margin-top: 13px;
  border-radius: 30px;
}

.product-image-container {
  width: 100%;
  position: relative;
}

.product-image-container img {
  max-width: 100%;
}

.product-details-container .produt-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.details-produt-price {
  font-size: 20px;
  color: #EB4021;
}

.product-desc {
  font-size: 14px;
  color: #666;
  line-height: 22px;
  margin-top: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.product-delivery-details {
  /* border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  padding: 15px 0;
}

.storage-list {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.storage-list li {
  display: inline-block;
  margin-right: 10px;
}

.storage-list li .storage-item {
  padding: 10px 20px;
  color: #757575;
  text-align: center;
  border: 1px dashed #eee;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.storage-list li .storage-item.selected, .storage-list li .storage-item:hover {
  border-color: #EB4021;
  color: #EB4021;
}

.quantity-section__content {
  display: inline-flex;
  max-width: 138px;
  height: 38px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 15px;
}

.quantity-section__button {
  flex-grow: 0;
  flex-shrink: 0;
  border: 0;
  background-color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 36px;
  height: 36px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #424242;
  cursor: pointer;
}

.quantity-section__value {
  text-align: center;
  display: inline-flex;
  border: 0;
  flex-shrink: 0;
  flex-grow: 1;
  color: #757575;
  font-size: 20px;
  line-height: 36px;
  height: 36px;
  width: 64px;
  padding: 0;
  outline: none;
}

.emergency-text-color {
  margin-right: 15px;
  color: #EB4021
}

.shiping-option {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.btn-secondary.btn-common-orange {
  background: #EB4021!important;
  border-color: #EB4021!important;
  color: #fff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
}

.product-details-container {
  width: 100%;
  position: relative;
}
.page-products .product-item-info .product-image-container{
  padding: 25px 15px;
}
.checkout-shipping-address .new-address-popup{display: none;}

/* simple */

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/*
    .flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);
      filter: FlipH;
        -ms-filter: "FlipH";
    }
    */

/* START: Accommodating for IE */

.flip-container:hover .back, .flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* END: Accommodating for IE */

.flip-container, .front, .back {
  width: 100%;
  height: 180px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  background: lightgreen;
  z-index: 2;
}

.back {
  background: #ffffff;
  transform: rotateY(-180deg);
  border: 2px solid #EB4021;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em#4c5458;
  display: none;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  width: 117px;
  height: 117px;
  background: url(../images/product-1.png) 0 0 no-repeat;
  background-size: contain;
  margin-bottom: 15px;
}

.back-logo2 {
  background: url(../images/product-bulk.png) 0 0 no-repeat;
  background-size: contain;
}

/* vertical */

.vertical.flip-container {
  position: relative;
}

.vertical .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
  -webkit-transform-origin: 100% 213.5px;
  -moz-transform-origin: 100% 213.5px;
  -ms-transform-origin: 100% 213.5px;
  transform-origin: 100% 213.5px;
}

/*
    .vertical.flip-container:hover .flipper {
      -webkit-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -ms-transform: rotateX(-180deg);
      transform: rotateX(-180deg);
    }
    */

/* START: Accommodating for IE */

.vertical.flip-container:hover .back, .vertical.flip-container.hover .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.vertical.flip-container:hover .front, .vertical.flip-container.hover .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.opc-block-shipping-information{
  display: none;
}

/************** about **********/
.cms-about-us .page-main{
  background-color: #fff;
}
.block--aboutpage {
  height: 200px;
  position: relative;
}

.img-abs {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
}

.block--aboutpage .container {
  height: 100%;
  justify-content: center;
  align-items: center;
  color:#232729;
  display: flex;
  position: relative;
}

.block--aboutpage h1 {
  font-size: 36px;
  margin: 0;
}

.block--aboutpage1 {
  padding: 60px 0;
  text-align: center;
}

.block__title {
  margin-top: 0;
  margin-bottom: 30px;
}

.block--aboutpage1 p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.block--partner {
  background: #fafafa;
}

.block__flex {
  display: flex;
}

.kindness__column {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding: 0 15px;
  color: #171f2d;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

.kindness__column img {
  margin-bottom: 15px;
  height: 40px;
}

.kindness__column a {
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  padding-bottom: 2px;
  color: #EB4021;
  font-size: 18px;
}

b, strong {
  font-weight: 600;
}

.main--products {
  padding-top: 70px;
}

.modal-dialog {
  width: 800px;
}

.img-fluid {
  max-width: 100%;
}

.dropdown-menu__item {
  letter-spacing: 1px;
  list-style: none;
  padding-left: 0;
  float: left;
  position: relative;
  width: 100%;
}

.minicart-content-details {
  padding-top: 20px;
}

.dropdown-menu__item img {
  max-width: 70px;
  margin-right: 20px;
  margin-top: 15px;
  height: auto;
}

.dropdown-menu__detail {
  vertical-align: middle;
}

.dropdown-menu__detail h3 {
  color:#4c5458;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0;
  margin-bottom: 5px;
}

.dropdown-menu__detail h3 a {
  color:#4c5458;
}

.dropdown-menu.dropdown-cart {
  width: 370px;
  box-shadow: 0 1px 14px rgba(0, 0, 0, .06);
  padding: 20px;
  border: none;
}

.ws-001-icon:before {
  transform: rotate(45deg);
}

.ws-001-icon:before, .ws-001-icon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color:#4c5458;
}

.ws-001-icon {
  width: 15px;
  height: 15px;
  opacity: 1;
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.ws-001-icon:after {
  transform: rotate(-45deg);
}

span.minicart-content-remove {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

span.minicart-content-remove a {
  color: #353535;
  -ms-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.minicart-content-total {
  border-top: 1px solid #f2f2f2;
  padding-top: 18px;
  margin-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 18px;
}

.minicart-content-total h3 {
  color:#4c5458;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
  margin: 0;
}

.minicart-content-total h3 span.amount {
  float: right;
}

.btn.btn-sm.btn-view {
  padding: 13px 20px;
  width: 150px;
  border: 2px solid;
  font-weight: 500;
  letter-spacing: .3px;
  border-color: #929191;
  color: #929191;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-checkout {}

.btn.btn-sm.btn-view.btn-checkout {
  background: #EB4021;
  color: #fff;
  border: #EB4021;
}

.bot__wrapper {
  position: fixed;
  bottom: 60px;
  right: 15px;
  width: 110px;
  height: 110px;
  padding: 10px;
  animation: 1s ease infinite pulse;
}

.bot__wrapper-top .tooltip {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  animation: 1s ease infinite pulse;
}

.bot__wrapper img {
  max-width: 100%;
}

.tooltip img {
  width: 100%;
}

.dropdown.mycart .dropdown-toggle {
  background: #EB4021 !important;
  color: #fff !important;
  font-size: 16px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:1px;
}

.about-img {
  border-radius: 10px;
  overflow: hidden;
}

.header .navbar-default .dropdown.mycart.open .dropdown-toggle {
  color: #ffffff !important;
}

.main-banner-bg {
  position: absolute;
  left: -21%;
  opacity: .1;
  width: 50%;
  animation: spin 12s ease-in-out infinite;
  -webkit-animation: spin 12s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
  from {
    -webkit-transform: rotate(0deg);
  }
}

/* CMS CSS*/

.cms-home .page-title-wrapper {
  display: none;
}

.cms-page-view .page-main, .cms-home .page-main {
  padding-top: 0px;
}

.page-main {
  padding-left: 0px;
  padding-right: 0px;
  max-width: none;
  padding-top: 60px;
  background: #f3f5f7;
}

.footer.content {
  padding: 0px;
  max-width: none;
  margin: 0px;
  border: 0px;
}

.page-title-wrapper {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.page-layout-custom .columns {
  max-width: none;
  margin-left: 0px;
  margin-right: 0px;
}

.cms-page-view .page-title-wrapper {
  display: none;
}

div#heading2 {
  background: #fafafa;
  padding: 10px;
}

.navbar-brand {
  height: auto;
}

section.footer-trust-section {
  background: #f8f7f7;
}

.label {
  color:#4c5458;
}

.page-footer {
  width: 100%;
  float: left;
  padding: 15px 0;
  background-color: #EB4021;
}

/* Model pop up */
.modal-popup .modal-footer {
  display: none;
}
.modal-popup .modal-header, .modal-popup .modal-content, .modal-slide .action-close {
  padding: 0px;
}
.modal-content {
  border: 0px;
}
.modal-popup._inner-scroll .modal-inner-wrap{
  width:800px !important;
}
.modal-inner-wrap .modal-header{
  display: none;
}
.modal-popup.confirm .modal-inner-wrap .modal-header{
  display: block;
  border-bottom:none;
}
.modal-popup.confirm .modal-inner-wrap .modal-footer{
  display: block;
  border-top: none;
  padding-top: 0;
}
.modal-popup.confirm .modal-inner-wrap .modal-footer .action-primary.action-accept{
  background-color: #EB4021;
  color: #fff;
}
.modal-popup.confirm .modal-inner-wrap .modal-header .action-close{
  padding: 0px !important;
}
.modal-popup.confirm .modal-inner-wrap .modal-content{
  box-shadow: none;
  padding:30px;
}
.modal-popup .modal-inner-wrap {
  width: 65%;
}
.modal-inner-wrap {
  overflow-x: hidden;
  overflow-y: hidden;
}
.action-close {
  position: absolute;
  background: #ffffff !important;
  right: -10px;
  top: -10px;
  color:#4c5458;
  z-index: 8;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  opacity: 1;
}
.password-strength-meter{
  display: none;
}
.customer-popup-login, .modal-popup._inner-scroll .modal-content {
  overflow-x: hidden !important;
}
.modals-overlay{
  z-index: 99 !important;
}
.product-info-main .product.attribute.overview p{
  line-height: 24px;
  margin-bottom: 0;
}
.product-info-main .box-tocart .action.tocart{
  background: #EB4021!important;
  border-color:  #EB4021!important;
  color: #fff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-family: inherit;
}
.product-info-main .box-tocart .action.tocart:hover{
  border:1px solid;
}
/* .product-info-main .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty{
  display: block;
} */
.opc-wrapper .shipping-address-item {
  background: #fff;
}
#checkout-shipping-method-load {
  background:#fff;
  padding: 15px;
  margin-bottom: 15px;
}
.opc-block-summary, .cart-summary{
  background:#fff;
}
.payment-method-billing-address {
  background: #fff;
  padding: 15px;
}
.cart-summary .block.shipping {display: none;}
.payment-option.opc-payment-additional{
  background: #fff;
}
/* .account .header .navbar .navbar-nav li:nth-child(1),
.account .header .navbar .navbar-nav li:nth-child(2),
.account .header .navbar .navbar-nav li a .user-name,
.header .navbar-default .navbar-nav>li>a .user-name{
  display: none;
} */
.catalog-product-view .product.media{
  background: #fff;
  padding: 30px;
}
.product-info-main .box-tocart{
  width:100%;
}
.product-info-main .box-tocart .field.qty{
  width: 100%;
}
.product-info-main .box-tocart .qty .label{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.product-info-main .box-tocart .input-text.qty {
  height: 36px;
  width: 100px;
}
.product-info-main .box-tocart .actions{
  float: left;
}
.product-info-main .box-tocart .control{
  position: relative
}
.product-info-main .box-tocart .control .more, .product-info-main .box-tocart .control .less{
  position: absolute;
  z-index: 1;
  top:0;
  cursor: pointer;
}
.product-info-main .box-tocart .control .more{
  padding: 8px;
  right: 0;
}
.product-info-main .box-tocart .control .less{
  padding: 8px;
}
.showprice{
  display: block !important;
}
/* Checkout page css */
.checkout-cart-index .cart-container{
  margin-top: 30px;
}
.checkout-cart-index .cart-container .table>thead>tr>th {
  border-bottom: 1px solid #ddd;
}
.checkout-cart-index .cart-container .product-image-container img{
  max-width: 100px;
  margin:0;
}
.cart.table-wrapper .col.qty{
  position: relative;
}
.cart.table-wrapper .col.qty .more, .cart.table-wrapper .col.qty .less{
  position: absolute;
  z-index: 1;
  top:16px;
  cursor: pointer;
}
.cart.table-wrapper .col.qty .more{
  font-size: 10px;
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 20px;
  line-height: 28px;
  border: 1px solid #e3e3e3;
}
.cart.table-wrapper .col.qty .less{
  font-size: 10px;
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 20px;
  line-height: 28px;
  border: 1px solid #e3e3e3;
  right: 0;
}
.cart.table-wrapper .col.qty .input-text.qty{
  border: none;
  width: 85px;
}
.cart.table-wrapper .col.price .price-including-tax, .cart.table-wrapper .col.price .price-excluding-tax{
  font-size: 14px;
}
@media (min-width: 768px) {
  .cart.table-wrapper .item .col.item{
    padding: 20px 8px 10px;
  }
}
.osc-place-order-wrapper button.action.primary.checkout{
  background-color: #EB4021;
}

@media (max-width:500px) {}
@media (min-width:501px) and (max-width:767px) {}
@media (max-width:767px) {
  .banner-headline .block__flex{display: block;}
  .flip-container, .front, .back{margin-bottom: 15px;}
  .box-background .page-title {margin-top: 0px;}
  .columns .column.main {padding-bottom: 0;}
  .navbar-default .navbar-toggle{float: left;margin: 18px 0px 18px 10px;}
  .action.nav-toggle {display: none;}
  #sidebar {width: 280px;position: fixed;top: 0;left: -285px;height: 100vh;z-index: 9999;background: #fff;color: #fff;transition: all 0.3s;overflow-y: scroll;box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);}
  #sidebar.active {left: 0;}
  #dismiss {width: 35px;height: 35px;line-height: 35px;text-align: center;position: absolute;top: 0px;right: 0px;color: #EB4021;font-size: 30px;cursor: pointer;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;text-decoration: none;}
  #dismiss:hover {background: #fff;color: #7386D5;}
  .menu-overlay {position: fixed;width: 100vw;height: 100vh;background: rgba(0, 0, 0, 0.7);z-index: 998;display: none;}
  #sidebar .sidebar-header {background: #f8f7f7 !important;width: 100%;float: left;clear: both;padding:0px 10px; font-size: 18px;}
  #sidebar .sidebar-header .navbar-brand{padding: 0;}
  /* #sidebar .sidebar-header img{width:42px;} */
  #sidebar ul{width: 100%;float: left;clear: both;list-style: none;padding: 0px;margin-bottom: 0px;}
  #sidebar ul li{margin-bottom: 0;}
  #sidebar ul li a {padding: 10px;font-size: 14px;display: block;color: #EB4021;text-decoration: none;border-bottom: 1px solid #f8f7f7;font-family: 'Antenna Extra Light';}
  #sidebar ul li a:hover {color: #EB4021 !important;background: #f8f7f7!important;}
  #sidebar ul li a:nth-last-child(1):hover {background: transparent;}
  #sidebar ul li ul li a{padding-left: 30px;}
  #sidebar ul li.active > a, a[aria-expanded="true"] {color: #EB4021;background: #f8f7f7;}
  a[data-toggle="collapse"] {position: relative;}
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {content: '\f054';display: block;position: absolute;right: 20px;font-family: 'FontAwesome';font-size: 0.6em;top: 15px;}
  a[aria-expanded="true"]::before {content: '\f078';}
  .esprigas-banner-stats {width:100%;margin-top:0px;}
  .trust-sect{padding: 15px 0px;}
  .full-width-banner .banner-headline {padding: 80px 0 60px;}
  .banner-title {font-size: 36px;}
  .banner-stats-title {font-size: 30px;}
  .banner-title .subtext{font-size: 22px;}
  .block--aboutpage {margin-bottom:0px;}
  .kindness__column a{font-size: 16px;}
  .page-products .products-grid .product-item{
    width:100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
    margin:0 !important;
  }
  .page-products .products-grid .product-item:nth-child(3n + 1), .page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-layout-3columns .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-3columns .products-grid .product-item:nth-child(3n + 1) {margin-left:0;}
  .page-products .product-item-info, .page-products.page-layout-1column .products-grid .product-item {
    width:100% !important;
    /* min-height:263px; */
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
  .page-layout-1column .product.media {
    width: 100% !important;
    padding:15px;
  }
  .page-layout-1column .product-info-main {
    width: 100% !important;
    margin-top: 0px;
    padding:15px;
  }
  .opc-wrapper .shipping-address-item {
    background: #fff;
  }
  #checkout-shipping-method-load {
    background:#fff;
    padding: 15px;
    margin-bottom: 15px;
  }
  .modal-popup._inner-scroll .modal-inner-wrap{
    width: 320px !important;
  }
  .modal-popup._inner-scroll .modal-inner-wrap .login-left{
    display: none;
  }
  .modal-popup._inner-scroll .modal-inner-wrap .login-right{
    width: 100%;
    padding:15px;
  }
  .modal-popup.modal-slide{
    left:20px;
    top:20px;
  }
  .modal-popup.modal-slide .modal-inner-wrap[class]{
    background: transparent;
  }
  .esprigas-form-wrapper{
    margin-bottom:25px;
  }
  .home-faq-section::after{
    content: none;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .header .navbar-default .navbar-nav>li>a{padding: 25px 9px;}
  .esprigas-banner-stats{width: 90%;}
  .banner-headline .block__flex{display: block;}
  .trust-sect{padding: 15px 0px;}
  .page-products .products-grid .product-item{
    width:33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
    margin:0 !important;
  }
  .page-products .products-grid .product-item:nth-child(3n + 1), .page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-layout-3columns .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-3columns .products-grid .product-item:nth-child(3n + 1) {margin-left:0;}
  .page-products .product-item-info {
    width:100%;
    min-height:263px;
  }
  .page-layout-1column .product-info-main{
    width: 55% !important;
    margin-top: 60px;
    padding: 0 15px;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .column-container {padding: 10px 15px;}
  .esprigas-banner-stats {width: 90%;}
  .page-products .products-grid .product-item{
    width:33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px!important;
    padding-left: 15px!important;
    margin:0 !important;
  }
  .page-products .products-grid .product-item:nth-child(3n + 1), .page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-layout-3columns .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-1column .products-grid .product-item:nth-child(3n + 1), .page-products.page-layout-3columns .products-grid .product-item:nth-child(3n + 1) {margin-left:0;}
  .page-products .product-item-info {
    width:100%;
    min-height:322px;
  }
}






/* Dashboard CSS */
.page-main {padding-top: 40px;}
.sidebar.sidebar-main{
  background-color: #232729;
  min-height: calc(100vh - 0px);
}
.sidebar.sidebar-additional{
  background-color: #232729;
  display: none;
}
.sidebar.sidebar-main .account-nav .content{
  background: transparent;
}
.account-nav .item a, .account-nav .item>strong{
  color:#fff;
}
.account-nav .item a:hover{
  background:transparent;
  border-color: #EB4021;
}
.account-nav .item.current a, .account-nav .item.current strong {
  border-color: #EB4021;
  font-weight: 600;
}
.account-nav .item .delimiter {
  /* border-top: 1px solid #4C5458; */
  display: none;
}
.sidebar.sidebar-additional{
  margin-top:0;
  padding-left:15px;
}
.sidebar.sidebar-additional .block-compare .block-title,
.sidebar.sidebar-additional .block-reorder .block-title{
  color:#fff;
}
.sidebar.sidebar-additional .block-compare .empty{
  color:#ccc;
}
#cart-sidebar-reorder .product-item .product-item-name, 
#cart-sidebar-reorder .product-item .product-item-name a{color:#fff;padding-left: 5px;}
.account .page-title-wrapper {
  display: none;
}
.account .column.main .block:not(.widget) .block-title {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
}
.account .columns .column.main {
  /* padding-top:40px; */
  padding: 40px 20px 0px;
}
.block.block-dashboard-info, 
.block.block-dashboard-addresses, 
.block.block-dashboard-orders,
.block.block-addresses-default,
.block.block-addresses-list,
.form.new-saved-card,
.form.form-edit-account,
.cart.table-wrapper {
  background: #fff;
  padding: 15px;
}
.block-dashboard-info .box-newsletter .box-actions{
  display: none;
}
.account .footer-trust-section{
  display: none;
}
.account .page-footer, .account .footer{
  background-color:#232729;
}
.table-wrapper.orders-history{
  background: #fff;
  padding: 15px;
}
/* User Logedin Menu css*/
.header .navbar-default .navbar-nav>li.user-menu a.dropdown-toggle {
  padding: 25px 15px 44px;
}
.header .navbar-default .navbar-nav>li>a .user-image{
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
.navbar-nav>.user-menu>.dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
  background-color: #000;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2);
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  z-index: 5;
  color: #fff;
  color:#fff;
  font-size: 17px;
  margin-top: 10px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
  display: block;
  font-size: 12px;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
  background-color: #f9f9f9;
  padding: 10px;
  float: left;
  width: 100%;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before, .navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
  content: " ";
  display: table;
}
.product-item .price-box, .product-info-main .price-box, .action.primary.addtocart{
  display: none;
}
.product-item-inner {margin-top:15px;margin-bottom: 15px;}

/* DropDown Menu End */

.new-saved-card .legend,
.form-edit-account .legend {margin-left: 0;padding-bottom: 15px;}
.action.order{
  margin-bottom: 0;
  color: #EB4021;
  background: #fbd4d4;
  border: 1px solid #fbd4d4;
  border-radius: 4px;
  padding: 3px 9px;
}
.action.view {
  margin-bottom: 0;
  background: #EB4021;
  color: #fff;
  border: 1px solid #EB4021;
  border-radius: 4px;
  padding: 3px 9px;
}

.minicart-items .product-item-name {
  color:#4c5458;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 0;
  margin-bottom: 5px;
}
.minicart-items .product-item-name a {
  color:#4c5458;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.minicart-items .item-qty {
  width: 64px;
  border-radius: 10px;
}
.block-minicart .subtitle {
  display: block;
  width: 100%;
  padding-bottom: 15px;
}

/* New Account Setup CSS */
.new-account-info-container {
  background: #fff;
  width:100%;
  padding:40px 25px;
  border-radius: 10px;
  /* box-shadow:0 1rem 1rem 0 rgba(0,0,0,.08); */
}
.account-info-icon, .account-info-content {
  text-align: center;
  margin-bottom: 10px;
}
.account-info-icon {
  height: 70px;
}
.account-info-icon img {
  max-width: 64px;
}
.account-info-content {
  min-height:150px;
}
.new-account-info-container p{
  font-size: 14px;
  color: #5E6164;
}
.btn-secondary.btn-common-success {
  background: #87A956!important;
  border-color: #87A956!important;
  color: #fff!important;
  font-weight: 700!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
}
.btn-secondary.btn-common-orange-border {
  background: #fff!important;
  border-color: #EB4021!important;
  color: #5E6164!important;
  font-weight: 500!important;
  letter-spacing: .3px;
  padding: 10px 20px;
  border-radius: 30px;
}
.preview-account-container {
  width:100%;
  background: #e9ecef;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border:1px solid #EAEFF5;
  overflow: hidden;

}
.preview-account-container .icon{
  width: 115px;
  height: 115px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-content {
  padding:0 20px;
}
.text-b-u {
  text-decoration: underline;
  font-weight: 600;
}
.title-icon {
  position: relative;
}
.title-icon::after{
  content: "";
  position: absolute;
  width: 104px;
  height: 104px;
  background:url(../images/dashboard/espri-title-icon.png) no-repeat;
  background-position: center center;
  top: 50%;
  right: 38%;
  transform: translate(-50%, -50%);
}

/******************************************************* 
404 Error Page 
********************************************************/
.page-not-found-sect {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  /* min-height: calc(100vh - 55px); */
  padding: 70px 0;
}
.coke-text-color{
  color:#EB4021;
}
.page-error-icon {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  clear: both;
}
.page-error-icon img{
  max-width: 250px;
}
.error-title{
  font-size: 42px;
}
/***************************************************
  CSS for Did You Know 
***************************************************/
.block__didYou__line{
  position: relative;
}
.block__didYou ul{
  list-style:none;
  margin: 0px;
  padding: 0px;
}
.block__didYou__item{
  width: 100%;
  padding: 15px;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}
.didyou__icon{
  position:absolute;
}
.didyou__icon img {
  max-width: 50px;
}
.block__didYou__item p{
  font-size: 16px;
  line-height: 24px;
  padding-left: 75px;
}
.block__didYou h2{
  padding-bottom: 25px;
  position: relative;
  margin-top:0;
}
.block__didYou h2 b{
  font-weight: 800;
} 
.block__didYou h2:after{
  content: "";
  background: #EB4021;
  width: 130px;
  position: absolute;
  height: 2px;
  left: 0px;
  bottom: 10px;
}
.block__didYou__line::after {
  content: "";
  background: #ececec;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}
.heading2 {
  margin-top:0;
}
@media (max-width: 767px) {
  .box-background .block__flex{
    display: block;
  }
  .block__didYou__line::after{
    content: none;
  }
  .block__didYou__item{
    padding:15px 0;
  }
  .services .icon-box{
    padding: 15px;
    min-height: auto;
  }
}

/* Marekting page CSS */
.full-width-banner.esprimarketing-banner{
  background: url(../images/espri-marketing.png)  center center/cover no-repeat local;
}
.cms-cokeco2 .page-main{
  background: #fff;
}
.cms-cokeco2 .full-width-banner .banner-headline{
  padding: 50px 0 50px;
}
.marketing-call-to-action{
  display: block !important;
  background-color: #fff4f6;
}
.marketing-call-to-action .call-to-action-title, .marketing-call-to-action .call-to-action-tagline{
  color: #4c5458;
}
.cms-cokeco2 .esprimarketing-banner .login-right.cokeco2 {
  width:100% !important;
}

/*Edit by Ajay 10 Feb 2021*/
.footer-top {
  width: 100%;
  position: relative;
  padding:50px 0;
  background-color: #fff;
  border-top:2px solid #EB4021;
}
.footer-links-container{
  width:100%;
  position: relative;
  margin-bottom: 15px;
}
.footer-links-container h6, .footer-links-title{
  color: #EB4021;
  line-height: 40px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin:0;
}
.footer-cont p{
  font-size: 14px;
  font-family: 'Proxima Nova Regular';
}
.footer-links-container ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer-links-container li {
  display: block;
  text-align: left;
}
.footer-links-container a {
  color: #4c5458;
  font-size: 14px;
}
.footer-links-container a:hover {
  color: #EB4021;
}
.footer-logo{
  width:100%;
  display: none;
  margin-bottom: 15px;
}
.footer-logo img{
  max-width: 180px;
}
.social-icon-round {
  margin-left: 0px;
  background: transparent;
  padding: 0px;
}
.footer-top .social-icon-round {
  margin-top: 20px;
}
.social-icon-round ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.social-icon-round li {
  display: inline-block;
  border: 1px solid #c3c3c3;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.footer-top .social-icon-round li {
  border: 1px solid #767676;
}
.social-icon-round li a {
  display: block;
  font-size: 19px;
  line-height: 20px;
  width: 42px;
  height: 42px;
  color: #c3c3c3;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  outline: none;
}
.social-icon-round li a:before {
  position: relative;
  top: 11px;
}
.footer-top .social-icon-round li:hover {
  border: 1px solid #EB4021;
}
.social-icon-round li a:hover {
  color: #EB4021;
}

.bfooter{
  clear: both;
  background: #232729;
  padding: 50px 0px 50px 0px;
  border-top: 4px #F28726 solid;
}
.bfooter .footer{
  margin-top: 50px;
}
.bfooter h3 i{
color: #F28726;
padding-right: 5px;
}
.bfooter__logopart{
  width: 100%;
  border-right: 1px solid grey;
  height: 100%;
  padding-right: 30px;
}
.bfooter__logopart__no{
  color: #fff;
  padding-bottom: 15px;
  font-size: 28px;
}
.bfooter__logopart__no i{
  color: #F28726;
  font-size: 42px;
}
.bfooter__logopart img {
  width: 100%;
  margin-bottom: 20px;
}
.bfooter h4{
  color: #fff;
}
.bfooter .fheading{
  color: #fff;
}
.bfooter .ftext{
  color: #fff;
}
.bfooter__queclink ul  {
  padding-left: 0;
  }
.bfooter__queclink ul li {
  display: block;
  line-height: 28px;
  list-style: disc;
  text-decoration: none;
  }
  .bfooter__queclink ul  li a{
  color:#fff;
  text-decoration: none;
  }
  .bfooter__queclink ul  li a:hover {
  text-decoration: none;
  color: #EB4021 !important;
  
  }
  .bfooter__social{
    padding-top: 20px;
  }
  .bfooter__social__icons a{
    font-size: 32px;
    color: #4C5458;
    padding:5px 20px 0px 0px;
  }
  .bfooter__social__icons a:hover{
    color: #fff;
  }
  .btn-footer {
    color: grey;
   text-decoration: none;
   border: 1px solid;
   border-radius: 43px;
   font-size: 13px;
   padding: 7px 30px;
   line-height: 47px;
}
.btn-footer:hover { 
   text-decoration: none;
}

.bfooter__form input[type="text"] {
  width: 76%;
  height: auto;
  border:0px;
  background:#fff;
  color: #4C5458;
  outline: none;
  border-radius: 30px 0px 0px 30px;
  padding:10px 0px 10px 20px;
  text-align: left;
  margin-bottom: 10px;
}
.bfooter__form::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.bfooter__form input[type="button"] {
width: auto;
border: none;
background:#EB4021;
color: #fff;
outline: none;
padding:10px;
margin-left: -5px;
text-align: center;
border-radius: 0px 30px 30px 0px;
}
/*hover effect social icons*/
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}