<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php $params = $this->getRequest()->getParams(); ?>
<?php if(isset($params['support']) && $params['support'] == 'Y') { ?>
<style>
	.navbar-right, #navbar { display: none; }
</style>
<?php } ?>
<style>
.page-print #maincontent .footer-top{
    display:none;
}
.page-print #maincontent{
    background:#fff;
}
.page-print #maincontent .navbar-brand {
  background: #fff;
  display:none;
}
.page-print #maincontent .navbar-brand img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.espri-logo{
    max-width: 200px;
}
/*.page-print #maincontent .order-details-items{
    background:#fff;
    padding:15px;
    margin-top:20px;
}
.page-print #maincontent .copyright.text-center {
    background: #232729;
    padding: 10px 0px;
    color: #fff;
}
.page-print #maincontent th.mark {
    background: #fff;
}
.page-print #maincontent .order-details-items .order-title strong {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.page-print #maincontent .block-order-details-view .block-title strong {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.page-print #maincontent .box-title strong {
    font-size: 18px !important;
    color: #4c5458;
    font-weight: 600 !important;
    line-height: 28px !important;
}
.page-print #maincontent .table-order-items thead{
    background: #2f9699;
  margin-bottom: 0;
}
.page-print #maincontent .table-order-items thead th{
    color:#fff;
    font-weight:400;
}
.page-print #maincontent .box-content address a {
    line-height:30px;
}
.page-print #maincontent .box-content address a:before {
    content: '\f2a0';
    font-size: 20px;
    color: #eb4021;
    margin-left: 2px;
    padding-right: 8px;
    padding-top: 0;
    float: left;
    font-family: FontAwesome;
}
.table-order-items thead tr th{
    border-bottom:0px;
}
tfoot .subtotal {
    display: contents!important;
} */
/*new class*/
/*.invMain{
    width:100%;
    float:left;
}
.invMain .table{
    margin-bottom:0px!important;
}
.invMain__company{
    width:33%;
    font-size: 24px;
    float:left;
}
.invoicec__brand{
    width:33%;
    text-align:center;
    float:left;
}
.invoicec__brand img{
    width:70%;
}
.invoicec__dates {
    width: 35%;
    float: right;
}
.invoicec__dates__heading{
    font-family: 'Antenna Extra Light' , sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-align: right;
    width: 100%;
    float: right;
}
.invMain__biilto{
    width:40%;
    float:left;
    font-size:16px;
    text-align:center;
}
.invMain__shipto{
    width:40%;
    float:right;
    font-size:16px;
    text-align:center;
}
.invMain__totalamount{}
.invMain__totalamount__leftpanel{
    width:40%;
    float:left;
    border: 2px solid #6b7c8d!important;
    padding:10px;
}
.invMain__totalamount__rightpanel{
    width:100%;
    float:right;
    border: 2px solid #6b7c8d!important;
    padding:0px!important;
    font-size:16px;
}
.invMain__totalamount__rightpanel tr td:last-child{
    text-align:right;
}
.invMain .table-bordered{
    border:1px solid #ccc!important;
}
span.invMain__biilto__head {
    width: 100%;
    float: left;
    border: 2px solid #6b7c8d;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align:center;
}
span.invMain__shipto__head {
    width: 100%;
    float: left;
    border: 2px solid #6b7c8d;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align:center;
}
td.invoicec__dates table tr {
    border: 2px solid #6b7c8d;
}
.border__r{
   border-right:2px solid #6b7c8d;
}
table.table.invMain__data {
    border: 2px solid #6b7c8d!important;
}
table.table.invMain__data tr th{
    border-bottom: 2px solid #6b7c8d!important;
    text-align:center;
}
table.table.invMain__data thead tr th:not(:last-child){
    border-right: 2px solid #6b7c8d!important;
}
table.table.invMain__data tbody tr td:not(:last-child){
    border-right: 2px solid #6b7c8d!important;
}
table.table.invMain__data tbody tr td:not(:first-child){
    text-align:right;
}
.invoicec__dates tr td:first-child{
    font-size:16px;
    font-weight:600;
}
td.invMain__totalamount__rightpanel tr td:nth-child(3) {
    text-align: right;
}
.invMain__totalamount__rightpanel tr:nth-child(1) td:nth-child(3){
    font-size:18px;
    font-weight:600;
}
.invMain__totalamount__rightpanel tr:nth-child(1) td:nth-child(4){
    font-size:18px;
    font-weight:400;
}
.invMain__totalamount__rightpanel tr:nth-child(3) td:nth-child(3){
    font-size:22px;
    font-weight:600;
}
.invMain__totalamount__rightpanel tr:nth-child(5) td:nth-child(4){
    font-size:22px;
    font-weight:400;
}
.print__message{
    text-align:center;
    line-height:24px;
    font-size:16px;
    margin-bottom:20px;
}
.first--header tr td:nth-child(3){
    display:none;
}
.invMain__totalamount__rightpanel tr:nth-child(2) td:last-child{
    border-bottom: 2px solid #6b7c8d;
}
 */
@media (max-width: 767px){
    .invMain__company { 
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .invoicec__dates{ width: 100%; }
    .invMain__biilto{ width: 100%;}
    .invMain__shipto{ width: 100%;}
    .invoicec__dates__heading{text-align:center;}
    .invMain__totalamount__rightpanel tr:nth-child(3) td:nth-child(3) {
        font-size: 14px;
        font-weight: 600;
    }
    .invMain__totalamount__rightpanel tr:nth-child(1) td:nth-child(3) {
        font-size: 14px;
        font-weight: 600;
    }
    .invMain__totalamount__rightpanel tr:nth-child(1) td:nth-child(4) {
        font-size: 16px;
    }
    .invMain{font-size:14px;}
    .print__message{font-size:14px;}
    .invMain__biilto{font-size:14px;}
    .invMain__shipto{font-size:14px;}
    .invMain__totalamount__rightpanel{font-size:14px;}
    .tab--res{
        overflow: auto;
        margin: 0 0 25px 0;
    }
    .tab--res .table{
        margin-bottom:0px;
    }
    .tab--res::-webkit-scrollbar {
        width: 1em;
    }
    .tab--res::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .tab--res::-webkit-scrollbar-thumb {
        background-color: #f28726;
        outline: 1px solid #f28726;
    }
} 
</style>
<?php $_order = $block->getOrder() ?>
<?php
$shipmentdate = "Not shiped Yet";
foreach($_order->getShipmentsCollection() as $shipment){
    /** @var $shipment Mage_Sales_Model_Order_Shipment */
    $shipmentdate =  $shipment->getCreatedAt();
}

?>
<?php $_invoice = $block->getInvoice() ?>
<?php if ($_invoice) : ?>
    <?php $_invoices = [$_invoice]; ?>
<?php else : ?>
    <?php $_invoices = $_order->getInvoiceCollection() ?>
<?php endif; ?>
<?php foreach ($_invoices as $_invoice) : ?>
    <table class="table" style="width:100%;border:1px solid #ececec;background:#fff;">
        <tbody class="invMain first--header">
            <tr style="background-color:#f8f7f7">
                <td colspan="2" >
                    <img class="espri-logo" src="https://devorder.esprigas.com/media/images/esprilogo.png" alt="">
                </td>
            </tr>
            <tr>
                <td class="invMain__company" style="text-align:left;">
                    <span>
                    EspriGas Inc.<br>
                    1718 Briarcrest Drive
                    Sute 100<br>
                    Bryan, TX 77802<br>
                    www.esprigas.com<br>
                    (800) 720-1563</span>
                </td>
                <td class="invoicec__dates">
                    <table class="table" style="width:100%;">
                        <tr>
                            <td colspan="2" style="font-size:18px;font-weight:700;text-align:right"><span class="invoicec__dates__heading">Invoice</span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right;padding:3px;">Invoice Number:</td>
                            <td style="text-align:left;padding:3px;"><?= $_invoice->getIncrementId() ?></td>
                        </tr>
                        <tr>
                            <td style="text-align:right;padding:3px;">Invoice Date:</td>
                            <td style="text-align:left;padding:3px;"><?php $_invoicedate=date_create($_invoice->getCreatedAt());
                            ?>
                            <?=  date_format($_invoicedate,"m/d/y"); ?></td>
                        </tr>
                        <tr>
                            <td style="text-align:right;padding:3px;">Delivery Date:</td>
                            <td style="text-align:left;padding:3px;"><?php if($shipmentdate!="Not shiped Yet"){
                                $shipmentdate=date_create($shipmentdate);
                                echo date_format($shipmentdate,"m/d/y");
                            } ?>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;padding:3px;">Our Order No:</td>
                            <td style="text-align:left;padding:3px;"><?=  $_order->getIncrementId(); ?></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-top:1px solid #ececec;">
                    <table class="table">
                        <tr>
                            <td class="invMain__biilto">
                                <h3><?= $block->escapeHtml(__('Customer Detail')) ?></h3>
                                <span class="invMain__biilto__head">
                                    <?php $_shipping = $_invoice->getShippingAddress() ?>
                                    <address><?= /* @noEscape */ $block->formatAddress($_shipping, 'html') ?></address>
                                </span>
                            </td>
                            <td class="invMain__shipto">
                                <span class="invMain__shipto__head">
                                    <h3><?= $block->escapeHtml(__('Payment Information')) ?></h3>
                                    <?= $block->getPaymentInfoHtml() ?>
                                    <span><?= $block->escapeHtml(__('Delivery Type')) ?></span> :
                                    <?php if ($_order->getShippingDescription()) : ?>
                                        <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                                    <?php else : ?>
                                        <?= $block->escapeHtml(__('No shipping information available')) ?>
                                    <?php endif; ?>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tab--res">
                    <table class="table invMain__data">
                        <thead>
                            <tr>
                                <th scope="col" style="background:#f5f5f5;">Item/Description</th>
                                <th scope="col" style="background:#f5f5f5;">SKU</th>
                                <th scope="col" style="background:#f5f5f5;">Unit Price</th>
                                <th scope="col" style="background:#f5f5f5;">Quantity</th>
                                <th scope="col" style="background:#f5f5f5;">Total Price</th>
                            </tr>
                        </thead>
                        <?php $_items = $_invoice->getItemsCollection(); ?>
                            <?php foreach ($_items as $_item) : ?>
                                <?php if (!$_item->getOrderItem()->getParentItem()) : ?>
                                    <tbody>
                                        <?= $block->getItemHtml($_item) ?>
                                    </tbody>
                                <?php endif; ?>
                            <?php endforeach; ?>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table invMain__totalamount">
                        <tr>
                            <td class="invMain__totalamount__rightpanel">
                                <table class="table">
                                    <?= $block->getInvoiceTotalsHtml($_invoice) ?>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <p class="print__message">Please ensure you read our terms and conditions as set forth in the attached documentation received with this statement. Placing an order using a EspriGas account, or the rental or purchase of Merchandise and Services or goods and equipment obtained via EspriGas, indicate your acceptance of all conditions listed. We reserve the right, at any time, to modify, alter, or update our terms and conditions</p> -->
<?php endforeach; ?>
