<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_CompanyAccount
 */
?>
<?php
/**
 * @var \Amasty\CompanyAccount\Block\Payment\Info $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>

<dl class="payment-method">
    <dt class="title"><?= $escaper->escapeHtml($block->getMethod()->getTitle()) ?></dt>
</dl>
<?= $block->getChildHtml() ?>
