<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<style>
.page-print #maincontent .footer-top{
    display:none;
}
.page-print #maincontent{
    background:#fff;
}
.page-print #maincontent .navbar-brand {
  background: #fff;
}
.page-print #maincontent .navbar-brand img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.page-print #maincontent .order-details-items{
    background:#fff;
    padding:15px;
    margin-top:20px;
}
.page-print #maincontent .copyright.text-center {
    background: #232729;
    padding: 10px 0px;
    color: #fff;
}
.page-print #maincontent th.mark {
    background: #fff;
}
.page-print #maincontent .order-details-items .order-title strong {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.page-print #maincontent .block-order-details-view .block-title strong {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  color: #232729 !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.page-print #maincontent .box-title strong {
    font-size: 18px !important;
    color: #4c5458;
    font-weight: 600 !important;
    line-height: 28px !important;
}
.page-print #maincontent .table-order-items thead{
    background: #2f9699;
  margin-bottom: 0;
}
.page-print #maincontent .table-order-items thead th{
    color:#fff;
    font-weight:400;
}
.page-print #maincontent .box-content address a {
    line-height:30px;
}
.page-print #maincontent .box-content address a:before {
    content: '\f2a0';
    font-size: 20px;
    color: #eb4021;
    margin-left: 2px;
    padding-right: 8px;
    padding-top: 0;
    float: left;
    font-family: FontAwesome;
}
tfoot .subtotal {
    display: contents!important;
}
</style>
<?php $_order = $block->getOrder() ?>
<?php $_invoice = $block->getInvoice() ?>
<?php if ($_invoice) : ?>
    <?php $_invoices = [$_invoice]; ?>
<?php else : ?>
    <?php $_invoices = $_order->getInvoiceCollection() ?>
<?php endif; ?>
<?php foreach ($_invoices as $_invoice) : ?>
<div class="order-details-items invoice">
    <div class="order-title">
        <strong><?= $block->escapeHtml(__('Invoice #')) ?><?= (int) $_invoice->getIncrementId() ?></strong>
    </div>
    <div class="table-wrapper table-order-items invoice">
        <table class="data table table-order-items invoice" id="my-invoice-table-<?= (int) $_invoice->getId() ?>">
            <caption class="table-caption"><?= $block->escapeHtml(__('Items Invoiced')) ?></caption>
            <thead>
            <tr>
                <th class="col name"><?= $block->escapeHtml(__('Product Name ajay')) ?></th>
                <th class="col sku"><?= $block->escapeHtml(__('SKU')) ?></th>
                <th class="col price"><?= $block->escapeHtml(__('Price')) ?></th>
                <th class="col qty"><?= $block->escapeHtml(__('Qty Invoiced')) ?></th>
                <th class="col subtotal"><?= $block->escapeHtml(__('Subtotal')) ?></th>
            </tr>
            </thead>
            <?php $_items = $_invoice->getItemsCollection(); ?>
            <?php foreach ($_items as $_item) : ?>
                <?php if (!$_item->getOrderItem()->getParentItem()) : ?>
                    <tbody>
                        <?= $block->getItemHtml($_item) ?>
                    </tbody>
                <?php endif; ?>
            <?php endforeach; ?>
            <tfoot>
                <?= $block->getInvoiceTotalsHtml($_invoice) ?>
            </tfoot>
        </table>
    </div>
    <div class="block block-order-details-view">
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Order Information')) ?></strong>
        </div>
        <div class="block-content">
        <?php if (!$_order->getIsVirtual()) : ?>
            <div class="box box-order-shipping-address">
                <div class="box-title">
                    <strong><?= $block->escapeHtml(__('Shipping Address')) ?></strong>
                </div>
                <div class="box-content">
                    <?php $_shipping = $_invoice->getShippingAddress() ?>
                    <address><?= /* @noEscape */ $block->formatAddress($_shipping, 'html') ?></address>
                </div>
            </div>

            <div class="box box-order-shipping-method">
                <div class="box-title">
                    <strong><?= $block->escapeHtml(__('Shipping Method')) ?></strong>
                </div>
                <div class="box-content">
                    <?php if ($_order->getShippingDescription()) : ?>
                        <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                    <?php else : ?>
                        <?= $block->escapeHtml(__('No shipping information available')) ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
            <div class="box box-order-billing-address">
                <div class="box-title">
                    <strong><?= $block->escapeHtml(__('Billing Address')) ?></strong>
                </div>
                <div class="box-content">
                    <?php $_billing = $_invoice->getbillingAddress() ?>
                    <address><?= /* @noEscape */ $block->formatAddress($_order->getBillingAddress(), 'html') ?></address>
                </div>
            </div>

            <div class="box box-order-billing-method">
                <div class="box-title">
                    <strong><?= $block->escapeHtml(__('Payment Method')) ?></strong>
                </div>
                <div class="box-content">
                    <?= $block->getPaymentInfoHtml() ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endforeach; ?>
