<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>

<div class="col-sm-3"><span class="order-status"><label>Status: </label><?= $block->escapeHtml($block->getOrder()->getStatusLabel()) ?></span></div>
