<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

$blockObj= $block->getLayout()->createBlock('Mageplaza\DeliveryTime\Block\Order\View\DeliveryInformation');
$data              = $blockObj->getDeliveryInformation();
$houseSecurityCode = $data->getData('houseSecurityCode');
$deliveryComment   = $data->getData('deliveryComment');
$deliveryDate      = $data->getData('deliveryDate');
$deliveryTime      = $data->getData('deliveryTime');
?>
<?php /** @var  $block \Magento\Sales\Block\Order\View*/?>
<?php $params = $this->getRequest()->getParams(); ?>
<?php if(isset($params['support']) && $params['support'] == 'Y') { ?>
<style>
	.account .sidebar.sidebar-main, .navbar-right, #navbar { display: none; }
	.account.page-layout-2columns-left .column.main { width: 100%; }
</style>
<?php } ?>
<style>
.account .page-title-wrapper {
    display: block;
}
.account .page-title-wrapper .page-title, [class^='sales-guest-'] .page-title-wrapper .page-title, .sales-guest-view .page-title-wrapper .page-title {
    margin-right: 25px;
    display: none;
}
.return-status, .order-status {
    display: none;
}
.order-date {
    display: none;
}
</style>
<div class="order-details-items ordered">
    <?php $_order = $block->getOrder() ?>
    <?php 
    $date=date_create($_order->getCreatedAt());
    //echo date_format($date,"m/d/Y");
    ?>
    <table>
    <tr>
    <th><label>Order #: </label> <?= $_order->getIncrementId(); ?></th>
    <th><label>Status: </label> <span class="<?= $_order->getStatus()?>"><?= $_order->getStatus()?></th>
    <th><label>Order Date : </label> <span class="orderdate"><?= date_format($date,"m/d/y"); ?></span></th>
    <th> <?php if ($deliveryDate || $deliveryTime): ?>
        <strong><?= $block->escapeHtml(__('Delivery On:')) ?></strong>
        <span><?= $block->escapeHtml($deliveryTime) ?></span>
        <span><?= $block->escapeHtml($deliveryDate) ?></span>
        <span>(<?php $timestamp = strtotime($block->escapeHtml($deliveryDate));

echo $day = date('l', $timestamp);?>)</span>
    <?php endif; ?></th>
    </tr>
    
    
    </table>
    <div class="order-title">
    
    
    
    
        <strong><?php // $block->escapeHtml(__('Items Ordered')) ?></strong>
        <?php if (!empty($_order->getTracksCollection()->getItems())) : ?>
            <?= $block->getChildHtml('tracking-info-link') ?>
        <?php endif; ?>
    
    </div>

    <?= $block->getChildHtml('order_items') ?>

    <?php if ($this->helper(\Magento\GiftMessage\Helper\Message::class)->isMessagesAllowed('order', $_order)
        && $_order->getGiftMessageId()
    ) : ?>
    <div class="block block-order-details-gift-message">
        <div class="block-title"><strong><?= $block->escapeHtml(__('Gift Message for This Order')) ?></strong></div>
        <?php
        $_giftMessage = $this->helper(\Magento\GiftMessage\Helper\Message::class)->getGiftMessageForEntity($_order);
        ?>
        <div class="block-content">
            <dl class="item-options">
                <dt class="item-sender"><strong class="label"><?= $block->escapeHtml(__('From')) ?></strong><?= $block->escapeHtml($_giftMessage->getSender()) ?></dt>
                <dt class="item-recipient"><strong class="label"><?= $block->escapeHtml(__('To')) ?></strong><?= $block->escapeHtml($_giftMessage->getRecipient()) ?></dt>
                <dd class="item-message">
                    <?= /* @noEscape */
                    $this->helper(\Magento\GiftMessage\Helper\Message::class)->getEscapedGiftMessage($_order) ?>
                </dd>
            </dl>
        </div>
    </div>
    <?php endif; ?>

    <div class="actions-toolbar">
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml($block->getBackTitle()) ?></span>
            </a>
        </div>
    </div>
</div>
