
//
// Common
//___________________________

& when (@media-common = true) {
  .page-layout-1column .column.main {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  
}

  


