<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<span>EspriGas Beverage Portal. Powered by <a href="https://www.venture7.com" target="_blank" style="text-decoration: none;">Venture7</a></span>
