<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//$customerSession = $objectManager->create('Magento\Customer\Model\Session');
//$addrssblock= $block->getLayout()->createBlock('\Magento\Customer\Block\Account\Dashboard\Address');
//$groupOptions = $objectManager->get('\Magento\Customer\Model\ResourceModel\Group\Collection')->toOptionArray();

?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="col-md-4">
            <div class="box-information">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Site Address')) ?></span>
                </strong>
            </div>
        </div>
    </div>
</div>