<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, afterRender: setConfig">
    <div class="payment-method-title field choice">
        <div class="available-credit">
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
            <label data-bind="attr: {'for': getCode()}" class="label">
                <span data-bind="text: getTitle()"></span>
            </label>
        </div>

        <div class="payment-method-content">
            <!-- ko foreach: getRegion('messages') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div data-role="checkout-messages" class="messages" data-bind="visible: !isCanPlace()">
                <div data-bind="visible: isBalanceExceed()" role="alert" class="message message-error error">
                    <div data-ui-id="checkout-cart-validationmessages-message-error">
                        <!-- ko i18n: 'Company Store Credit cannot be used for this order because your order amount exceeds your credit amount.' --><!-- /ko -->
                    </div>
                </div>
                <div data-bind="visible: (areCurrenciesDifferent() && !isBaseCreditCurrencyRateEnabled())" role="alert" class="message message-error error">
                    <div data-ui-id="checkout-cart-validationmessages-message-error">
                        <!-- ko i18n: 'The Company Store Credit method is not available in the selected currency. Please contact the seller.' --><!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- ko foreach: getRegion('cards') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                <!--/ko-->
            </div>
            <div class="actions-toolbar" id="review-buttons-container">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked() && isCanPlace()),
                        css: {disabled: (!isPlaceOrderActionAllowed() || !isCanPlace())}
                        "
                            data-role="review-save">
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
