<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong>
        <span class="text" translate="'My Cart'"/>
        <span
            class="qty empty"
            text="getCartParam('summary_count')"
            data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }">
        </span>
    </strong>
</div>

<div class="block-content">

    <if args="getCartParam('summary_count')">
        <strong class="subtitle" translate="'Recently added item(s)'"/>
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
                <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                      render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                />
            </ol>
        </div>
    </if>

    <if args="getCartParam('summary_count')">

        <each args="getRegion('subtotalContainer')" render=""/>
        <each args="getRegion('extraInfo')" render=""/>

        <div class="ws-shop-menu-checkout">
            <div class="ws-shop-viewcart pull-left">
                <div class="actions" if="getCartParam('summary_count')">
                    <div class="secondary">
                        <a class="action viewcart btn btn-sm btn-view" data-bind="attr: {href: shoppingCartUrl}">
                            <span translate="'View Cart'"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ws-shop-checkout pull-right">
                <div class="actions" if="getCartParam('possible_onepage_checkout')">
                    <div class="primary">
                        <button
                            id="top-cart-btn-checkout"
                            type="button"
                            class="action primary checkout btn btn-sm btn-view btn-checkout"
                            data-action="close"
                            data-bind="
                                    attr: {
                                        title: $t('Checkout')
                                    },
                                    click: closeMinicart()
                                "
                            translate="'Checkout'"
                        />
                        <div data-bind="html: getCartParam('extra_actions')"></div>
                    </div>
                </div>
            </div>
        </div>
    </if>

    <ifnot args="getCartParam('summary_count')">
        <strong class="subtitle empty"
                data-bind="visible: closeSidebar()"
                translate="'You have no items in your shopping cart.'"
        />
        <if args="getCartParam('cart_empty_message')">
            <p class="minicart empty text" text="getCartParam('cart_empty_message')"/>
            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span translate="'View cart'"/>
                    </a>
                </div>
            </div>
        </if>
    </ifnot>

    <button type="button"
            id="btn-minicart-close"
            class="action close"
            data-action="close"
            data-bind="attr: { title: $t('Close') }">
        <span translate="'Hide Cart'"/>
    </button>


    <div id="minicart-widgets" class="minicart-widgets" if="getRegion('promotion').length">
        <each args="getRegion('promotion')" render=""/>
    </div>
</div>
<each args="getRegion('sign-in-popup')" render=""/>
